html, body{
    width : 100%;
    height : 100%;
    font-size : 10px;
    font-family : verdana, sans-serif;
}
/*
div {
    border : 1px solid black;
}*/

.container{
    width : 400px;
}

.title{
    width : 400px;
    height : 20px;
    background-color : #aaaaaa;
}

.mainInfo{
    width : 100%;
    height : 100px;
}

.mainInfoText{
    float : left;
    height : 100%;
    background-color : #cccccc; 
    width : 300px;
}

.mainInfoCanvas{
    float : right;
    width : 100px;
    background-color : #dddddd; 
    height : 100%;
}


.sheetsInfo{
    width : 100%;
    overflow: auto; 
}

.sheetsInfoText{
    float : left;
    width : 40%;
    background-color : #eeeeee; 
}

.sheetInfoTextDiv{
    border-bottom : 1px solid grey;
    padding : 1px;
}

.sheetInfoProgressBarDiv{
    border-bottom : 1px solid grey;
    height : 12px;
    padding : 1px;
}

.sheetInfoProgressBar{
    float : right;
    width : 60%;
    background-color : #bbbbbb; 
}

.spanPercent{
    text-align : center;
}

