<form action="/login/login" method="post">        
	<div style="position:absolute;left:24px; top:26px;font:bold 13px opensansR;">
		Utente            <br>
		<input class="inpt" type="text" name="usn" value="" style="width:220px;">
	</div>
	
	<div style="position:absolute;left:24px;top:76px;font:bold 13px opensansR">
		Password            <br>
		<input class="inpt" type="password" name="psw" value="" style="width:168px;">
	</div>
	
	<button style="position:absolute;right:28px;top:94px;width:50px;height:28px;font:12px opensansR;cursor:pointer;">Accedi</button>
		
</form>