<!-- sfondo form di Login -->
<div class="msbk">
<img name="diss_image0" src="<?php echo IMAGE_PATH; ?>login/ms_bk_1.png" style="position:absolute;left:0;top:0;"/>
<img name="diss_image1" src="<?php echo IMAGE_PATH; ?>transparent.png" style="position:absolute;left:0;top:0;"/>
</div>

<div id="mainsim_ft">
    <!--<div id="signature"><?php //echo SIGNATURE; ?></div>-->
    <div id="tree">&nbsp;</div>
</div>

<!-- Logo customer -->
<div class="msbk"><img src="<?php echo IMAGE_PATH; ?>ms_logo_custo.png" /></div>


<!-- mainsim Logo -->
<div class="msbk"><img src="<?php echo IMAGE_PATH; ?>ms_logo_1.png" style="margin-top:268px;" /></div>


<!-- form di Login -->
<div class="logform">
    <form action="<?php echo $this->url(array('controller'=>'login','action'=>'login'),null,true);?>" method="post">
        <div style="position:absolute;left:0; bottom:167px;">
            <?php echo "Username";//$lang["lbl_username"]; ?>
            <br />
            <input class="inpt" type="text" name="usn" value="" style="width:178px;" />
        </div>
        <div style="position:absolute;left:0;bottom:121px;">
            <?php echo "Password";//$lang["lbl_password"]; ?>
            <br />
            <input class="inpt" type="password" name="psw" value="" style="width:124px;" />
        </div>
            <input type="submit" class="btnlogin"  value="<?php echo "Login";//$lang["lbl_login"]; ?>" />
    </form>
<!-- link opzionali -->
    <div style="position:absolute;left:0;bottom:0;text-align:right;width:100%;line-height:15px;">        
        <a href="index.php?route=account" title="<?php echo "Create an account";//$lang["lbl_create_account"]; ?>"><?php echo "Create an account";//$lang["lbl_create_account"]; ?></a><br />
        <a href="index.php?route=forgot_pw" title="<?php echo "Forgot your password?"//$lang["lbl_forgot_pw"]; ?>"><?php echo "Forgot your password?"//$lang["lbl_forgot_pw"]; ?></a><br />
        <a href="index.php?route=login_help" title="<?php echo "Need help?";//$lang["lbl_help"]; ?>"><?php echo "Need help";//$lang["lbl_help"]; ?></a>
    </div>
</div>

<!-- warning message -->
<?php
        if(isset($msg)) {
            $msgbox = new Cls_alert_box($msg);
            echo $msgbox->mf_draw_box();
        }
?>
