<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" />
        <title>Mainsim Importer</title>
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>library/default.js"></script>        
        <script>
        window.onload = function (e) {            
            mf$('d_type').onchange = function (e) {mf$('subitems').style.display = (this.value ? 'block' : 'none'); };
            mf$('d_all').onchange = function (e) { mf$('subitems').style.display = (this.value ? 'none' : 'block'); };
            mf$('module').onchange = function (e) { setSubModules(); }
            mf$('delete').onclick = function (e) {
                parent.moGlb.confirm.show(moGlb.langTranslate("Are you sure you want to proceed?"), function () {
                    parent.moGlb.loader.show();
                    var data = {
                        table: mf$('module').options[mf$('module').selectedIndex].value,
                        types: mf$('submodule').options[mf$('submodule').selectedIndex].value,
                        delete_ui: mf$('ui').checked?1:0,
                        delete_bm: mf$('bkm').checked?1:0,
                        strage: mf$('d_all').checked?1:0
                    };
                    Ajax.sendAjaxPost("<?php echo $this->baseUrl(); ?>/admin/datamanager/delete", "params="+JSON.stringify(data), 'setResult', true);
                });
            }
            setSubModules();
        };
        var setSubModules = function (o) {
            if(!o) {
                var table = mf$('module').options[mf$('module').selectedIndex].value, i = 0;
                Ajax.sendAjaxPost("<?php echo $this->baseUrl(); ?>/admin/datamanager/get-types", 'table='+table, 'setSubModules');
            } else {
                while(mf$('submodule').options.length > 0) { mf$('submodule').remove(i); i++; }
                var types = JSON.parse(o);
                for(var i in types) mf$('submodule').options.add(new Option(moGlb.langTranslate(types[i]), types[i]));
            }
        };
        var setResult = function (o) {
            parent.moGlb.loader.hide();
            var res = JSON.parse(o);
            if(res.status == 'strage') location.href = '<?php echo $this->baseUrl(); ?>';
            else { with(mf$('result')) { setAttribute("class", res.status); innerHTML = res.message; } }
        };
        </script>
        <style>
        body { background-color: #ffffff; }    
        </style>
    </head>
    <body>
        <div id="delete_ui">
            Do you want to
            <div class="action">
                <input id="d_type" type="radio" name="action" value="1" />delete items for a specific type
                <div id="subitems">
                    <select id="module">
                        <option value="t_workorders" selected="true">Work Orders</option>
                        <option value="t_wares">Wares</option>
                        <option value="t_selectors">Selectors</option>
                        <option value="t_systems">System Settings</option>                        
                        <option value="cross">Cross</option>                        
                    </select>
                    <select id="submodule"></select>
                    <label><input id="ui" type="checkbox" value="1" />Back to default UI setting (deleting extra UI)</label>
                    <label><input id="bkm" type="checkbox" value="1" />Back to default bookmark setting (deleting extra bookmark's fields)</label>
                </div>
            </div>
            <div class="action">
                <input id="d_all" type="radio" name="action" value="1" />destroy all items in database <?php echo $this->db_name;?>
            </div>
            <button id="delete">Delete</button>
            <div id="result"></div>
        </div>
    </body>
</html>