<html>
    <head>
        <title>Importer</title>        
        <script type="text/javascript" src="jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="default.css" />
    </head>
    <body>             
        <?php if(!$this->imported) :?>
            <form action="<?php $this->url(array('controller'=>'datamanager','action'=>'wo-generator','module'=>'admin'),null,true)?>" method="POST">
                <div style="text-align:center">Here you can generate past workorders from periodic generators, meters.</div>
                <div style="text-align:center; margin-bottom : 35px;">
                    Insert a starting and an ending date. Empty fields means all periodics generation.
                </div> 
                <div style="text-align:center">
                    <p>
                        <label for="start_date">Start Date</label>                    
                        <input type="text" name="start_date" /><label for="start_date"> (d-m-Y ex : 01-02-2012)</label><br /><br />
                    </p>
                    <p>
                        <label for="end_date">End Date</label>
                        <input type="text" name="end_date" /><label for="end_date"> (d-m-Y ex : 01-02-2012)</label><br /><br />
                    </p>
                    <p>
                        <label for="limit">Number of periodic generated</label>
                        <input type="text" name="number_of_creation" /><label for="limit"> (if empty, system will generate every periodic finded)</label><br />
                    </p>
                    <p>
                        <label for="types">Workorder type</label>
                        <select name="f_type_id" id ="types">
                            <option value="0">All</option>
                            <option value="3">Periodic Generators</option>
                            <option value="11">Meter Generator</option>
                            <option value="19">Inspection Generator</option>
                        </select>
                    </p>
                </div>
                <div id="choose_action" style="margin-top : 20px;" >
                    <div style="text-align:center">
                        <input type ="submit" value="Generate" />
                    </div>
                    <br clear ="all" />
                </div>
            </form>
        <?php else : ?>
            <div style="margin-top : 50px;text-align : center"><?php echo $this->number_created; ?> workorders generated! <a href="<?php $this->url(array('controller'=>'datamanager','action'=>'wo-generator','module'=>'admin'),null,true)?>">Click here</a> to come back home</div>
        <?php endif; ?>
        <div id="logo">&nbsp;</div>
        <div id="credits">
            for any problem e-mail to <a href="mailto:info@unp.it">UNPlugged</a>
        </div>
    </body>
</html>
    