<!DOCTYPE html>
<html>
    <head>
        <title>mainsim 3.0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" /> 
        <script src="<?php echo $this->baseUrl();?>/public/msim_jslib/ajax.js"></script>
        <script src="<?php echo $this->baseUrl();?>/public/msim_jslib/base64.js"></script>
        <script>
            var url = "<?php echo $this->baseUrl()?>/admin/scripts/";
            function response(rsp) {
                resp = JSON.parse(rsp);                  
                id = parseInt(document.getElementById('script').options[document.getElementById('script').selectedIndex].value);
                name = document.getElementById('script').options[document.getElementById('script').selectedIndex].text
                
                document.getElementById('f_script').innerHTML = resp.f_script
                document.getElementById('f_name').value = name
                document.getElementById('f_id').value = id;                
                document.getElementById('f_type').value = resp.f_type;
            }
            
            function saved(rsp)
            {
                resp = JSON.parse(rsp);                
                if(typeof(resp['message']) == "undefined") {
                    alert("Script has been saved");
                }
                else {
                    alert(resp['message']);
                }
            }
            
            function chooseScript() {
                id = parseInt(document.getElementById('script').options[document.getElementById('script').selectedIndex].value);
                if(id != 0) {
                    if(document.getElementById('f_script').innerHTML != '') {
                        conf = confirm("Textarea is not clear. Are you sure do you want change script");
                        if(conf) {
                            document.getElementById('f_script').innerHTML = '';
                            Ajax.sendAjaxPost(url+"get-script", "f_id="+id, "response", true);
                        }
                    }
                    else {
                        Ajax.sendAjaxPost(url+"get-script", "f_id="+id, "response", true);
                    }
                }
                else {
                    if(document.getElementById('f_script').innerHTML != '') {
                        conf = confirm("Textarea is not clear. Are you sure do you want change script");
                        if(conf) {
                            document.getElementById('f_name').value = '';
                            document.getElementById('f_id').value = 0;
                            document.getElementById('f_script').innerHTML = '';
                            document.getElementById('f_type').value = '';
                        }
                    }
                }
            }
            function save()
            {                
                name = document.getElementById('f_name').value;
                id  = document.getElementById('f_id').value;
                script = document.getElementById('f_script').value;
                type = document.getElementById('f_type').value;
                
                if(name == ''){alert('Script name cannot be empty');return;}
                if(type == ''){alert('Type cannot be empty');return;}
                var data = {
                    'f_id' : id,
                    'f_name' : name,
                    'f_script' : script,
                    'f_type' : type
                };
                Ajax.sendAjaxPost(url+"save-script", "params="+Base64.encode(JSON.stringify(data)), "saved", true);
            }
            
            function clearAll()
            {
                var conf = confirm("Are you sure do you want clear the form?");
                if(conf) {
                    document.getElementById('f_name').value = '';
                    document.getElementById('f_id').value = 0;
                    document.getElementById('f_script').innerHTML = '';
                    document.getElementById('f_type').value = '';
                    document.getElementById('script').selectedIndex = 0
                }
            }
        </script>
    </head>
    <body>
        <div>
            <div id="toolbar">
                <select onchange="chooseScript()" id="script">
                    <option value="0">Create new script</option>
                    <?php foreach($this->list as $value => $label): ?>
                        <option value="<?php echo $value;?>"> <?php echo $label;?></option>                    
                    <?php endforeach; ?>                    
                </select>
            </div>
            <div id="edit-form">
                <form name="edit-script">
                    <input type="hidden" value="0" name="f_id" id="f_id"/>
                    <p>
                        <label for="f_name" >Script Name</label><br />
                        <input type="text" value="" name="f_name" id="f_name"/>
                    </p>                    
                    <p>
                        <label for="f_script" >Code</label><br />
                        <textarea name="f_script" id="f_script" cols="130" rows="45"></textarea>
                    </p>
                    <p>
                        <label for="f_type">Type</label><br />
                        <input type="text" value="" name="f_type" id="f_type"/>
                    </p>
                    <p>
                        <input type="button" value="Save" onclick="save()" />
                        <input type="button" value="Clear" onclick="clearAll()" />
                    </p>
                </form>
                
            </div>
        </div>
    </body>
</html>