/************************ Main ************************/
@font-face {
    font-family: 'opensansL';
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
         url('font/OpenSans-Light.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#svgCustomFontName') format('svg'),
         url('font/OpenSans-Light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'opensansR';
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('font/OpenSans-Regular.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#svgCustomFontName') format('svg'),
         url('font/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'FlaticonsStroke';
    src: url('font/flaticons-stroke.eot?#iefix') format('embedded-opentype'), 
         url('font/flaticons-stroke.ttf') format('truetype'),
         url('font/flaticons-stroke.svg#svgCustomFontName') format('svg'),
         url('font/flaticons-stroke.woff') format('woff');
}

body, html {
    margin: 0;
    padding: 0;
    font: 11px opensansR;
    color: #000000;
    overflow: hidden;
}

input,textarea { outline: none; }


canvas, div {
-ms-touch-action: none;
}

div#mainsim_hd, div#mainsim_ft {
    position: absolute;
    margin: 0;        
    left: 0;
    width: 100%;        
    z-index:1;
}

div#mainsim_bd {
    position: absolute;
    margin: 0;        
    left:37px; top: 37px;
    right:0;bottom: 1px;     
    z-index: 10; 
    background-color:#DDD;
}

div#mainsim_hd {
    top: 0;
    height: 37px;
    overflow: hidden;
}
div#mainsim_hd #bglogo {
    background-color: #6F8D97;
    height: 37px;
}
.admin div#mainsim_hd #bglogo { background-color: #c9c9c9; }
div#mainsim_hd #bglogo #logo { height:37px; }
div#mainsim_hd #bglogo #logo .logobg { background: url(../msim_images/default/mainsim_logo.png) no-repeat left top; width: 166px; height: 100%;  }
div#mainsim_hd #bglogo #logo a {
    position: absolute;
    bottom:3px; left:160px;
    text-decoration: none;    
}
#bulletin {
    line-height:14px;
    padding-top: 4px;
    position: absolute;
    right:25px;
    top: 0;
    width: 510px;
    text-align: right;  
    color:#FFFFFF;  
}
div#no-bulletin {
    text-align: center;
    margin-top: 8%;
}
div#no-bulletin > * { color: #9a9a9a; }
div#no-bulletin div.newspaper {
    /*font: 74px FlaticonsStroke;*/
    background-color: #9a9a9a;
    border-radius: 150px;
    color: #ffffff;
    font: 74px FlaticonsStroke;
    width: 150px; height: 150px;
    line-height: 144px;
    display: table;
    margin: 0 auto;
}
div#no-bulletin div.text { font-size: 24px; }
#tabcontainer {  
    position: absolute;
    left: 0; top: 0; width: 37px; height: 100%;
    background-color: #6F8D97;
}
.admin #tabcontainer { background-color: #c9c9c9; }
div#mainsim_hd a, div#mainsim_bd a { color: #FFFFFF; }
div#mainsim_hd a:link, div#mainsim_hd a:visited, div#mainsim_bd a:link, div#mainsim_bd a:visited { text-decoration: none; }
div#mainsim_hd a:hover, div#mainsim_bd a:hover { text-decoration: underline; }

.mask {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 0.75; filter: alpha(opacity=75);
    background-color: #4A6671;
    display: none;
}
.mask.transparent {background-color: none;}

.debug {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid red;
    height: 250px;
    position: absolute;
    z-index: 10000;
    bottom:0; left:0; right:0;
    background: #ffffff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    overflow: auto;
}
.debug.reduce { width: 16px; height: 16px; background: #ffffff url(../msim_images/default/expand.png) no-repeat 0 0; }
.debug hr { height: 1px; color: #808080; }

div.module_box {
    position: absolute;
}
#importInstant { font-size: 14px; }
#importInstant div { background-repeat: no-repeat; background-position: 5px center; padding: 5px; padding-left: 30px; }
#importInstant .data-error { color: #ff0000; }
#importInstant .data-loader { background-image: url("../msim_images/default/ico_loading.gif"); }
div.module_box.frame {
    overflow: hidden;    
}

div.module_box.frame.shadow {
    
}

div.module_box .hd,
div.module_box .hd.hor {
    font: 14px opensansR;
    white-space:nowrap;
}

div.module_box .hd,
div.module_box .hd.hor {
    height: 28px;
    position: absolute;
    top: 1px; left: 1px; right: 1px;
    background-color: #496670;
}

div.module_box .hd {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

div.module_box .hd.hor {
    border-radius: 2px;
}

div.module_box .hd.lighter,
div.module_box .hd.hor.lighter {
    background-color: #a1c24d;
}

div.module_box .hd.lighter,
div.module_box .hd.hor.lighter {
    background-color: #a1c24d;
}

div.module_box .hd span { display: block; }
div.module_box .hd.hor span {
    /*display: none;*/
    position: absolute;
    bottom: 10px; left: 0;    
    transform: rotate(270deg);
    width: 100%;
    padding: 0px;
    transform: rotate(180deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);    
    -sand-transform: rotate(270deg);
    -ms-transform: rotate(180deg); /* IE */
    writing-mode: tb-lr;
    -ms-writing-mode: bt-rl;
}
                
div.module_box .hd span {
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

div.module_box .hd .tip {
    color: #ffffff;    
    font: 16px FlaticonsStroke;
    float: right; right: 6px; top: 3px;
    position: absolute;
}
div.module_box .hd .tip:hover { cursor: pointer; }

/*div.module_box .hd .hcnv {
    bottom: 7px; left:0px;
}*/
div.module_box .mbody_frame {
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    top: 29px; left: 1px; right: 1px; bottom: 1px;
    overflow: hidden;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
div.module_box .mbody_frame.hor {
    top: 1px; left: 29px; right: 1px; bottom: 1px;
}
div.module_box .mbody_frame.full,
div.module_box .mbody_frame.hor.full {
    top: 1px;
}
div.module_box .mbody {
    background-color: transparent;
    border-width: 0px;;
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    overflow: hidden;
}
div.module_box .mbody .lContainer {
    position:absolute;
}

div.module_box .mbody table {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
}



div.module_box .mbody .mcover {
    position:absolute;
    width: 100%; height: 100%;
    background-color: #ffffff;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    display: none;
}

div.module_box .mbody .aContainer { position: absolute; }
div.module_box .mbody .aContainer img { padding: 0 2px 0 2px; cursor: pointer; }

/* Summary module */
div.module_box .summary { display: table; width: 98%; margin-top: 3px; overflow: hidden; font: 13px opensansR; }
div.module_box .summary > * { white-space: nowrap; }
div.module_box .summary .icon {
    width: 24px; height: 24px;
    background-repeat: no-repeat;
    float:left; left:0;
    background-position: 7px 6px;
    margin-top: 5px;
}
div.module_box .summary .icon.avatar { border: 1px solid #9a9a9a; width: 50px; height: 50px; background-position: center center; }
div.module_box .summary .label {
    padding-top: 5px; padding-left: 5px; font-weight: bold;
    text-overflow: ellipsis;
}
div.module_box .summary .label:hover, div.module_box .summary .types .type:hover { text-decoration: underline; cursor: pointer; }
div.module_box .summary .desc { font-weight: normal; }
div.module_box .summary .count {
    float: right; right: 0; padding-top: 5px; font-weight: bold; color: #999999;
}
div.module_box .summary .icon, .summary .label, .summary .count {
    display: inline-block;
}
div.module_box .summary .types { padding-left: 0px; font-size: 10px; }
div.module_box .summary .types .type { float: left; left: 5px; width: 55px; }
div.module_box .summary .label.selected,
div.module_box .summary .types .type.selected { color: #60828D; }
div.module_box .summary.inboxFromMe { position: absolute; left: 53px; top: -25px; }
div.module_box .summary.inboxFromMe .count { position: absolute; right: 53px; }
/**/

/* Loader */
.loader {
    position: absolute;
    /*border:1px solid #A8A8A8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    background: #ffffff url('../msim_images/default/popup/loader.gif') no-repeat center 60px;
    opacity: 0.90;
    filter: alpha(opacity=90);
    /*-webkit-box-shadow: 2px 2px 4px 0px #a0a0a0;
    -moz-box-shadow: 2px 2px 4px 0px #a0a0a0;
    box-shadow: 2px 2px 4px 0px #a0a0a0;
    width: 240px;*/ height: 180px;
    left: 0px; right: 0px;
}
.loader .bd { width: 100%; }
#popupLoader { width: 100%; }
/*.loader .hd, .loader .bd { position: relative; }*/
.loader .hd .btn { display: none; }
/* loader report (progress) */
.progress {
    position: absolute;
    background: #ffffff url('../msim_images/default/popup/loader.gif') no-repeat center 100px;
    width: 400px; height: 250px;
}
.loader .text {
    position: absolute;
    left: 5px; right: 5px; top: 120px;
    height: 50px;
    text-align: center;
    color: #505050;
    font-size: 14px;
}
.loader.noload { background-image: none; }
/**/

/* Offline */
.offline {
    position: absolute;
    /*border: 1px solid #A8A8A8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff url('../msim_images/default/popup/alert.png') no-repeat center 120px;*/
    opacity: 0.90;
    filter: alpha(opacity=90);
    /*-webkit-box-shadow: 2px 2px 4px 0px #a0a0a0;
    -moz-box-shadow: 2px 2px 4px 0px #a0a0a0;
    box-shadow: 2px 2px 4px 0px #a0a0a0;
    width: 340px; height: 150px;*/
    text-align: center;
    padding: 10px;
    color: #A8A8A8;
    height: 180px;
    left: 0px; right: 0px;
    background-color: #ffffff;
}
.offline .hd {
    height: 28px;
    position: absolute;
    top: 5px; left: 0px; right: 0px;
    background-color: #c71201;
    font: 16px opensansR;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;    
}
.offline .bd {
    width: 100%;
    top: 75px;
}
.offline .bd text {
    font-size: 14px;
    /*font-weight: bold;*/
    width: 100%;
}
.offline .bd .title { display: block; margin-bottom: 10px; padding-top: 2px; }
.offline .bd .title span.alert { font: 14px FlaticonsStroke; color: #c71201; margin-right: 5px; }
.offline .bd .title span { font-size: 18px; }
.offline .hd .btn { display: none; }
#offline { width: 100%; }
/**/

/* Alert and confirm */
#popupAlert, #popupConfirm { width: 100%; height: 100%; font-size: 14px; }
#popupAlert .text,
#popupConfirm .text{
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 35px;
    padding: 5px;
    text-align: center;
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;*/
}
#popupAlert .submit,
#popupConfirm .submit {
    position: absolute;
    top: 95px; left: 0px; right: 0px; bottom: 0px;
}
#popupAlert .submit > button,
#popupConfirm .submit > input {
    /*height: 23px;    
    position: relative;    
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);*/
}
#popupAlert .submit > button { position: absolute; left: 25%; right: 25%; width: 50%; }
#popupConfirm .submit > input.ok { position: absolute; left: 5%; width: 40%; }
#popupConfirm .submit > input.cancel { position: absolute; right: 5%; width: 40%; }
/*#popupAlert .submit > button:hover,
#popupConfirm .submit > button:hover {
    background-color: #dee9bb;
}*/

/**/

/* Treegrid search windows */
.searchWindow.string { width: 218px; height: 150px; }
.searchWindow.date { width: 218px; height: 200px; }
.searchWindow.number { width: 218px; height: 150px; }
.searchWindow form { width: 100%; height: 100%; padding: 5px; }
.searchWindow div, .searchWindow span { font-size: 14px; margin-left: 4px; }
.searchWindow select, .searchWindow input[type=text], .searchWindow div { display: block; margin-bottom: 4px; }
.searchWindow input[type=checkbox] { float: left; left: 0; top: 10px;  }
.searchWindow span { float: left; left: 25px; top: 120px; position: absolute; }
.searchWindow button { float: right; right: 15px; bottom: 15px; }
.searchWindow span.dateMask {
    background-color: #ffffff;
    opacity: 0.5; filter: alpha(opacity=50);
    width: 215px; height: 51px;
    top: 115px; left: 0px;
    z-index: 2;
}
.searchWindow input.default.date {
    background: #ffffff url('../msim_images/default/components/calendar-1.png') no-repeat 180px 2px;
    cursor: pointer;    
    border-color: #aaaaaa;
}
/**/

/* Document attach window */
.attachWindow {
    /*width: 280px; height: 130px;*/
    display: none;
    padding: 15px;
    position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;
}
.attachWindow input[type=file] {
    position: absolute;
    float: right;
    top: 5px;
    z-index: 2;
    opacity: 0;
    width: 245px;
}
.attachWindow input[name=fakename],
.attachWindow input[name=f_linkname] {
    float: left;
    margin-left: 0px;
    position: absolute;
    width: 245px;
}
.attachWindow input[name=fakename] {
    top: 5px;
    background: url('../msim_images/default/components/paperclip-1.png') no-repeat 231px 2px;
}
.attachWindow input[name=f_linkname] { top: 45px; }
/*.attachWindow input[name=f_linkname] {
    float: left;
    left: -4px; top: 50px;
    position: absolute;
    width: 265px;
}*/
.attachWindow div.doc {
    display: block;    
    position: absolute;
    top: -10px; left: 5px;
}
.attachWindow div.url {
    display: block;    
    position: absolute;
    top: 30px; left: 5px;
}
.attachWindow input:hover { cursor: pointer; }
.attachWindow button {
    position: absolute;
    float: right;
    right: 0px; top: 80px;
    font: 13px opensansR;
}
.imgPopupBtn {
    position: absolute; bottom: 4px;
    font: 13px opensansR;    
    border: 1px solid #9D9D9D;
    border-radius: 3px 3px 3px 3px;        
}
.imgPopupBtn.right { right: 4px; }
.imgPopupBtn.left { left: 4px; }
/**/

/* Image window */
.imgWindow {
    width: 596px; height: 475px;
    background-repeat: no-repeat; background-position: center center;
    background-size: contain;
    margin-left: 2px;
    margin-top: 4px;
}

.mbody .fieldset {
    border: 1px solid #4A6671; /*border: 1px solid #60828d;*/
    background-color: #EDEFF2; /*background-color: #fbfbfb;*/
    padding: 15px 8px 8px 4px; margin: 8px 4px 12px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    min-width: 200px;
}
.mbody .fieldset .labelling .open,
.mbody .fieldset .labelling .close { font: 14px FlaticonsStroke; color: #4A6671; position: absolute; margin-top: -1px; margin-left: -15px; }
.mbody .fieldset .labelling .open { display: none; }
.mbody .fieldset .labelling .close { display: block; }
.mbody .fieldset.empty .labelling .open { display: block; }
.mbody .fieldset.empty .labelling .close { display: none; }
.mbody .fieldset .labelling {
    /*background: url('../msim_images/default/components/reduce.png') #FFFFFF no-repeat 0 0;*/
    /*display: inline;*/
    margin-left: 10px; margin-top: -15px;
    padding: 1px 5px 1px 5px;
    position: absolute;
    cursor: pointer;
    color: #4A6671;
    font: bold 13px opensansR;
    /*background-color: #ffffff;*/
    
}
.mbody .fieldset.empty .labelling {
    /*background-image: url('../msim_images/default/components/expand.png');*/
}
.mbody .fieldset.hidden {
    border: none;
    background-color: transparent;
    margin: 0; padding: 0;
}
.mbody .fieldset.hidden .labelling { display: none; }
.mbody .fieldset .component {
    min-width: 200px;
    display: inline-block;
    margin: 4px 8px 4px 8px; padding: 2px;
    vertical-align: top;
    height: auto !important;  /* for newest browsers */
    height: 50px;      /* for IE5.x and IE6 */
    min-height: 50px;  /* for newest browsers */
}
.mbody .component.settings {
    font: 16px FlaticonsStroke; color: #d6d7d9;
    float: right;
    width: 30px; height: 30px;
    position: absolute;
    top: 0; right: 0;
    text-align: center;
}
.mbody .component.settings.mockup {
    right: 30px;
}
.mbody .component.settings:hover { cursor: pointer; }
.mbody .fieldset .component.newline { display: block; min-height: 0px; height: 0px; padding: 0px; }
.mbody .fieldset .component.hide,
.mbody .fieldset.empty .component,
.mbody .fieldset.empty .component.newline { display: none; }
.mbody .fieldset .component > * { display: inline-block; }
.mbody .fieldset .component span.label { font: bold 13px opensansR; width: 162px; margin-left: 3px; }
/*.mbody .fieldset .component .info,*/
.mbody .fieldset .component .batch { width: 16px; height: 16px; }
.mbody .fieldset .component .batch:hover { cursor: pointer; }
.mbody .fieldset .component .batch.hide { display: none; }
.mbody .fieldset .component .batch.on, .mbody .fieldset .component .batch.off { font: 16px FlaticonsStroke; }
.mbody .fieldset .component .batch.on { color: #4A6671; }
.mbody .fieldset .component .batch.off { color: #ff0000; }
.mbody .fieldset .component .batch.on .on { display: inline-block; }
.mbody .fieldset .component .batch.on .off { display: none; }
.mbody .fieldset .component .batch.off .on { display: none; }
.mbody .fieldset .component .batch.off .off { display: inline-block; }

/*------------*/
.mbody .fieldset .component .unique { width: 16px; height: 16px; }
.mbody .fieldset .component .unique:hover { cursor: pointer; }
.mbody .fieldset .component .unique.hide { display: none; }
.mbody .fieldset .component .unique.on2, .mbody .fieldset .component .unique.on { font: 16px FlaticonsStroke; }
.mbody .fieldset .component .unique.on2 { color: #D6D6D6; }
.mbody .fieldset .component .unique.on { color: #B5B5B5; }
.mbody .fieldset .component .unique.on2 .on2 { display: inline-block; }
.mbody .fieldset .component .unique.on2 .on { display: none; }
.mbody .fieldset .component .unique.on .on2 { display: none; }
.mbody .fieldset .component .unique.on .off{ display: none; }
.mbody .fieldset .component .unique.on2 .off{ display: none; }
.mbody .fieldset .component .unique.on .on { display: inline-block; }

.mbody .fieldset .component .unique2.off { font: 16px FlaticonsStroke; }
.mbody .fieldset .component .unique2:hover { cursor: pointer; }
.mbody .fieldset .component .unique2.off { color: #525252; }
.mbody .fieldset .component .unique2.off .on{ display: none; }
.mbody .fieldset .component .unique2.off .on2{ display: none; }
.mbody .fieldset .component .unique2.off .off { display: inline-block; }


/*------------*/


.mbody .fieldset .component .info { /*background: url('../msim_images/default/components/info.png') no-repeat 3px -3px;*/ font: 16px FlaticonsStroke; color: #d6d7d9; margin-left: 4px; }
.mbody .fieldset .component .info:hover { cursor: help; }
.mbody input, .mbody textarea, .mbody select,
.mbody .fieldset .component canvas { margin-top: 2px;}
.mbody input, .mbody textarea, .mbody select, input.default,
textarea.default, select.default, .mbody .image {
    margin-left: 4px; width: 192px;
    border: 1px solid #436B75; /*border: 1px solid #60828D;*/
    /*padding: 3px;*/
    font: 13px opensansR;    
}
.mbody select.loading { background: url('../msim_images/default/ico_loading.gif') no-repeat center center; }
input, textarea, select, .mbody .image {
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    padding-top: 0px;
    /*box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .25);*/
}
.mbody input:focus, .mbody textarea:focus, .mbody select:focus { box-shadow: 1px 1px 2px #275563;  background-image: none; }

input.picklist.cancel, input.picklist.cancel.mandatory {
    background-image: url("../msim_images/default/components/x-2.png");
    background-repeat: no-repeat;
    background-position: 3px 4px;
    text-indent: 20px;
    cursor: pointer;
}
input.readonly, textarea.readonly, select.readonly,
input.disabled, textarea.disabled, select.disabled { 
    color: #856D9E;
    border-color: #9a9a9a; /*border-color: #dedede;*/
    box-shadow: none;
    background-color: #d6d7d9; /*background-color: #6e8d97;*/
}
input.mandatory, input.datetime.mandatory, input.datetime.mandatory:focus,
input.picklist.mandatory, input.picklist.mandatory:focus,
textarea.mandatory, select.mandatory,
input.attach.mandatory {
    border-color: #6e9daa;
    background-color: #A9BCC2; /*background-color: #D7E0E2;*/
    /*box-shadow: inset 0px 4px 8px rgba(169, 188, 193, 1);*/
}
input.error, textarea.error, select.error {
    border-color: #F25C5C;
    box-shadow: inset 0px 4px 8px rgba(255, 0, 0, .50);
}
input.datetime, input.datetime:focus {
    background: #ffffff url('../msim_images/default/components/calendar-1.png') no-repeat right 3px center;
    cursor: pointer;
}
input.picklist, input.picklist:focus {
    background: #ffffff url('../msim_images/default/components/zoom-in-1.png') no-repeat right 3px center;
    cursor: pointer;
}
input.link { border: none; text-decoration: underline; box-shadow: none; background-color: #ffffff; border: 1px solid #60828D; }
input.datetime.readonly, input.attach.readonly,
input.datetime.disabled, input.attach.disabled { background-image: none; cursor: auto; }
input.attach, input.attach:focus {
    background: #ffffff url('../msim_images/default/components/paperclip-1.png') no-repeat right 3px center;
    cursor: pointer;
}
input.link.attach {
    background: transparent url("../msim_images/default/components/x-2.png") no-repeat scroll left center;
    border: none;
    text-indent: 15px;
}
input.highlight {
    background-color: #FFA6A6;
}

input.nohighlight {
    background-color: #ffffff;
}

button, input[type=button] {
    padding:4px;
    border-radius: 2px;
    /*width: 94%;*/
    border:0px;
    background-color:#A1C24D;
    font:13px opensansR; 
    color:#FFF;
    cursor:pointer;
}
button:hover{
    background-color:#D0D0D0;
    color:#888;
}

/*CSS FATTO DA LARA*/
.button_for_edit{
    width: 100%;
    padding-top: 5px;
}

.button_for_edit:hover{
    background-color: #F1EEEE;
}

/*button.button_for_edit{
    border:transparent;
}*/
.correct_position_image{
    display: block;
}
.correct_position{
    display: block;
}


/*******************/

.autocomplete {
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #60828D;
}
select.phases { position: absolute; margin: 0px; height: 28px; }
.mbody .fieldset .component .image {
    width: 160px; height: 160px;
    border: 1px solid #60828D;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 0px;
    /*background: url('../msim_images/default/components/photo-1.png') no-repeat center center;*/
}
.mbody .fieldset .component .image:hover { cursor: pointer; }
.mbody .fieldset .component .image span {
    position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;    
}
.info_cloud {
    position: absolute;
    border: none; /*border: 1px solid #CCBFA1;*/
    background-color: #496670; /*background-color: #F7EDD5;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    max-width: 400px;
    text-align: justify;
    top: -3px; left: 18px;
    z-index: 10000;
    color: #ffffff;
    font: 13px opensansR;
}
.info_cloud.hide {display:none;}
.info_cloud .fieldname {
    font-style: italic;
}
/* --- */

/* Windows */
.win {
    position: absolute;
    padding: 1px;
    border: 7px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
}

.win.shadow {
    /*box-shadow: 1px 1px 2px #275563;*/
}

.win .hd {
    height: 28px;
    position: absolute;
    top: 1px; left: 1px; right: 1px;
    background-color: #496670;
    font: 14px opensansR;
    white-space:nowrap;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.win_tlt {
  margin-top:1px;
  width:84%;
  font: 14px opensansR;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}


.win .hd .btn {
    /*background: url('../msim_images/default/popup/dispose.png') no-repeat top left;*/
    float: right;    
    position: absolute;
    top: 1px; right: 5px;    
    width: 16px; height: 16px;
    cursor: pointer;
}

.win .bd {
    position: absolute;
    background-color: #ffffff;
    top: 28px; left: 1px; right: 1px; bottom: 1px;
}
.win.overlay .bd { background-color: #dddddd; }

.win .hd div {
    font-weight: bold;
    color: #ffffff;
    padding-left: 7px;
    padding-top: 2px;
}
/**/
#credits {
    position: absolute;
    top: 4px;
    width: 346px; height: 29px;
    background-color: #4A6671;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 500;
    left:100%;margin-left:-16px;
    overflow: hidden;
    cursor:pointer;
}

#credits div { position: absolute; }

#credits .hd {
    width: 16px;
    height: 29px;
    top:0; left:0; bottom:0;
    background-color:#4A6671;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


#credits .bd {
    padding-left: 3px;
    background-color: #ffffff;
    color:#000; line-height:13px;
    top:1px; left: 16px; right: 1px; bottom:1px;
    border-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


#credits .bd > * { margin:0px; color:#000; }
#credits .bd .lighter, #credits .bd .lighter a { font:10px opensansR; color:#777777; }

/* Inspection window */
.inspection { padding-top: 10px; width: 250px; height: 75px; }
.inspection input[type=text] { margin-left: 5px; width: 235px; }
.inspection input[type=checkbox] { margin-left: 5px; top: 35px; }
.inspection div {
    position: absolute;
    left: 20px; top: 38px;
    width: 200px;
}
.inspection button { float: right; right: 5px; top: 65px; position: absolute; width: 94%; }
/*.inspection.field { top: 4px; left: 4px; }
.inspection.button { float: right; right: 4px; top: 30px; }*/
/**/

/* Login */

.clBkImg { position:absolute;left:0;top:0;width:100%;height:100%; }  
  
  
.clMsg { text-shadow: #000 2px 3px 4px; }  
 

.inpt    { border:1px solid #aaa;
           left:0;
           height:18px;
           font:13px opensansR;
           color:#444;
           padding: 4px;
}    



a { cursor:pointer; color:#000000; text-decoration:none; }  
a:hover { text-decoration:underline; }
div.logform a { color: #ffffff; }

.boxwarning { position:absolute;
              border:1px solid #72A0AC;        
              background-color:#FFF;
              -moz-border-radius: 4px;
              -webkit-border-radius: 4px;
              border-radius: 4px;
              -moz-box-shadow: 4px 4px 4px #888;
              -webkit-box-shadow: 4px 4px 4px #888;
              box-shadow: 4px 4px 4px #bbb;  }

.login_error {
    position: absolute;
    left:24px; top: 128px;
    color:#f00;
}

/**
 * Logged out
 */
div#mainsim_bd .not_logged,
div#mainsim_bd .not_logged form div.data,
div#mainsim_bd .not_logged form div#buttons {
     width: 350px;
}
div#mainsim_bd .not_logged form div.data,
div#mainsim_bd .not_logged form div#buttons {
     width: 340px;
}
div#mainsim_bd .not_logged form { margin: 5px; }
div#mainsim_bd .not_logged form div.data { height: 30px; }
div#mainsim_bd .not_logged form div.data span,
div#mainsim_bd .not_logged form div.data input {
     display: inline;
     position: relative;
}
div#mainsim_bd .not_logged form div.data span {
     float: left;
     left: 5px;
}
div#mainsim_bd .not_logged form div.data input {
    float: right;
    right: 5px;
}
div#mainsim_bd .not_logged {
    position: relative;
    top: 5px;
    left: 5px;
}
div#mainsim_bd .not_logged .textfield {
    width: 150px;
}
div#mainsim_bd .not_logged #buttons {
    position: relative;
    height: 35px;
    padding-top: 10px;
}
div#mainsim_bd .not_logged #buttons input[type=reset] { float: left; left: 5px; }
div#mainsim_bd .not_logged #buttons input[type=submit] { float: right; right: 5px; }
div#mainsim_bd .not_logged #actions { position: relative; float: right; right: 10px; padding-top: 40px; height: 50px; display: block; }

/*
 * Admin
*/
table.admin {
   /* position: absolute;*/
    width: 100%;
}

table.admin th {
    background: #E1E2E3 repeat-x center center;
    border: 1px solid #C5C6C7;
    height: 24px;
}

table.admin td {
    border-bottom: 1px solid #E1E2E3;
    height: 24px;
    font: 13px opensansR;
    padding: 3px;
}
#admin-msg {
    font: italic 14px opensansR;
    padding-left: 30px;
    padding-top: 30px;
}
.input_admin {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    width: 160px;
    padding: 2px;
    font: 13px opensansR;
    color: #333333;
}


#idEmailContainer {
  width:594px; height:396px;
  background-color:#FFF;
  /*border:1px solid #AAA;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;*/
}

#idEmailContainer select, #idEmailContainer input,
#idEmailContainer textarea, #idEmailContainer .clattachdiv { 
    padding:4px 4px 4px 6px;
    border:1px solid #AAA;
    border-radius:4px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    font:13px opensansR;
 }
 
#idEmailContainer button {
    padding:2px;
    border:1px solid #AAA;
    border-radius:4px;
    border:1px solid #AAA;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
}
 
#idEmailContainer select:focus, #idEmailContainer input:focus,
#idEmailContainer textarea:focus, #idEmailContainer button:focus {
    box-shadow: 0px 0px 8px #275563;  background-image: none;
}

/**
  * Multiple attach
  */
#contbox{
  position:absolute;left:50%;top:50%;width:306px;height:144px;
  margin-left:-153px; margin-top:-62px;
  border:1px solid #AAA;
  border-radius:9px;
  background-color:#CCC;
  box-shadow: 5px 5px 10px #BBB;
  display:none;
}
#idAttachContainer{
  width:300px;height:50px;  
}
/**
  * Attachment
  */
#main_box{
    width: 500px;
    height: 230px;
}

#url_icon{
    width: 42px;
    height: 42px;
    margin-top: 30px;
    float: left;
    margin-left: 170px;
}

#pcFile_icon{
    width: 47px;
    height: 42px;
    margin-top: 30px;
    float:right;
    margin-right: 170px;
}


.botton_u_p{
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
   -webkit-shadow: none;
   -moz-shadow: none;
   -o-shadow: none;
   cursor:pointer;
}

#url_icon:hover{
   background-color: rgba(96, 130, 141, 0.27); /*rgba(176, 205, 212, 0.72);*/
    background-image: radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6e9daa 100%);
    -moz-border-radius:5px 5px 5px 5px;
   -webkit-border-radius:5px 5px 5px 5px;
   border-radius:5px 5px 5px 5px;
}

#pcFile_icon:hover{
    background-color: rgba(96, 130, 141, 0.27);
    -moz-border-radius:5px 5px 5px 5px;
   -webkit-border-radius:5px 5px 5px 5px;
   border-radius:5px 5px 5px 5px;
}
#main_box #url_icon button { background: url('../msim_images/default/components/textfield/link.png') no-repeat; background-size: cover;}
#main_box #pcFile_icon button { background: url('../msim_images/default/components/textfield/folder.png') no-repeat; background-size: cover;}

#input_bar{
   display: block;
   width: 95%;
   height: 25px;
   margin-top: 130px;
    margin-left: 12px;
   border: 1px solid #60828D;
   -moz-border-radius:5px 5px 5px 5px;
   -webkit-border-radius:5px 5px 5px 5px;
   border-radius:5px 5px 5px 5px;
}

#input_in_bar{
   width: 90%;
   border:none;
   box-shadow: none;
   -webkit-shadow: none;
   -moz-shadow: none;
   -o-shadow: none;
}

#input_in_bar:focus{
   outline:none;
}

#input_botton_hide{
    visibility:hidden;
}

#text_for_input{
   display: block;
   position: static;
   float: left;
   width: 250px;
   margin-left: 15px;
   margin-top: 40px;
}

#ok_button{
   display: block;
   position: static;
   float: right;
   margin-top: 130px;
   margin-right: 10px;
   width: 80px;
   cursor:pointer;
}

#ok_button:hover{
    background-color: rgba(173, 209, 57, 0.48);
}

/**
  * confirm-recover
  */
div#confirm-recover {
    background-color: #6f8d97;
    height: 100%;
    position: absolute;
    width: 100%;
}

div#confirm-recover > * {
    font: 12px opensansL;
    color: #ffffff;
}

div#confirm-recover  .header .logo {
    background: url("../msim_images/default/mainsim_logo_large.png") no-repeat scroll center center;
    height: 70px;
    margin-top: 10px;
}

div#confirm-recover .header .title {
    font-size: 26px;
    text-align: center;
    margin-top: 60px;
}
div#confirm-recover .header .message {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
div#confirm-recover .fields {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}


.registationLabel{
  font:bold 13px opensansR;
  color:#000;
  text-align:left;
  width:100%;
}

 

div#confirm-recover .fields .field .label[for="password"] {
    margin-left: -140px;
}
div#confirm-recover .fields .field .label[for="confirm_password"] {
    margin-left: -80px;
}
div#confirm-recover .fields .field ul.errors li {
    color: #A30A17;
}
div#confirm-recover .fields .field ul.errors {
    margin-left: 550px;
    margin-top: -35px;
}
div#confirm-recover .fields .field input {
    margin-bottom: 10px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    height: 18px; width: 225px;
    border: 1px solid #436b75;
    color: #000000;
}

div#confirm-recover .fields .field input:focus {
    box-shadow: 1px 1px 2px #275563;  background-image: none;
}
div#confirm-recover .fields .field input[type=submit] {
    border-radius: 2px;    
    border: 0px;
    background-color: #A1C24D;
    cursor: pointer;
    width: 230px; height: 30px;
    color: #ffffff;
    margin-top: 10px;
    font: 16px opensansL;
}
div#confirm-recover .fields .field input[type=submit]:hover{
    background-color:#D0D0D0;
    color:#888;
}
div#confirm-recover .footer {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 10px; left: 0px; right: 0px;
}

/**
  * Forgot password / Error
  */
div#forgot-password, div#error {
    background-color: #6f8d97;
    height: 100%;
    position: absolute;
    width: 100%;
}
div#forgot-password > *, div#error > * {
    font: 16px opensansL;
    color: #ffffff;
}
div#forgot-password .header .logo, div#error .header .logo {
    background: url("../msim_images/default/mainsim_logo_large.png") no-repeat scroll center center;
    height: 70px;
    margin-top: 10px;
}
div#forgot-password .header .title, div#error .header .title {
    font-size: 26px;
    text-align: center;
}
div#forgot-password .header .title {
    margin-top: 60px;
}
div#error .header .title {
    margin-top: 100px;
    display: none;
}
div#error .header .title { color: #A30A17; font-weight: bold;  }
div#forgot-password .header .message, div#error .header .message {
    
    position:absolute;
    top:100px;
    left:0; width:100%;
    font:bold 13px OpensansR;
    text-align: center;
}
div#forgot-password .header .message {
    margin-top: 10px;
}

.errorMessage {
    position:absolute;
    left:0; width:100%;
    font:bold 13px OpensansR;
    text-align: center;
    color: #A30A17;
    bottom:8px;
}

div#error .header .message {
    margin-top: 140px;
    font-size: 24px;
}
div#forgot-password .fields {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
div#forgot-password .fields .field .label.usn { margin-left: -150px; }
div#forgot-password .fields .field .label.surname { margin-left: -155px; }
div#forgot-password .fields .field .label.name { margin-left: -180px; }
div#forgot-password .fields .field .label.language { margin-left: -180px; margin-top: 5px;}
div#forgot-password .fields .field_rd .label.sex { margin-left: -180px; }
div#forgot-password .fields .field .label.email { margin-left: -185px; }
div#forgot-password .fields .field .label.pwd { margin-left: -150px; }
div#forgot-password .fields .field .label.cpwd { margin-left: -90px; }



#field_rd{
}
/*div#forgot-password .fields .field .label {
    margin-left: -155px;
}
div#forgot-password .fields .field .label[for="username"] {
    margin-left: -140px;
}
div#forgot-password .fields .field .label[for="email"] {
    margin-left: -170px;
}*/
div#forgot-password .messages {
    margin-top: 35px;
    width: 100%;
    text-align: center;
}
div#forgot-password .error {
    color: #A30A17;
    font: 13px opensansR;   
}
div#forgot-password .fields .field input {
    margin-bottom: 10px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    height: 18px; width: 225px;
    border: 1px solid #AAAAAA;
    color: #000000;
    font: 13px opensansR;
}
div#forgot-password .fields .field input:focus {
    box-shadow: 1px 1px 2px #275563;  background-image: none;
}
div#forgot-password .fields .field input[type=submit] {
    border-radius: 2px;    
    border: 0px;
    background-color: #A1C24D;
    cursor: pointer;
    width: 230px; height: 30px;
    color: #ffffff;
    margin-top: 10px;
    font: 16px opensansL;
}
div#forgot-password .fields .field input[type=submit]:hover{
    background-color:#D0D0D0;
    color:#888;
}
div#forgot-password .footer, div#error .footer {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom:10px; left: 0px; width:100%;
}

/**
  * Importer
  */
#delete_ui { width: 50%; position: absolute; left: 25%; right: 25%; top: 25%; }
#delete_ui, #delete_ui > * { font-size: 16px; }
#delete_ui #subitems { display: none; }
#delete_ui .action #subitems select {
    width: 250px; height: 27px;
    width: 250px; height: 27px;
    border: 1px solid #436B75; border-radius: 2px;
    padding: 4px 4px 4px 4px;
    margin-top: 15px; margin-left: 25px;
    font-size: 16px;
}
#delete_ui .action #subitems label {
    display: block;
    padding-left: 35px;
    text-indent: -15px;
    margin-top: 15px;
}
#delete_ui .action #subitems input {
    padding: 0; margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    width: 25px; height: 25px;
}        
#delete_ui .action { margin-top: 25px; }
#delete_ui #delete {
    float: right;
    margin-right: 50px; margin-top: 30px;
}
#delete_ui div#result { font-weight: bold; margin-top: 75px; }
#delete_ui div#result.ok { color: #a1c24d; }
#delete_ui div#result.ko { color: #A81E1E; }

/**
* LOGOUT BUTTON
*/
#logout_button {
	z-index: 1; border-radius: 2px; overflow: hidden; background-color: rgb(161, 194, 77); padding:5px 15px;text-decoration:none;
}

#logout_button:hover{
	background-color: rgb(221, 221, 221);
	text-decoration:none;
}

#logout_button:active{
	background-color: rgb(221, 221, 221);
	text-decoration:none;
}

/*
* TAGGLE
*/

.clearfix:before, .clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  clear: both; }

.taggle_list {
    /*float: left; */
    /* width: 100%; */
    padding: 1px;
    margin: 1px;
    font: 13px opensansR;
}


.taggle_text {
    overflow: hidden;
    margin-right: 4px;
    text-overflow: ellipsis;
}

.taggle_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300; }

.taggle_list li {
  /*float: left;
  display: inline-block;*/
  display: grid;
  white-space: nowrap;
  font-weight: 500;
  margin: 1px; }

.taggle_list .taggle {
    /*margin-right: 8px;*/
    /*background: #E2E1DF;*/
    padding: 2px 8px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
    color: black;
    background-color: #d6d7d9;
    border : 1px solid #9a9a9a;
}

.taggle_list .taggle_hot {
  background: #cac8c4; }

.taggle_list .taggle .close {
  font-size: 15px;
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #9a9a9a;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
  border: 0;
  background: none;
  cursor: pointer; }

.taggle_list .taggle:hover {
  /*padding: 3px;*/
  /*padding-right: 15px;*/
  background: #ccc;
  transition: all .3s; }

.taggle_operation{
    border : 1px solid #9a9a9a
}

.taggle_list .taggle_operation:hover{
    background: #ccc;
    padding: 2px 8px 2px 8px;

}

.taggle_list .taggle:hover > .close {
  display: grid; }

.taggle_list .taggle .close:hover {
  color: #990033; }

.taggle_placeholder {
  position: absolute;
  color: #436b75;
  /*top: 12px;*/
  bottom : 5px;
  left: 8px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%; 
  border: 1px solid #9a9a9a;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden; }

/*container styles*/
textarea.input,
.textarea.input {
  border: 0;
  background: #FDFDFD;
  border: 1px solid #436B75;
  /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);*/
  /*min-height: 60px;*/
  /*padding: 8px;*/
  border-radius: 3px;
  color: #555;
  transition: all .25s;
  cursor: text;
  margin-bottom: 10px;
  position: relative; }

.textarea.input:focus,
.textarea.input.active,
textarea.input:focus,
textarea.input.active {
  background: #fff;
  transition: all .25s; }

.textarea.input,
textarea.input {
  height: auto; 
  margin-left: 4px;
}

.textarea.tags {
  position: relative; }

.textarea.tags * {
  box-sizing: content-box; }

.placeholder_input {
  position: relative; }

.placeholder_input span {
  position: absolute;
  color: #AAA;
  top: 50%;
  margin-top: -11px;
  left: 10px; }

.placeholder_input input {
  width: 120px; }



