/* KPI CSS */
body { margin:0; overflow:hidden; }

#idboxkpi {
      position:absolute;
      left:0;top:0;width:100%;height:100%;
} 

#idpcntkpi {
      position:absolute;
      left:0px;top:0px; 
      width:620px;height:420px;
      overflow:hidden;
}

#idcntkpi { 
      width:600px;height:400px; 
      margin:8px auto;   
}

#idheadkpi {
      position:absolute;
      left:0px;top:0px; 
      width:100%;height:30px;
      background-color:#EEE;
      font:11px Arial; color:#000;
      display:none;
      border-bottom:1px solid #CCC;
}

#idmenukpi {
      position:absolute;
      left:0px;top:30px; 
      width:10px;height:10px;
      background-color:#EEE;
      font:11px Arial; color:#000;
      display:none;
      border-right:1px solid #CCC;
      overflow:auto;
}


.cl_selbtn {
  border:1px solid #999;
  font:11px Arial; color:#000;
  cursor:pointer;
  padding:1px;
  border-radius:4px;
  background-color:#EEE;
}

.flotr-mouse-value { font:11px Arial;}