<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="<?= $this->baseUrl() . '/export/template.css' ?>" />
        <!--<link rel="stylesheet" href="lib/jquery/jquery-ui.css" />-->
		<script src="<?= $this->baseUrl() . '/export/jquery-1.10.2.min.js' ?>"></script>
		<!--<script src="lib/jquery/jquery-ui.js"></script>-->
        <!--<script src="exportTemplate.js"></script>-->
    </head>
    <body>
        <div id="templateContainer" class="container">
            <div class="title">Exporter Tool</div>
            <div class="mainInfo">
                <div class="mainInfoText">
                    <b>output file</b> <span id="outputFile">report.xlsx</span><br>
                    <b>config file</b> <span id="configFile">exportTemplate.xml</span><br>
                    <b>total sheets</b> <span id="totalSheets"></span><br>
                    <b>time remaining</b> <span id="timeRemaining"></span><br>
                </div>
                <div id="mainInfoCanvas" class="mainInfoCanvas">
                    <canvas id="canvas" width="100" height="100"></canvas>
                </div>
            </div>
            <div class="sheetsInfo">
                <div id="sheetInfoText" class="sheetsInfoText"></div>
                <div id="sheetInfoProgressBar" class="sheetInfoProgressBar"></div>
            </div>
        </div>
        <div id="iframe"></div>
    </body>
</html>
