<div id='idmsg' style='display:none;position:absolute;left:50%;top:50%;width:308px;height:120px;margin:-60px 0 0 -154px;'>
<div style='position:absolute;left:8px;top:8px;right:8px;bottom:8px;box-shadow: 3px 3px 8px #AAA;
            border-radius:9px;border:1px solid #444;background-color:#FFF;opacity:0.30;'>
</div>
<div id='idbarprg' style='position:absolute;left:20px;top:60px;width:260px;height:11px;border:1px solid #888;
                          border-radius:6px;box-shadow: 3px 3px 8px #AAA;overflow:hidden;'> 
</div>

<div id='idtxtprg' style='position:absolute;left:20px;top:38px;width:260px;height:20px;text-align:right;
                          font:bold 11px Arial;color:#444;'>0% 
</div>
</div>

<div id="iframe"></div>
<br>
