<style>
body, html { margin: 0; padding: 0; }
#maintenance {
    background: #ffffff url('../public/msim_images/default/_theme/staytuned_mainsim.jpg') no-repeat center center;
    position: absolute;
    margin: 0; padding: 0;
    top: 0; left: 0; right: 0; bottom: 0;
}
</style>
<div id="maintenance">&nbsp;</div>