<div id="error">
    <div class="header">
        <div class="logo">&nbsp;</div>
        <div class="title">Mainsim Error</div>
        <div class="message">
            <?php echo $this->message; ?>
        </div>
    </div>
    <div class="footer">mainsim&trade; - what maintenance can be - Copyright &copy; 2015 mainsim. All rights reserved.</div>
</div>