<!DOCTYPE html>
<html>
    <head>
        <title>mainsim 3.0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" /> 
        <script src="<?php echo $this->baseUrl();?>/public/msim_jslib/ajax.js"></script>
        <script src="<?php echo $this->baseUrl();?>/public/msim_jslib/base64.js"></script>
        <script>
            var url = "<?php echo $this->baseUrl();?>/admin/pdf-writer/";
            function response(rsp) {                
                id = parseInt(document.getElementById('pdf').options[document.getElementById('pdf').selectedIndex].value);
                name = document.getElementById('pdf').options[document.getElementById('pdf').selectedIndex].text
                
                document.getElementById('f_script').innerHTML = rsp
                document.getElementById('f_name').value = name
                document.getElementById('f_id').value = id;                
            }
            
            function checkPdf()
            {
                var name = document.getElementById('f_name').value;
                var code = document.getElementById('f_code').value;
                if(name == '' || code == ''){alert('f_name and f_code cannot be empty');return;}                
                window.open(url+"print-pdf/f_code/"+code+"/script_name/"+name);
                //http://127.0.0.1/mainsim3/pdf-creator/print-pdf/f_code/778/script_name/print_wo
            }
            
            function saved(rsp)
            {
                resp = JSON.parse(rsp);                
                if(typeof(resp['message']) == "undefined") {
                    alert("PDF has been saved");
                }
                else {
                    alert(resp['message']);
                }
            }
            
            function choosePDF() {
                id = parseInt(document.getElementById('pdf').options[document.getElementById('pdf').selectedIndex].value);
                if(id != 0) {
                    if(document.getElementById('f_script').innerHTML != '') {
                        conf = confirm("Textarea is not clear. Are you sure do you want change pdf");
                        if(conf) {
                            document.getElementById('f_script').innerHTML = '';
                            Ajax.sendAjaxPost(url+"get-pdf", "f_id="+id, "response", true);
                        }
                    }
                    else {
                        Ajax.sendAjaxPost(url+"get-pdf", "f_id="+id, "response", true);
                    }
                }                
            }
            function save()
            {                
                name = document.getElementById('f_name').value;
                id  = document.getElementById('f_id').value;
                script = document.getElementById('f_script').value;
                
                if(name == ''){alert('f_name cannot be empty');return;}
                var data = {
                    'f_id' : id,
                    'f_name' : name,
                    'f_script' : Base64.encode(script)
                };
                Ajax.sendAjaxPost(url+"save-pdf", "params="+JSON.stringify(data), "saved", true);
            }
            
            function clearAll()
            {
                var conf = confirm("Are you sure do you want clear the form?");
                if(conf) {
                    document.getElementById('f_name').value = '';
                    document.getElementById('f_id').value = 0;
                    document.getElementById('f_script').value = '';
                }
            }
        </script>
    </head>
    <body>
        <div>
            <div id="toolbar">
                <select onchange="choosePDF()" id="pdf">
                    <option value="0">Choose PDF</option>
                    <?php foreach($this->list as $value => $label): ?>
                        <option value="<?php echo $value;?>"> <?php echo $label;?></option>                    
                    <?php endforeach; ?>                    
                </select>
            </div>
            <div id="edit-form">
                <form name="edit-pdf">
                    <input type="hidden" value="0" name="f_id" id="f_id"/>
                    <p>
                        <label for="f_name" >Script Name</label><br />
                        <input type="text" value="" name="f_name" id="f_name"/>
                    </p>
                    <p>
                        <label for="f_code" >f_code to test</label><br />
                        <input type="text" value="" id="f_code"/>
                        <input type="button" value="Check PDF" onclick="checkPdf()" />
                    </p>
                    <p>
                        <label for="f_script" >Code</label><br />
                        <textarea name="f_script" id="f_script" cols="130" rows="50"></textarea>
                    </p>
                    <p>
                        <input type="button" value="Save" onclick="save()" />
                        <input type="button" value="Clear" onclick="clearAll()" />
                    </p>
                </form>
                
            </div>
        </div>
    </body>
</html>