<script type="text/JavaScript">
    window.onload = function () {

    // setting global search
    moGlb.stgSearch="<?php echo $this->stgSearch; ?>";      // treegrid_search_fields
    moGlb.stgSummaryAll=<?php echo $this->stgSummaryAll; ?>;    // summary_show_overall

    moInit.start(<?php echo time() * 1000; ?>, <?php echo $this->LANG; ?>);
    moGlb.updateTimeUrl = "<?php echo $this->url(array("action" => "update-time", "controller" => "login", "module" => "default"), null, true); ?>";

    };

    window.onbeforeunload = function () { return moGlb.langTranslate("Leaving mainsim"); };

</script>

<div id="mainsim_bd" >&nbsp;</div>



<!-- left menu -->
<div id="tabcontainer"></div> 

<div id="mainsim_hd">
    <div id="bglogo">
        <div id="logo">
            <div class="logobg">&nbsp;</div>
            <!--  <a href="http://www.mainsim.com" target="_blank">by <b>main</b>sim&#8482;</a>  -->
        </div>
    </div>

    <div id="bulletin" >
		<?php if($this->adfs){ ?>
			<div style="float:right; width:452px;">
		<?php }
			else{ ?>
			<div style="float:left; width:452px;">
		<?php } ?>
        <?php if ($this->bulletin) { ?><a href="#" title="<?php echo $this->translate->_("See announcements"); ?>"><b><?php echo $this->translate->_("Announcements"); ?> <span id="bulletins"></span></b></a> | <?php } ?>
        <?php
         if ($this->users_connected) {
             echo $this->translate->_("Users connected");
             ?>: <span id="online"></span><?php } ?>
        <br>
        <?php echo $this->translate->_("Welcome"); ?> <b id="userFullname"></b>
        <?php
         $info = Zend_Auth::getInstance()->getIdentity();
		 $links = [];
         if ($info->f_level == -1):
			$links[] = '<a href="' .  $this->url(array('module' => 'admin', 'controller' => 'mainpage', 'action' => 'index'), null, true) . '" title="' . $this->translate->_("Admin") .'">' . $this->translate->_("Admin") . '</a>';
        endif;
        if ($this->calendar) $links[] = '<a href="javascript:calWin.Show();">' . $this->translate->_("Calendar") . '</a>';
        if ($this->help) $links[] = '<a href="javascript:Help.Start(\'[]\')">' . $this->translate->_("Help") . '</a>';
        if ($this->user_guide) {
            if(file_exists(APPLICATION_PATH . "/../public/help/userGuide_" . PROJECT_NAME . '.pdf')) {
				$links[] = '<a href="/../public/help/userGuide_' . PROJECT_NAME . '.pdf" target="_blank">' . $this->translate->_("User guide") . '</a>';
             } else if (file_exists(APPLICATION_PATH . "/../public/help/userGuide_default.pdf")) {
                $links[] = '<a href="/../public/help/userGuide_default.pdf" target="_blank">' . $this->translate->_("User guide") . '</a>';
             }
        }
		if(count($links) > 0) print(' | ' . implode(' | ', $links));
        ?>
		</div>
		<?php if(!$this->adfs){ ?>
			<div style="float:right; margin-top:8px;">
			<a style="text-decoration:none" id="logout_button" href="<?php echo $this->url(array('controller' => 'login', 'action' => 'logout'), null, true) ?>" title="<?php echo $this->translate->_("Logout"); ?>" onclick="window.onbeforeunload = function () {}; Ajax.Disable = 1;"><?php echo $this->translate->_("Logout"); ?></a>
			</div>
		<?php } ?>
    </div>    

    <div id="credits">
        <div class="hd"></div>
        <div class="bd">
            <!--<b>main</b>sim™ - Enterprise Asset Management - V. 3.0.0.0 Alpha<br/>-->
<?php echo $this->signature . ' - V. ' . $this->version ?>
            <div class="lighter">Copyright &#169; 2007 - <?php echo date("Y"); ?> <a href="http://www.mainsim.com" target="_blank"><b>main</b>sim</a>. <?php echo $this->translate->_("All rights reserved"); ?>.</div>
        </div>
    </div>
</div>

<div id="idCntImport"></div>

<iframe name='ifrm' src='' style='display:none;'></iframe>
<input id='iddblclickfocus' type='text' style='position:absolute;left:-280px;top:-100px;width:100px;height:20px;z-index:12000;' />