<html>
    <head>
        <!-- application constants -->
        <script src="<?php echo JS_PATH; ?>/global.js"></script>  
        
        <!-- leaflet -->
        <link rel="stylesheet" href="<?php echo LIBRARY_PATH; ?>openmap/leaflet/leaflet.css" />
        <script src="<?php echo LIBRARY_PATH; ?>openmap/leaflet/leaflet.js"></script>
        <!-- MarkerCluster leaflet plugin -->
        <link rel="stylesheet" href="<?php echo LIBRARY_PATH; ?>openmap/leaflet/markerCluster/MarkerCluster.css" />
        <link rel="stylesheet" href="<?php echo LIBRARY_PATH; ?>openmap/leaflet/markerCluster/MarkerCluster.Default.css" />
        <script src="<?php echo LIBRARY_PATH; ?>openmap/leaflet/markerCluster/leaflet.markercluster-src.js"></script>  
        <!-- openmaps -->
        <script src="<?php echo JS_PATH; ?>/openMap.js"></script>  
        
        <style>
        #searchPanel {
            float : right;
            background-color : grey;
            z-index: 10000;
        }
        .itemsType {
            background: rgba(0, 0, 0, 0.2) repeat scroll 0 0;
            border: 1px solid grey;
            border-radius: 7px 7px 7px 7px;
            padding: 10px;
            font-size: 14px;
            width: 75px;
            text-align: center;
            font-weight: bold;
        }
        .itemsType:hover { background-color: #ffffff; cursor: pointer; }
        #items {
            background-color: #FFFFFF;
            border: 1px solid grey;
            bottom: 30px;
            left: 30px;
            padding: 5px;
            position: absolute;
            width: 200px;
            border-radius: 7px 7px 7px 7px;
        }
        </style>
    </head>
    <body>
<div style="float: left; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;">
    <div id="map" style="top: 0px; position: absolute; left: 0px; bottom: 0px; right: 0px;"></div>    
</div>
<div id="items">
    <div class="itemsType" style="float: left;" onClick="unpMaps.showAssets();">assets</div>
    <div class="itemsType" style="float: right;" onClick="unpMaps.showWorkOrders();">workorders</div>
</div>
<script>unpMaps.init();</script>
</body>
</html>