<?php 


// load name of image in folder

$PTH = IMAGE_DEFAULT_PATH;
if(file_exists(realpath($_SERVER["DOCUMENT_ROOT"].IMAGE_PATH."_login/"))) $PTH = IMAGE_PATH;
$PTH .= "_login/";
$ARRI=freadDir($_SERVER["DOCUMENT_ROOT"].$PTH."/back/");

$ai="";
if(count($ARRI)) $ai="'".implode("','",$ARRI)."'";


echo "<script>  ARRIMG=new Array($ai);";
echo "mimgPath = '".$PTH."' </script>";


//------------------------------------------------------------------------------
// function

function freadDir($dir) {
  $items=array();

  $d=opendir($dir);
  
  while($file = readdir($d)) {
      $exp = explode(".", $file);
      $ext = array_pop($exp);
      if($ext=="jpg" || $ext=="gif" || $ext=="png") $items[]=$file;
  }
  closedir();
  return $items;  
}

?>
<script type="text/JavaScript">


window.onload = function () {  
    var N = ARRIMG.length, random = Math.round((Math.random()*100))%N;
    with(mf$('idBkImg1').style) {
        background = "url("+mimgPath+"back/"+ARRIMG[random]+") 50% 50% no-repeat";
        backgroundSize = 'cover';
    }
};

function mf$(el){return document.getElementById(el); }


</script>

<!-- background form di Login -->
<div class='clBkImg' id='idBkImg0' style='z-index:0;'></div>
<div class='clBkImg' id='idBkImg1' style='z-index:1;'></div>


<div style='position:absolute;left:50%;top:110px;width:300px;height:440px;margin-left:-145px;background-color:#FFF;z-index:8;opacity:0.7;border-radius:2px;'></div>


<div id="forgot-password" style='position:absolute;left:0;top:0;width:100%;height:100%;overflow:auto;z-index:10;background-color:transparent;'>
    <div class="header">
       
       <div class="logo">&nbsp;</div>
 
       <div style='position:absolute;left:50%;top:110px;width:230px;height:440px;margin-left:-110px;z-index:10;'>

        <div style='position:absolute;top:24px;width:100%;font:bold 24px OpensansL;text-align:center;color:#000;z-index:10;'><?php echo $this->message['successful_registration_title']; ?></div>


            <div style='position:absolute;width:100%;top:140px;font:13px OpensansR;color:#000;'>
               <?= $this->message['successful_registration_header'] ?><br>
               <?= $this->message['successful_registration_message'] ?><br>
               <br>
               <?= $this->message['sendmail'] ?>
            </div>
            
            
     
            <div class="message" style='position:absolute;width:100%;top:400px;height:25px;'>
                <a style='font:bold 13px OpensansR;color:#000;text-align:center;' href="http://<?= $_SERVER['HTTP_HOST']; ?>"><?= $this->message['back'] ?></a>
            </div>
  

        
        </div>
        
    </div>
    <div class="footer">mainsim&trade; - what maintenance can be - Copyright &copy; 2015 mainsim. All rights reserved.</div>
</div>




