<?php 


$db = Zend_DB::factory(Zend_Registry::get('db'));
$select = new Zend_Db_Select($db);


// lang id  default  NEWUSR_LANGUAGE
$select->from("t_creation_date",array("f_description"))->where("f_title = 'NEWUSR_LANGUAGE'");
        $res = $select->query()->fetch();
$langid=(int) $res['f_description'];
 
// load name of image in folder

$PTH = IMAGE_DEFAULT_PATH;
if(file_exists(realpath($_SERVER["DOCUMENT_ROOT"].IMAGE_PATH."_login/"))) $PTH = IMAGE_PATH;
$PTH .= "_login/";
$ARRI=freadDir($_SERVER["DOCUMENT_ROOT"].$PTH."/back/");

$ai="";
if(count($ARRI)) $ai="'".implode("','",$ARRI)."'";


$PostValue="{}";
if(isset($this->postData)) $PostValue=json_encode($this->postData); 


echo "<script>  ARRIMG=new Array($ai);";
echo "mimgPath = '".$PTH."' </script>";


//------------------------------------------------------------------------------
// function

function freadDir($dir) {
  $items=array();

  $d=opendir($dir);
  
  while($file = readdir($d)) {
      $exp = explode(".", $file);
      $ext = array_pop($exp);
      if($ext=="jpg" || $ext=="gif" || $ext=="png") $items[]=$file;
  }
  closedir();
  return $items;  
}

function f_trasl($word, $i=1){

  $translation = array(
  "Login" => "Accedi",
  "Username" => "Utente",
  "Password" => "Password",
  "Forgot your password?" => "Password dimenticata?",
  "How to register" => "Come registrarsi",
  "Welcome to" => "Benvenuto in",
  "Check, maintain, manage<br>and enhance your Assets." => "Controllare, mantenere, gestire<br>e migliorare i vostri beni.", 
  "Incorrect username or password" => "Utente o password errati.",
  "mainsim session already open" => "Sessione mainsim già aperta"     
);  

  if($i==2) {
    
    if(isset($translation[$word])) $word=$translation[$word];
    return $word;
  
  }else return $word;
}

?>
<script type="text/JavaScript">

var ia,na,sre,are=[],re="";
try{ re="<?php echo $this->wRegcf; ?>"; }catch(e){ re="";  } 

PostValue=JSON.parse('<?php echo $PostValue; ?>');

Regcf=[];

if(re){
  are=re.split(",");
  na=are.length;
  
  for(ia=0;ia<na;ia++){
    sre=(are[ia]).split(":");
    Regcf.push( { "bind":sre[0], "label":sre[1] } );
  }
}
 


window.onload = function () {  
    var N = ARRIMG.length, random = Math.round((Math.random()*100))%N;
    with(mf$('idBkImg1').style) {
        background = "url("+mimgPath+"back/"+ARRIMG[random]+") 50% 50% no-repeat";
		
        backgroundSize = 'cover';
    }
    
    var i,cf, vv, bnd="",sep="", nhf=Regcf.length, dhf=56, ho=540, hf=440;
    
// alert(JSON.stringify(Regcf) );
 
    
    ho+=dhf*nhf;
    hf+=dhf*nhf;
    
    for(i=0;i<nhf;i++){   
     vv=PostValue[ Regcf[i]["bind"] ] || "";
     cf="<div class='field'><div class='registationLabel'>"+Regcf[i]["label"]+"&nbsp;</div>"+
        "<input type='text' name='"+Regcf[i]["bind"]+"' id='"+Regcf[i]["bind"]+"'  value='"+vv+"' onclick='clearBorder()' />"+
        "</div>";
     bnd+=sep+Regcf[i]["bind"];
     sep=",";
    }
 
    
    mf$("id_bckopac").style.height=ho+"px";
    mf$("id_bckfrm").style.height=hf+"px";
    
    if(nhf) {
      cf+="<input type='hidden' name='add_field_custom' id='add_field_custom' value='"+bnd+"' />";
      mf$("id_inscustfield").innerHTML=cf;
    }
	
	 
};

 
    
function check_mail(emailStr){
	
	
	if(mimgPath.indexOf('pirelli') != -1){
		
		if(emailStr.indexOf('pirelli.com') == -1 && emailStr.indexOf('hangarbicocca.org') == -1 && emailStr.indexOf('fondazionepirelli.org') == -1 && emailStr.indexOf('pirellif1.com') == -1 && emailStr.indexOf('pirelli.it') == -1){
			return false;
		}
		
	}
	
	
    var emailPat = /^(.+)@(.+)$/;
        var specialChars = "\\(\\)<>@,;:\\\\\\\"\\.\\[\\]";
        var validChars = "[^\\s" + specialChars + "]";
        var quotedUser = "(\"[^\"]*\")";
        var ipDomainPat = /^\[(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})\]$/;
        var atom = validChars + "+";
        var word = "(" + atom + "|" + quotedUser + ")";
        var userPat = new RegExp("^" + word + "(\\." + word + ")*$");
        var domainPat = new RegExp("^" + atom + "(\\." + atom + ")*$");
        var matchArray = emailStr.match(emailPat);
        if (matchArray == null) { return false; }
        var user = matchArray[1];
        var domain = matchArray[2];
        if (user.match(userPat) == null) {
            return false;
        }
        var IPArray = domain.match(ipDomainPat);
        if (IPArray != null) {
            for (var i = 1; i <= 4; i++) {
                if (IPArray[i] > 255) { return false; }
            }
            return true;
        }
        var domainArray = domain.match(domainPat);
        if (domainArray == null) { return false; }
        var atomPat = new RegExp(atom, "g");
        var domArr = domain.match(atomPat);
        var len = domArr.length;
        if (domArr[domArr.length - 1].length < 2 ||
            domArr[domArr.length - 1].length > 6) { return false; }
        if (len < 2) { return false; }
        return true;
}
    

function empty_fields(){
	
		 var i,ji,
          jname=mf$("name"), name=jname.value,
          jsurname=mf$("surname"), surname=jsurname.value,
          jemail=mf$("email"), email=jemail.value,
          jcapcha=mf$("capcha"), capcha=jcapcha.value,
          jprivacy=mf$("idprivacy"),
          err=0, s="";
	  
        
        if(name==''){
            jname.style.borderColor="#F00";
            err++;
        }
        
        if(surname==''){
            jsurname.style.borderColor="#F00";  
            err++;       
        } 
				
        if(email == '' || !check_mail(email)){
            jemail.style.borderColor="#F00"; 
            err++;     
        }
        
        // check mandatory setting custom fields
        for(i=0;i<Regcf.length;i++){
          ji=mf$(Regcf[i]["bind"]);
          if(ji.value == ''){
            ji.style.borderColor="#F00";
            err++;
          }
        }
        
        
        if(capcha == ''){
            jcapcha.style.borderColor="#F00";
            err++;
        }
        
        if(!jprivacy.checked) {
          err=1;
          s="<div class='errorMessage'><b><?php echo $this->dictionary['no_check_privacy']; ?></b></div>";
        }
        
  mf$("messages").innerHTML=s;      
  if(!err) document.forms["frm_registered"].submit();       
 
}
    
function  forceLower(strInput){
strInput.value=strInput.value.toLowerCase();
}
        
function clearBorder(){
  var ji=[], r;
      ji.push(mf$("name"));
      ji.push(mf$("surname"));
      ji.push(mf$("email"));
      ji.push(mf$("capcha"));
      
  for(r=0;r<Regcf.length;r++) {
    ji.push( mf$(Regcf[r]["bind"]) );
  }
               
  for(r=0;r<ji.length;r++) ji[r].style.borderColor="#AAAAAA";   
}

function centeredPopup()
{
var w = 400;
var h = 200;
   
    
// Fixes dual-screen position Most browsers Firefox
var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

var left = ((width / 2) - (w / 2)) + dualScreenLeft;
var top = ((height / 2) - (h / 2)) + dualScreenTop;
var newWindow = window.open("<?php echo $this->url(array('controller'=>'registration','action'=>'privacy')); ?>"+"?ns=1", '', 'width=' + w + ', height=' + h + ',scrollbars=yes,top=' + top + ', left=' + left);
}    

function mf$(el){return document.getElementById(el); }
</script>

<!-- background form di Login -->
<div class='clBkImg' id='idBkImg0' style='z-index:0;'></div>
<div class='clBkImg' id='idBkImg1' style='z-index:1;'></div>

<div id="forgot-password" style='position:absolute;left:0;top:0;width:100%;height:100%;overflow:auto;z-index:10;background-color:transparent;'>
    <div class="header">
        <div class="logo">&nbsp;</div>
        
         <div style='position:absolute;top:125px;width:100%;font:bold 24px OpensansL;text-align:center;color:#000;z-index:10;'><?php echo $this->dictionary["title"]; ?></div>
        
         <div id='id_bckopac' style='position:absolute;left:50%;top:110px;width:300px;height:540px;margin-left:-150px;background-color:#FFF;z-index:8;opacity:0.7;border-radius:2px;'></div>

          <div id='id_bckfrm' style='position:absolute;left:50%;top:200px;width:230px;height:440px;margin-left:-115px;z-index:10;'>
            
              <form name='frm_registered' method="post" action="<?php echo $this->url(array('controller'=>'registration','action'=>'getdata')); ?>?ns=1">  
                  <div class="fields" style='margin-top:-20px;'>
                      
                      <div class="field">
                          <div class="registationLabel"><?php echo $this->dictionary["name"]; ?></div>
                          <input type="text" name="name" id="name" value="<?php echo $this->postData['name'] ?>"  onclick='clearBorder()' />                
                      </div>
                      
                      <div class="field">
                          <div class="registationLabel"><?php echo $this->dictionary["surname"]; ?></div>
                          <input type="text" name="surname" id="surname" value="<?php echo $this->postData['surname'] ?>" onclick='clearBorder()' />                
                      </div>
                      
                      <div class="field">
                          <div class="registationLabel"><?php echo $this->dictionary["email"]; ?></div>
                          <input type="text" name="email" id="email" value="<?php echo $this->postData['email'] ?>" onclick='clearBorder()' onkeyup='forceLower(this)' onchange='forceLower(this)'/>                
                      </div>

					  
                      <div id='id_inscustfield'></div>
                      
                      
                       <div class="field" style="display:none">
                          <div class="label language"><?php echo $this->dictionary["language"]; ?>*</div>
                          <input type="text" name="language" id="language" value ="<?php echo $this->language; ?>"/>                
                       </div>
 
                      
                      <div class="field">
                        <div class="registationLabel"><?php echo $this->dictionary["capcha"]; ?></div>
                        <input id='capcha' type="text" name="captcha[input]" value="" onclick='clearBorder()' />
                        <br>
                        <img src="<?php echo $this->captchaDir . '/' . $this->captchaID?>.png" alt="captcha" style='margin-top:-5px;'>
                        <input type="hidden" value="<?php echo $this->captchaID; ?>" name="captcha[id]" />
                      </div>
                      
                    
                      <table cellpadding="0" cellspacing="0" style='margin-top:10px;'>
                      <tr>
                        <td style='vertical-align:top;'><input type='checkbox' id='idprivacy' style='width:20px;text-align:left;' /></td>
                        <td style='padding-left:5px;vertical-align:top;'>
                            <div style="font:bold 10px opensansR;line-height:14px;text-align:left;color:#000;cursor:pointer;" 
                              onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none'"
                              onclick="centeredPopup();"><?php echo $this->dictionary["privacy"]; ?></div>
                        </td>
                      </tr>
                      </table>
                  </div>
              </form>
              
                               
              <button class="field" onclick="return empty_fields();" style='position:absolute;bottom:65px;width:100%;'><b><?php echo $this->dictionary["send"]; ?></b></button>
                 
              <div id="messages">
                <div class="errorMessage" style="bottom:0px;"><b><?php echo $this->message; ?></b></div>
                 <?php if (isset($this->error_message_code) && $this->error_message_code === "error_email_message"){?>
                    <div style="position:absolute;left:30px;right:28px;bottom:42px;text-align:center;font-size:x-small;">
                        <a href="<?php echo $this->url(array('controller'=>'login', 'action'=>'forgot-password'), null, true);?>"
                           title="<?php echo f_trasl("Forgot your password?",$langid); ?>"><?php echo f_trasl("Forgot your password?",$langid); ?></a><br />
                    </div> 
                <div style="position:absolute;left:30px;right:28px;bottom:25px;text-align:center;font-size:x-small;">
                           <a href="<?php echo $this->url(array('controller'=>'login', 'action'=>'login'), null, true);?>" title="<?php echo f_trasl("Login",$langid); ?>"><?php echo f_trasl("Login",$langid); ?></a><br />
                 </div>    
                <?php } ?>
              </div>
                  <!-- link opzionali -->

        </div>
    </div>

    </div>
<!--   
<div class="footer" style='position:absolute;left:0;bottom:8px;width:100%;color:#FFF;text-align:center;z-index:10;'>mainsim&trade; - what maintenance can be - Copyright &copy; 2015 mainsim. All rights reserved.</div>
-->