<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <style type="text/css">    
        body {
            background-color: #fff;
            font: 11px Arial; 
            margin:0;
            cursor:default; 
            overflow:hidden;
        }
        .clmenu {
            font:16px Arial;
            border:1px solid #A0A0A0;
            border-radius:9px;
            -moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.25);
            -webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.25);
            box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
            background-color:#f0f0f0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        img { cursor:pointer; }
        select, input, textarea, button {
            font:12px Arial; padding:2px 2px 2px 4px;
            border:1px solid #A0A0A0;
            border-radius:5px;
            -moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.25);
            -webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.25);
            box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
            cursor:pointer;
        }    
        .clbox {
            border:1px solid #A0A0A0;
            border-radius:9px;
            -moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.25);
            -webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.25);
            box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
            background-color:#f8f8f8;
        }
        .clarwo {
            position:absolute; left:8px;height:2px; width:24px;
            overflow:hidden; background-color:#D00;
        }
        .clarwv {
            position:absolute; left:30px; width:2px;
            overflow:hidden; background-color:#D00;
        }
        </style>

        <script src='<?php echo JS_PATH;?>base64.js' type='text/javascript'></script>
        <script src='<?php echo JS_PATH;?>global.js' type='text/javascript'></script>
        <script src='<?php echo JS_PATH;?>ajax.js' type='text/javascript'></script>
        <script src='<?php echo JS_PATH;?>ui/popup.js' type='text/javascript'></script>
        <script src='<?php echo JS_PATH;?>admin/wf.js' type='text/javascript'></script>
        <script>
            function init() {
                var b = mf$("idawf").innerHTML, a = JSON.parse(b); moWf.Start(a);
                moGlb.alert = moComp.createComponent("alertpopup", "moAlert");     // Alert
                moGlb.confirm = moComp.createComponent("confirmpopup", "moConfirm");     // Confirm
            }
            function isNum(num) { return (!isNaN(num) && !isNaN(parseFloat(num))); }
        </script>
    </head>
    <body onload="init();">
        <textarea id="idawf" style='display:none;'><?php echo $this->wfg; ?></textarea>

        <div id='idmenu' class="clmenu" style='position:absolute;left:10px;top:10px;right:10px;height:41px;'>
            <span style='position:absolute;left:10px;top:10px;'><b>Workflow</b></span>
            <span id='idboxsel' style='position:absolute;left:108px;top:9px;width:190px;'></span>
            <button style='position:absolute;left:320px;top:9px;width:80px;' onclick="moWf.deleteWf()">Delete</button>
            <button style='position:absolute;left:420px;top:9px;width:80px;' onclick="moWf.createWf()">Create</button>
        </div>

        <div id='idcont' class="clmenu" style='position:absolute;left:10px;top:62px;right:10px;bottom:10px;background-color:#FFF;overflow:auto;'><div>
        <iframe name="nmfrm" id="idfrm" onclick='selez_desk();' frameborder="0"></iframe>
    </body>
</html>