<div class='clBkImg' id='idBkImg0' style='z-index:0;'></div>
<div class='clBkImg' id='idBkImg1' style='z-index:1;'></div>
<div id="forgot-password" style='position:absolute;left:0;top:0;width:100%;height:100%;overflow:auto;z-index:10;background-color:"#6F8D97";'>
<div class="header">
	<div class="logo">&nbsp;</div>
		<div id="messages" style="text-align: center; margin-top:100px">
			<?= $this->message; ?>		  
		</div>
	</div>	
</div>