<?php 

$db = Zend_DB::factory(Zend_Registry::get('db'));
$select = new Zend_Db_Select($db);


// lang id  default  NEWUSR_LANGUAGE
//$select->from("t_creation_date",array("f_description"))->where("f_title = 'NEWUSR_LANGUAGE'");
//        $res = $select->query()->fetch();
//$langid=(int) $res['f_description'];

$res = $db->query("SELECT f_title,f_description"
        . " from t_creation_date where f_type = 'SYSTEMS' AND f_category = 'SETTING' "
        . " AND f_title IN ('SUPPORT_MAIL','NEWUSR_LANGUAGE')")
    ->fetchAll();

for($i = 0;$i < count($res);++$i) {
    $resSmtpParams[$res[$i]['f_title']] = $res[$i]['f_description'];
}
$langid=(int) $resSmtpParams['NEWUSR_LANGUAGE'];
// load name of image in folder

$PTH = IMAGE_DEFAULT_PATH;
if(file_exists(realpath($_SERVER["DOCUMENT_ROOT"].IMAGE_PATH."_login/"))) $PTH = IMAGE_PATH;
$PTH .= "_login/";
$ARRI=freadDir($_SERVER["DOCUMENT_ROOT"].$PTH."/back/");

$ai="";
if(count($ARRI)) $ai="'".implode("','",$ARRI)."'";


echo "<script>  ARRIMG=new Array($ai);";
echo "mimgPath = '".$PTH."' </script>";


//------------------------------------------------------------------------------
// function

function freadDir($dir) {
  $items=array();

  $d=opendir($dir);
  
  while($file = readdir($d)) {
      $exp = explode(".", $file);
      $ext = array_pop($exp);
      if($ext=="jpg" || $ext=="gif" || $ext=="png") $items[]=$file;
  }
  closedir();
  return $items;  
}



function f_trasl($word, $i=1){

  $translation = array(
  "Forgot your password?" => "Password dimenticata?",
  "Username" => "Utente",
  "Send" => "Invia",
  "* To recover password, please insert your e-mail address and username."=>"* Per ripristinare la password, prego voler inserire in nome utente e la mail.",
  "If you can't receive any e-mail from mainsim, look at your spam folder and enable receiving e-mails from"=>"Se non ricevi la mail da mainsim, verifica la cartella di spam ed abilita la ricezione delle mail da "     
);  

  if($i==2) return $translation[$word];
  else return $word;
}






?>




<script type="text/JavaScript">


window.onload = function () {  
    var N = ARRIMG.length, random = Math.round((Math.random()*100))%N;
    with(mf$('idBkImg1').style) {
        background = "url("+mimgPath+"back/"+ARRIMG[random]+") 50% 50% no-repeat";
        backgroundSize = 'cover';
    }
};

function mf$(el){return document.getElementById(el); }


</script>

<!-- background form di Login -->
<div class='clBkImg' id='idBkImg0' style='z-index:0;'></div>
<div class='clBkImg' id='idBkImg1' style='z-index:1;'></div>

<div style='position:absolute;left:50%;top:110px;width:300px;height:410px;margin-left:-145px;background-color:#FFF;z-index:8;opacity:0.7;border-radius:2px;'></div>

<div id="forgot-password" style='position:absolute;left:0;top:0;width:100%;height:100%;overflow:auto;z-index:10;background-color:transparent;'>
    <div class="header">

    <div class="logo">&nbsp;</div>
          <div style='position:absolute;top:125px;width:100%;font:bold 24px OpensansL;text-align:center;color:#000;z-index:10;'>Forgot your password?</div>
    </div>
    
    
   <div style='position:absolute;left:50%;top:160px;width:230px;height:360px;margin-left:-110px;z-index:10;'> 
    
      <form method="post" action="<?php echo $this->url(array('controller'=>'login','action'=>'forgot-password')); ?>">
          <div class="fields">
              <div class="field">
                  <div class="registationLabel"><?php echo f_trasl("Username",$langid); ?>*</div>
                  <input type="text" name="username" />               
              </div>
              <div class="field">
                  <div class="registationLabel">Email*</div>
                  <input type="text" name="email" />          
              </div>
              <div class="field">
                  <input type="submit" value="<?php echo f_trasl('Send',$langid); ?>" />
              </div>
          </div>
      </form>
      
      <div class="messages" style='margin-top:5px;'>
          <div class="message"><?php echo $this->message; ?></div>
          <?php for($a = 0;$a < count($this->error);++$a): ?>
          <div class="error"><?php echo $this->error[$a]; ?></div>
          <?php endfor;?>
      </div>
      
      
      <div style='position:absolute;width:100%;bottom:15px;font:13px OpensansR;color:#000;'>
              <?php echo f_trasl("* To recover password, please insert your e-mail address and username.",$langid); ?><br/>
              <?php 
              if(isset($resSmtpParams['SUPPORT_MAIL'])) echo f_trasl("If you can't receive any e-mail from mainsim, look at your spam folder and enable receiving e-mails from",$langid).$resSmtpParams['SUPPORT_MAIL']; ?> 
      </div>
        
    </div>    
    
    <?php if(false) { ?>
    <div>
    <?php if(!empty($this->message)): ?>
        <h3><?php echo $this->message;?></h3>
    <?php endif;?>
    </div>
    
    <?php echo $this->form; ?>
    <?php } ?>
     <div class="footer">mainsim&trade; - what maintenance can be - Copyright &copy; 2015 mainsim. All rights reserved.</div> 
    
    
</div>