<?php
$BRW=suppBrowser();


$db = Zend_DB::factory(Zend_Registry::get('db'));
$select = new Zend_Db_Select($db);


// lang id  default  NEWUSR_LANGUAGE
$select->from("t_creation_date",array("f_description"))->where("f_title = 'NEWUSR_LANGUAGE'");
        $res = $select->query()->fetch();
$langid=(int) $res['f_description'];

// NICO: controllo se voglio far vedere il messaggio di mainsim
$show_welcome = 1;
$select->reset();
$select->from("t_creation_date",array("f_description"))->where("f_title = 'SHOW_WELCOME'");
$res = $select->query()->fetch();
if (!empty($res)) {
    $show_welcome=(int) $res['f_description'];
}

// load name of image in folder
$PTH = IMAGE_DEFAULT_PATH;
if(file_exists(realpath($_SERVER["DOCUMENT_ROOT"].IMAGE_PATH."_login/"))) $PTH = IMAGE_PATH;
$PTH .= "_login/";
$ARRI=freadDir($_SERVER["DOCUMENT_ROOT"].$PTH."/back/");

$ai="";
if(count($ARRI)) $ai="'".implode("','",$ARRI)."'";


echo "<script> BRW=$BRW; ARRIMG=new Array($ai);";
echo "moGlb.imgPath = '".$PTH."' </script>";


//------------------------------------------------------------------------------
// function

function freadDir($dir) {
  $items=array();

  $d=opendir($dir);
  
  while($file = readdir($d)) {
      $exp = explode(".", $file);
      $ext = array_pop($exp);
      if($ext=="jpg" || $ext=="gif" || $ext=="png") $items[]=$file;
  }
  closedir();
  return $items;  
}



function f_trasl($word, $i=1){

  $translation = array(
  "Login" => "Accedi",
  "Username" => "Utente",
  "Password" => "Password",
  "Forgot your password?" => "Password dimenticata?",
  "How to register" => "Come registrarsi",
  "Welcome to" => "Benvenuto in",
  "Check, maintain, manage<br>and enhance your Assets." => "Controllare, mantenere, gestire<br>e migliorare i vostri beni.", 
  "Incorrect username or password" => "Utente o password errati.",
  "mainsim session already open" => "Sessione mainsim già aperta"     
);  

  if($i==2) {
    
    if(isset($translation[$word])) $word=$translation[$word];
    return $word;
  
  }else return $word;
}



?>
<script type="text/JavaScript">
window.onload = function () {
    var N = ARRIMG.length, random = Math.round((Math.random()*100))%N;
    with(mf$('idBkImg1').style) {
        background = "url("+moGlb.imgPath+"back/"+ARRIMG[random]+") 50% 50% no-repeat";
        backgroundSize = 'cover';
    }
};
</script>

<!-- background form di Login -->
<div class='clBkImg' id='idBkImg0' style='z-index:0;'></div>
<div class='clBkImg' id='idBkImg1' style='z-index:1;'></div>






<!-- footer -->
<div class='clMsg' style='position:absolute;bottom:16px;width:100%;text-align:center;font:13px opensansR;color:#ffffff;z-index:2;'>
<a style='color:#fff;text-decoration:none;' href='http://www.mainsim.com' target='_blank'>mainsim&#8482; - what maintenance can be - Copyright &#169; 2007 - <?php echo date("Y"); ?> mainsim. All rights reserved.</a></div>



<!-- container 638x386 -->
<div style='position:absolute;left:50%;top:28px;width:700px;height:386px;margin-left:-310px;z-index:2;'>


<!-- mainsim Logo -->
<img src="<?php echo $PTH; ?>mainsim_login_logo.png" />


<!-- Logo customer -->
<img src="<?php echo $PTH; ?>ms_logo_custom.png" style='position:absolute;right:80px;' />

</div>

<div style='position:absolute;left:50%;top:50%;width:638px;height:200px;margin-left:-310px;margin-top:-100px;z-index:2;'>
    
<!-- div form di Login -->
<div style='position:absolute;right:0;top:0;width:282px;height:199px;background:url(<?php echo IMAGE_DEFAULT_PATH."_login/"; ?>login_box.png);'>


    <form action="<?php echo $this->url(array('controller'=>'login','action'=>'login'),null,true);?>" method="post">        
        <div style="position:absolute;left:24px; top:26px;font:bold 13px opensansR;">
            <?php echo f_trasl("Username",$langid); ?>
            <br />
            <input class="inpt" type="text" name="usn" value="" style="width:220px;" />
        </div>
        
        <div style="position:absolute;left:24px;top:76px;font:bold 13px opensansR">
            <?php echo f_trasl("Password",$langid); ?>
            <br />
            <input class="inpt" type="password" name="psw" value="" style="width:168px;" />
        </div>
        
        <button style="position:absolute;right:28px;top:94px;width:50px;height:28px;font:12px opensansR;cursor:pointer;"><?php echo f_trasl("Login",$langid); ?></button>
            
    </form>
    
    <div class="login_error"><?php echo f_trasl($this->errorMessage,$langid);?></div>
    
<!-- link opzionali -->
    <div style="position:absolute;left:30px;right:28px;bottom:34px;text-align:right;line-height:14px;">
		<?php if($this->forgot_password){ ?> <a href="<?php echo $this->url(array('controller'=>'login', 'action'=>'forgot-password'), null, true);?>" title="<?php echo f_trasl("Forgot your password?",$langid); ?>"><?php echo f_trasl("Forgot your password?",$langid); ?></a><br /> <?php } ?>
        <?php if($this->registration){?> <a href="<?php echo $this->url(array('controller'=>'registration', 'action'=>'index'), null, true);?>" title="<?php echo f_trasl("How to register",$langid); ?>"><?php echo f_trasl("How to register",$langid); ?></a><br /> <?php } ?>
    </div>

</div>

<!-- message -->
<div style='position:absolute;left:0;top:50%;width:340px;height:72px;color:#ffffff;margin-top:-36px;'>

<div class='clMsg' style='font:24px opensansR;'><?php if($show_welcome) {echo f_trasl("Welcome to",$langid)." <b>main</b>sim,";} ?></div>
<div class='clMsg' style='font:18px opensansR;'><?php if($show_welcome) {echo f_trasl("Check, maintain, manage<br>and enhance your Assets.",$langid);} ?></div>


</div>

</div>