<script type="text/Javascript">
window.onload = function () {
    mf$("frm").onsubmit = function () {
        var pwd = mf$("pwd").value, cpwd = mf$("cpwd").value;        
        if(pwd != cpwd) {
            alert(moGlb.langTranslate("Password must be equal to confirm password"));
            return false;
        }
        return true;
    };
}
</script>
<div id="forgot-password">
    <div class="header">
        <div class="logo">&nbsp;</div>
        <div class="title">Create a new password</div>
        <div class="message">
            Please insert and confirm a new password.<br/>            
        </div>
    </div>
    <form id="frm" method="post" action="<?php echo $this->url(array('controller'=>'login','action'=>'confirm-recover')); ?>">
        <div class="fields">
            <div class="field">
                <div class="label pwd">Password*</div>
                <input id="pwd" type="password" name="password"></input>                
            </div>
            <div class="field">
                <div class="label cpwd">Confirm Password*</div>
                <input id="cpwd" type="password" name="confirm-password"></input>                
                <input type="hidden" name="code" value="<?php echo $this->code; ?>"></input>                
            </div>
            <div class="field">
                <input type="submit" value="Create"></input>
            </div>
        </div>
    </form>
    <div class="messages">
        <div class="message"><?php echo $this->message; ?></div>
        <?php for($a = 0;$a < count($this->error);++$a): ?>
        <div class="error"><?php echo $this->error[$a]; ?></div>
        <?php endfor;?>
    </div>
    <?php if(false) { ?>
    <div>
    <?php if(!empty($this->message)): ?>
        <h3><?php echo $this->message;?></h3>
    <?php endif;?>
    </div>
    <?php echo $this->form; ?>
    <?php } ?>
    <div class="footer">mainsim&trade; - what maintenance can be - Copyright &copy; 2015 mainsim. All rights reserved.</div>
</div>