<div>
    <form action="<?php echo $this->baseUrl();?>/admin/sql/query" method="post" >
        <div>
            <textarea name="query" cols="100" rows="15"><?php if(isset($this->result['query'])) {echo $this->result['query'];}else {echo "";}?></textarea>
        </div>
        <div>
            <input type="submit" value="Execute" />
        </div>
    </form>        
</div>
<?php if(isset($this->result['error']) && !empty($this->result['error']) ): ?>
    <div>
        <h3 style="color:red"><?php echo $this->result['error'];?></h3>
    </div>
<?php else :?>
    <?php if(isset($this->result['isSelect']) && $this->result['isSelect']): ?>
        <?php echo $this->render("sql/table.phtml")?>
    <?php elseif(isset($this->result['isSelect']) && !$this->result['isSelect']): ?>
        <div>
            <h3 style="color:greenyellow"><?php echo $this->result['result']; ?></h3>
        </div>
    <?php endif;?>
<?php endif; ?>
