<?php if(count($this->result['result']) > 0):?>
<?php 
    $tot = count($this->result['result']);
    $keys = array_keys($this->result['result'][0]);
    $tot_keys = count($keys);
?>
    <div style="height: 600px">
        <table>
            <tr>
            <?php for($a = 0;$a < $tot_keys;++$a):?>
                <th style="width:100px;border:1px solid black;"><?php echo $keys[$a] ?></th>
            <?php endfor; ?>            
            </tr>
            <?php for($b = 0;$b < $tot;++$b):?>
            <tr>
                <?php for($c = 0;$c < $tot_keys;++$c):?>
                    <td style="width:100px;border:1px solid black;"><?php echo $this->result['result'][$b][$keys[$c]] ?></td>
                <?php endfor; ?>                
            </tr>
            <?php endfor; ?>            
        </table>
    </div>
<?php else :?>
    <h2>No record found</h2>

<?php endif; ?>
