
<style>
    .accordion {
        background-color: white;
        color: #496670;
        cursor: pointer;
        /*padding: 2px 10px 2px 10px;*/
        width: 100%;
        text-align: left;
        outline: none;
        /* font-size: 15px; */
        transition: 0.4s;
        border: 1px solid #6f8d97;
        margin-top: 8px;
        border-radius: 8px;
        font:14px FlaticonsStroke;
        position:relative;
    }

    .accordionReadOnly {
        background-color: white;
        color: #cccccc;
        /* padding: 2px 10px 2px 10px; */
        width: 100%;
        text-align: left;
        outline: none;
        /* font-size: 15px; */
        transition: 0.4s;
        border: 1px solid #cccccc;
        margin-top: 8px;
        border-radius: 8px;
        font: 14px FlaticonsStroke;
        /* font-style: oblique; */
    }

    .active, .accordion:hover {
        color: white;
        background-color: #6f8d97;
    }

    .accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
        color:white;
        background-color: #6f8d97;
    }

    .panel {
        display: none;
        margin-left: 50px;
        margin-right: 7px;
        padding: 4px 18px;
        background-color: #dedede;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-left: 1px solid #6f8d97;
        border-right: 1px solid #6f8d97;
        border-bottom: 1px solid #6f8d97;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size:12px;
        color: #496670;
    }

    .woIcon{
        color: #6f8d97;
        margin-right: 5px;
        font:14px FlaticonsStroke;  
    }

    .woIconPanel{
        font:10px FlaticonsStroke;
        padding: 2px 2px 2px 3px;
    }

    .panelTable {
        display: table;
        width: 100%;
    }
    .panelRow { 
        display: table-row; 
        margin-top: 10px;
    }
    .panelLabel20 { 
        display: table-cell;
        text-align: left;
        width: 20%;
        font-weight: bold;
    }
    .panelValue30 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 30%;
    }

    .panelValue20 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 20%;
    }
    .panelValue80 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 80%;   
    }

    .accordionTitle{
        font: 12px opensansR;
        margin-left: 5px;
        position: absolute;
    }

    .iframe{
        width:98%; 
        border:1px solid #496670;
    }
</style>

<div style="font:42px opensansR;font-weight:bold;margin-left:13px;width:96%;display: block;background-color: white;height:87px;">    
    <div style="border-bottom: 1px solid #496670;color: #496670;">
        <div style="position:relative;">
            <div>
                <span style="font:42px FlaticonsStroke;">&#xe407;</span>
                <span style="font-size: 40px;">workorders</span>
            </div>
            <div>
                <span style="font-size: 20px; color:#6f8d97"><?= utf8_encode($this->elements[0]['ware']); ?></span>
            </div>
        </div>
    </div>
</div>
<div id="wizard_asset_wo" style="height:<?= $this->div_height -87 -70; ?>px;padding: 12px 30px 0px 30px;overflow-y:auto;">
    
    <?php for($i = 0; $i < count($this->elements); $i++){ 
        
        // draw phase advancement
        $phaseColors = ['#FF0000', '#FF2800', '#FF6300', '#FFA300', '#FFDA00', '#FFFF00', '#BCF017', '#7DD02C', '#42AD3E', '#17964B'];
        $phaseAdvancement = '';
        for($j = 10; $j <= 100; $j += 10){
            if($this->elements[$i]['f_percentage'] >= $j){
                $phaseAdvancement .= '<span style="float:left;margin-left:1px;width:9px;height:4px;background-color:' . $phaseColors[$j/10 - 1] . ';display:block"></span>';
            }
            else{
                $phaseAdvancement .= '<span style="float:left;margin-left:1px;width:7px;height:2px;border:1px solid #cecece;background-color:#cecece;display:block"></span>';
            }
        }
        if($this->elements[$i]['visible']){ ?>
            <button onclick="Wizard.f_asset_action_accordion(this, 'wo');" class="accordion"><?= "&#x" . dechex($this->type_icons[$this->elements[$i]['f_type_id']]) . ";"; ?><span class="accordionTitle"><?php echo strlen("(" . str_pad(str_pad(str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT), 5, '0'), 5, '0') . ") " . $this->elements[$i]['f_title']) > 70 ? substr(utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']),0, 70) . '...' : utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']); ?></span></button>
            <div class="panel">
            <div class="panelTable">
                <div class="panelRow">
                    <div class="panelLabel20">ID odl</div>
                    <div class="panelValue30"><?= str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT); ?></div>
                    <div class="panelLabel20">tipo</div>
                    <div class="panelValue30"><span class="woIconPanel"><?= "&#x" . dechex($this->type_icons[$this->elements[$i]['f_type_id']]) . ";" ?></span><?= $this->elements[$i]['f_summary_name']; ?></div>
                </div>
                <div class="panelRow">
                    <div class="panelLabel20">priorità</div>
                    <div class="panelValue30"><span style="font:12px FlaticonsStroke;color:<?= $this->elements[$i]['fc_action_priority_color']; ?>">&#xe4ac</span></div>
                    <div class="panelLabel20">richiedente</div>
                    <div class="panelValue30"><?= $this->elements[$i]['fc_creation_user_name']; ?></div>
                </div>
                <div class="panelRow">
                    <div class="panelLabel20">fase</div>
                    <div class="panelValue30"><?= $this->elements[$i]['f_name']; ?><br><?= $phaseAdvancement; ?></div>
                    <div class="panelLabel20">data apertura</div>
                    <div class="panelValue30"><?= date("d-m-Y", $this->elements[$i]['f_creation_date']); ?></div>
                </div>
            </div>
            <div class="panelTable">
                <div class="panelRow">
                    <div class="panelLabel20">descrizione</div>
                    <div class="panelValue80"><?= utf8_encode($this->elements[$i]['f_description']); ?></div>
                </div>
            </div>
        </div>
        <?php }
        else{ ?>
            <button class="accordionReadOnly"><?= "&#x" . dechex($this->type_icons[$this->elements[$i]['f_type_id']]) . ";"; ?><span class="accordionTitle"><?php echo strlen("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']) > 70 ? substr(utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']),0, 70) . '...' : utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']); ?></span></button>
        <?php } ?>
        

    <?php } ?>   
</div>
<div style="margin-left:13px;display: block;background-color: white;margin-top:5px;width:580px;height:70px;">    
    <div style="border-top: 1px solid #496670;color: #496670;">
        <div style="float:right; margin-top:20px;">
			<a style="cursor: pointer;text-decoration:none;z-index: 1;border-radius: 2px;overflow: hidden;background-color: #496670;padding: 5px 15px;text-decoration:none;color: #ffffff;font: 11px opensansR;" id="logout_button"  title="Chiudi" onclick="Wizard.f_asset_action_close_template();">Chiudi</a>
        </div>
    </div>
</div>


