
<style>
    .accordion {
        background-color: white;
        color: #496670;
        cursor: pointer;
        /*padding: 2px 10px 2px 10px;*/
        width: 100%;
        text-align: left;
        outline: none;
        /* font-size: 15px; */
        transition: 0.4s;
        border: 1px solid #6f8d97;
        margin-top: 8px;
        border-radius: 8px;
        font:14px FlaticonsStroke;
        position:relative;
    }

    .accordionReadOnly {
        background-color: white;
        color: #cccccc;
        /* padding: 2px 10px 2px 10px; */
        width: 100%;
        text-align: left;
        outline: none;
        /* font-size: 15px; */
        transition: 0.4s;
        border: 1px solid #cccccc;
        margin-top: 8px;
        border-radius: 8px;
        font: 14px FlaticonsStroke;
        /* font-style: oblique; */
    }

    .active, .accordion:hover{
        color: white;
        background-color: #6f8d97;
    }

    .accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
        color:white;
        background-color: #6f8d97;
    }

    .panel {
        display: none;
        margin-left: 50px;
        margin-right: 7px;
        padding: 4px 18px;
        background-color: #dedede;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-left: 1px solid #6f8d97;
        border-right: 1px solid #6f8d97;
        border-bottom: 1px solid #6f8d97;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size:12px;
        color: #496670;
    }

    .woIcon{
        color: #6f8d97;
        margin-right: 5px;
        font:14px FlaticonsStroke;  
    }

    .woIconPanel{
        font:14px FlaticonsStroke;
        padding: 2px 2px 2px 3px;
    }

    .panelTable {
        display: table;
        width: 100%;
    }
    .panelRow { 
        display: table-row; 
        margin-top: 10px;
    }
    .panelLabel5 { 
        display: table-cell;
        text-align: left;
        width: 5%;
        font-weight: bold;
    }
    .panelValue30 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 30%;
    }

    .panelValue20 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 20%;
    }
    .panelValue80 { 
        display: table-cell;
        text-align: left; 
        padding: 5px;   
        width: 80%;   
    }

    .panelDivLink{
        cursor: pointer;
        text-decoration:underline;
        color: #496670;
        font-weight:bold;
    }

    .accordionTitle{
        font: 12px opensansR;
        margin-left: 5px;
        position: absolute;
    }

    .iframe{
        width:98%; 
        border:1px solid #496670;
    }
</style>
<div style="font:42px opensansR;font-weight:bold;margin-left:13px;width:96%;display: block;background-color: white;height:87px;">    
    <div style="border-bottom: 1px solid #496670;color: #496670;">
        <div style="position:relative;">
            <div>
                <span style="font:42px FlaticonsStroke;">&#xe407;</span>
                <span style="font-size: 40px;">documenti</span>
            </div>
            <div>
                <span style="font-size: 20px;color:#6f8d97"><?= utf8_encode($this->elements[0]['ware']); ?></span>
            </div>
        </div>
    </div>
</div>
<div id="wizard_asset_wo" style="height:<?= $this->div_height -87 -70; ?>px;padding: 12px 30px 0px 30px;overflow-y:auto;">
    <?php for($i = 0; $i < count($this->elements); $i++){ 

        // set icon doc
        switch($this->elements[$i]['f_file_ext']){
            
            case 'jpeg':
            case 'jpg':
            case 'tif':
            case 'png':
                $iconDoc = "&#xe46a";
                $href = '/document/get-file?session_id=' . $this->elements[$i]['f_session_id'];
                break;

            case 'txt':
                $iconDoc = '&#xe406';
                $href = '/document/get-file?session_id=' . $this->elements[$i]['f_session_id'];
                break;
            
            case 'pdf':
                $iconDoc = '&#xe406';
                $href = '/document/get-file?session_id=' . $this->elements[$i]['f_session_id'];
                break;

            case 'docx':
            case 'xlsx':
                $iconDoc = '&#xe406';
                //$href = 'https://docs.google.com/gview?embedded=true&url=' . $_SERVER['HTTP_HOST'] .  "/document/get-file?session_id=" .  $this->elements[$i]['f_session_id'];
                $href = '/document/get-file?session_id=' . $this->elements[$i]['f_session_id'];
                break;
        }
        

        if($this->elements[$i]['visible']){ ?>
            <button onclick="Wizard.f_asset_action_accordion(this, 'doc');" class="accordion" type="<?= $this->elements[$i]['f_file_ext']; ?>" sessionID="<?= $this->elements[$i]['f_session_id']; ?>"><?= $iconDoc ?><span class="accordionTitle"><?= strlen("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']) > 70 ? substr(utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']),0, 70) . '...' : utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']); ?></button>
            <div class="panel">
                <!--<div class="panelDivLabel20">tipo</div><div class="panelDivValue20"><?= $this->elements[$i]['f_file_ext']; ?></div><div class="panelDivLabel20">data</div><div class="panelDivValue20"><?= date("d-m-Y", $this->elements[$i]['f_creation_date']); ?></div><div class="panelDivValue25"><a class="panelDivLink" href="<?= $href; ?>" target="_blank">apri documento</a></div>
                -->
                <div class="panelTable">
                    <div class="panelRow">
                        <div class="panelLabel5">tipo</div>
                        <div class="panelValue20"><?= $this->elements[$i]['f_file_ext']; ?></div>
                        <div class="panelLabel5">data</div>
                        <div class="panelValue20"><?= date("d-m-Y", $this->elements[$i]['f_creation_date']); ?></div>
                        <div class="panelValue20"><a class="panelDivLink" href="<?= $href; ?>" target="_blank">apri documento</a></div>
                    </div>
                </div>
                <iframe src="" class="iframe" id="<?= $this->elements[$i]['f_session_id']; ?>"></iframe>
            </div>
    <?php }
        else{?>
            <button class="accordionReadOnly" type="<?= $this->elements[$i]['f_file_ext']; ?>"><?= $iconDoc ?><span class="accordionTitle"><?= strlen("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']) > 70 ? substr(utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']),0, 70) . '...' : utf8_encode("(" . str_pad($this->elements[$i]['fc_progress'], 5, '0', STR_PAD_LEFT) . ") " . $this->elements[$i]['f_title']); ?></button>
    <?php } ?>

    <?php } ?>   
</div>
<div style="margin-left:13px;width:96%;display: block;background-color: white;height:70px;">    
    <div style="border-top: 1px solid #496670;color: #496670;">
        <div style="float:right; margin-top:20px;">
			<a style="cursor: pointer;text-decoration:none;z-index: 1;border-radius: 2px;overflow: hidden;background-color: #496670;padding: 5px 15px;text-decoration:none;color: #ffffff;font: 11px opensansR;" id="logout_button"  title="Chiudi" onclick="Wizard.f_asset_action_close_template();">Chiudi</a>
        </div>
    </div>
</div>


