<html>
  <head>
  
<style>

div { position:absolute; border:1px solid #aaa; left:10px; top:10px; }


</style>  
  
  
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
   
    
<script>
    
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawLine);     

      
      


 
function drawLine(){  
    data1 = new google.visualization.DataTable();
        
    WW=mfWW();
    HH=mfHH();    
        
        data1.addColumn('string', 'Year');
        data1.addColumn('number', 'Priority');
        data1.addColumn('number', 'Expenses');
        data1.addColumn('number', 'Prevision'); 
    data1.addRows([
          ['2004', 200, 800, 500 ],
          ['2005', 300, 1200, 300 ],
          ['2006', 400, 50, 600 ],
          ['2007', 500, 300, 1000 ]
        ]);

    opt1 = {
          width: WW-20, height: HH-20,
          title: 'Maintenance', 
        animation:{
          duration: 1000,
          easing: 'in' },
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}  
        };

   chart1 = new google.visualization.AreaChart(document.getElementById('line_div'));
        chart1.draw(data1, opt1);
}
 
 
 
function chg() { if(End) return;
var a=[], b=[], c=[];
for(var r=0;r<4;r++) { a=parseInt(2200*(Math.random())); b=parseInt(1200*(Math.random())); c=parseInt(1200*(Math.random())); 
                       data1.setValue(r, 1, a); data1.setValue(r, 2, b); data1.setValue(r, 3, c); }
chart1.draw(data1, opt1);
setTimeout("chg()",6000);    
} 
 
  
function init(){

End=0; chg();


} //
     
     
function mfHH(){
if (window.innerWidth!=window.undefined) return window.innerHeight;
if (document.compatMode=='CSS1Compat') return document.documentElement.clientHeight;
if (document.body) return document.body.clientHeight;
}  
  
  
function mfWW(){
if (window.innerWidth!=window.undefined) return window.innerWidth;
if (document.compatMode=='CSS1Compat') return document.documentElement.clientWidth;
if (document.body) return document.body.clientWidth;
} 
     
     
     
      
    </script>
  </head>
  <body onload="init()">
  
<div id="line_div"></div>

  </body>
</html>