<html>
  <head>
  
<style>

div { position:absolute; border:1px solid #aaa; left:10px; top:10px; }


</style>  
  
  
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
   
    
<script>
    
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawLine);     

    


 
function drawLine(){  
      data = new google.visualization.DataTable();

        data.addColumn('string', 'Task');
        data.addColumn('number', 'Hours per Day');

        
    WW=mfWW();
    HH=mfHH();    
        
        data.addRows([
          ['Raggiungibile',  1 ],
          ['Consultazione WiFi', 1 ],
          ['Consultazione Live Cam',  1 ],
          
          ['In Verifica',  1 ],
          ['Rec Off',  1 ],
          ['Non Raggiungibile',  1 ],
          ['In Manutenzione',  1 ],
          ['In installazione',  1 ]
        
        ]);
 
   opti = {
          width: mfWW(), height: mfHH(),
          title: 'Stato funzionamento',
          
      animation:{
          duration: 1000,
          easing: 'linear' } 
          
        };

chart1 = new google.visualization.PieChart(document.getElementById('line_div'));
chart1.draw(data, opti);

}
 
 
 
function chg() { if(End) return;
var a=[];
for(var r=0;r<8;r++) { a=parseInt(6*(Math.random())); 
                       data.setValue(r, 1, a);  }
chart1.draw(data, opti);
setTimeout("chg()",3000);    
} 
 
  
function init(){


End=0; chg();


} //
     
     
function mfHH(){
if (window.innerWidth!=window.undefined) return window.innerHeight;
if (document.compatMode=='CSS1Compat') return document.documentElement.clientHeight;
if (document.body) return document.body.clientHeight;
}  
  
  
function mfWW(){
if (window.innerWidth!=window.undefined) return window.innerWidth;
if (document.compatMode=='CSS1Compat') return document.documentElement.clientWidth;
if (document.body) return document.body.clientWidth;
} 
     
     
     
      
    </script>
  </head>
  <body onload="init()">
  
<div id="line_div"></div>

  </body>
</html>