<style>
a { cursor:pointer; color:#3B6471; text-decoration:none; font: 11px Arial; }  
a:hover { text-decoration:underline; }
</style>
<a href="#">Work Orders in building 7a</a><br/>
<a href="#">Work Orders in pump category</a><br/>
<a href="#">Work Orders in HVAC</a><br/>
<a href="#">Overdue Work Orders</a>