<html>
    <head>
        <!-- application constants -->
        
        <!-- css -->
         <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <!-- openmaps -->
        <script src="<?php echo JS_PATH; ?>/map_js/ClassMap.js"></script>  
        <script src="<?php echo JS_PATH; ?>/map_js/map.js"></script>  
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ajax.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        
        <style>
        .phoney {
            background-color:transparent;
            font-size: 40px;
            display:block;
        }
        #filter_container{
           /* background-color: rgba(111, 141, 151, 0.51);
            width: 400px;
            height: 100px;*/
            position: absolute;
            right: -4px;
            top: 15px;
            z-index: 2;
            /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);*/
        }
        
        #map{
            float: left;
            width: 100%;
            height: 100%;
        }
        
        select{
            font-size: 15px;
        }
        
        #filter_title{
            color: #FFF;
            background-color: #496670;
            font: 20px opensansR;
            width: 99%;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
        }
        
        .select_map{
            -webkit-appearance: menulist;
            box-sizing: border-box;
            align-items: center;
            border: 1px solid #496670;
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            white-space: pre;
            -webkit-rtl-ordering: logical;
            color: #496670;
            background-color: white;
            cursor:pointer;
            width: 180px;
        }
        
        .container_element{
            display: block;
            position: absolute;
            margin-top: 10px;
            width: 100%;
            /*background-color: #E1EAED;*/
        }
        
        .div_select{
            float: right;
            margin-right: 10px;
        }
        
        .name_select{
            float: left;
            font: 14px opensansR;
            color: #FFF;
            width: 80px;
            margin-left: 10px;
            font-weight:bold;
            text-shadow: 1px 1px 1px #000;
        }
        </style>
        <script type="text/JavaScript">
        moGlb.priorities = JSON.parse('<?php echo json_encode($this->priorities); ?>');
        </script>            
    </head>
    <body>
<div style="float: left; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;">
    <div id="filter_container">
       <!-- <div id="filter_title">Filter Workorders</div>-->
        <div class="container_element">
            <!--<div class="name_select">Priority</div>-->
            <div class="div_select">
                <select id="select_priority" class="select_map " onchange="filter();">
                </select>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container_element">
            <!--<div class="name_select">Type</div>-->
            <div class="div_select">
                <select id="select_type" class="select_map" onchange="filter();">
                </select>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container_element">
            <!--<div class="name_select">Owner</div>-->
            <div class="div_select">
                <select id="select_owner" class="select_map" onchange="filter();">
                </select>
            </div>
        </div>
    </div>
    <!--<div id="map" style="top: 0px; position: absolute; left: 0px; bottom: 0px; right: 0px;"></div>-->
    <div id="map" ></div>
</div>
<!--<div id="items">
    <div class="itemsType" style="float: left;" onClick="unpMaps.showAssets();">assets</div>
    <div class="itemsType" style="float: right;" onClick="unpMaps.showWorkOrders();">workorders</div>
</div>
<script>unpMaps.init();</script>-->
</body>
</html>