<html>
    <head>
        <title>Bulletin board</title>
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <style>
        body {
            background-color: #fff;
            padding-left: 5px;
            padding-top: 5px;
        }
        #wrapper {
            overflow: hidden;
            position: absolute;    
            top: 0; bottom: 0; left: 3px; right: 0;            
        }          
        
        #container {
            overflow: hidden;
            position: absolute;    
            top:0; left:8px; right:16px;            
        }  
          
        .bulletin {
            padding-right: 12px;
            text-align: justify;
            /*text-indent: 20px;*/
        }
        
        .bulletin .avatar {
            float: left; left: 0;
            width: 50px; height: 50px;
            /*background: url(<?php echo IMAGE_PATH; ?>../default/thumbnails/man.png) no-repeat 0 0;*/
            border: 1px solid #000000;
            text-align: justify;
            margin: 3px 5px 0px 0px;
        }
        /*
        .bulletin .avatar img {
            border: 1px solid #000000;
            margin-top: 2px;
        }*/
        .bulletin .content {}
        .separator {
            /*border-bottom: 1px solid #aaaaaa;*/
            margin-bottom: 10px;
            margin-right: 10px;
        }
        </style>
     
  <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>   
  <script type="text/Javascript" src="<?php echo JS_PATH; ?>ui/scrollbar.js"></script> 
        
        
<script type="text/javascript">

function resize_image(image){
  var avatar = image.parentNode, diff = (avatar.clientHeight - image.clientHeight)/2;
  image.style.marginTop = diff.toString() + 'px';                
}
 
            
            
            
            
            
            
function init(){      
  moGlb.getBrowser();
  isTouch=moGlb.isTouch;
  BullBoard.Start();      
}    
 
window.onresize=function(e){    
    BullBoard.Resize(); 
}            
                 
BullBoard={ sct:0,sch:0,scH:0, VscrBB:null, JW:null, jsb:null,

Start:function(){
with(BullBoard){
  JW=mf$("wrapper");
  JC=mf$("container");
  jsb=mf$("id_scroll_bd"); 
  BullBoard.VscrBB=new OVscroll('BullBoard.VscrBB',{ displ:0, L:-100, T:0, H:0, HH:0, Fnc:'BullBoard.Vbarpos', pid:'id_scroll_bd' });
  if(!isTouch) JW.onmouseover=function(e){ WHEELOBJ="BullBoard.VscrBB"; }
  Resize();
}},

Resize:function(){
with(BullBoard){
  scH=JW.offsetHeight;
  sch=JC.offsetHeight;
  if(sch>scH) {
    jsb.style.display="block";
    VscrBB.Display(1); VscrBB.Resize( { L:0, T:0, H:scH, HH:sch } );
    if(sct) VscrBB.Resize( { ptr:sct } );   
  } else jsb.style.display="none";
}},

Vbarpos:function(i){
with(BullBoard){
  if(!JW) return;
  JW.style.top=-i+"px";
}}
} //      
      
      
            
</script>
    </head>
    <body onload='init()'>    
      
      <div id="wrapper">    
        <div id="container">
            <?php 
            if(count($this->bulletins) > 0){
                $main = new Mainsim_Model_Mainpage();
                $priority = $main->getPriorities();
                    for($i = 0 ; $i < count($this->bulletins); $i++){
                        $pr = $this->bulletins[$i]['f_priority'];//var_dump($pr); die();
                        $priorityImg = $priority[/*$pr['f_priority']*/$pr]["color"];
                    ?>
                    <div class="bulletin">
                        <div class="avatar">
                            <?php if($this->bulletins[$i]['fc_usr_avatar']){ 
                                $aux = explode("|", $this->bulletins[$i]['fc_usr_avatar']);
                                ?>
                                <img src="<?php echo BASEURL . '/document/get-file?session_id=' . $aux[0] . '&size=thumbnail';//echo BASEURL . '/getDocument.php?session_id=' . $aux[0] . '&size=thumbnail' ?>" style="max-height:100%; max-width:100%;" onload="resize_image(this);"/>
                            <?php }
                                else{ ?>
                                <img src="<?php echo BASEURL ?>/public/msim_images/default/thumbnails/man.png"/>
                            <?php } ?>
                        </div>
                        <div class="content">
                            <span style="font: 16px FlaticonsStroke; color:<?php echo $priorityImg; ?>">&#58540;</span>
                            <span style="font-weight : bold; font-size : 14px;">&nbsp;<?php print(utf8_encode($this->bulletins[$i]['f_title'])); ?></span><br> 
                            <span style="font-size : 11px;">Posted by <b><?php print(utf8_encode($this->bulletins[$i]['fc_editor_user_name'])); ?></b> at <b><?php echo date("H:i", $this->bulletins[$i]['f_creation_date']) . '</b> on <b>' . date("F d, Y", $this->bulletins[$i]['f_creation_date']) ?></b></span>
                            
                            <div style="float: left;"><?php print(utf8_encode($this->bulletins[$i]['f_description'])); ?></div>
                            <div class="separator">&nbsp;</div>
                        </div>
                    </div>
                   <?php if($i != (count($this->bulletins) - 1)){ ?>
                        <div class="separator">&nbsp;</div>
                    <?php }
                }
            }
            else {
                ?>
                    <div id="no-bulletin">
                        <div class="newspaper">&#58435;</div>
                        <div class="text">There are no bulletins</div>
                    </div>
                <?php
            } ?>
        </div>
        
      </div>  
      
      <div id='id_scroll_bd' style='position:absolute;right:0px;top:4px;width:24px;bottom:4px;overflow:hidden;display:none;'></div> 
        
    </body>
</html>