<?php
$lang=1;
$language= array(
			array(
			"today" 	=> 	"Today",
			"yesterday" =>	"Yesterday",
			"th_week"	=>	"This Week",
			"la_week"	=>	"Last Week",
			"th_month"	=>	"This Month",
			"la_month"	=>	"Last Month",
			"th_year"	=>	"This Year",
			"la_year"	=>	"Last Year"
			),
			array(
			"today" 	=> "Oggi",
			"yesterday" => "Ieri",
			"th_week"	=>	"Settimana Corrente",
			"la_week"	=>	"Settimana Precedente",
			"th_month"	=>	"Mese Corrente",
			"la_month"	=>	"Mese Precedente",
			"th_year"	=>	"Anno Corrente",
			"la_year"	=>	"Anno Precedente"
			)
	);
?>

<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
			}
			#container{
				position: absolute;
				width : 100%;
				height: 100%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<!--div class="tit">Mobile - Seleziona periodo: 
		<form name="select_date" style="display:inline;">
			<select name="values" class='cl_font' onchange="update_graph()">
				<option value="1" selected="selected"><?php  echo $language[$lang]['today'];	?></option>
				<option value="2"><?php  echo $language[$lang]['yesterday'];?></option>
				<option value="3"><?php  echo $language[$lang]['th_week'];	?></option>
				<option value="4"><?php  echo $language[$lang]['la_week'];	?></option>
				<option value="5"><?php  echo $language[$lang]['th_month'];	?></option>
				<option value="6"><?php  echo $language[$lang]['la_month'];	?></option>
				<option value="7"><?php  echo $language[$lang]['th_year'];	?></option>
				<option value="8"><?php  echo $language[$lang]['la_year'];	?></option>
			</select>
		</form>
		</div-->
		<div id="container" >
			<script type="text/javascript" src="<?php echo JS_PATH; ?>library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
		update_graph();
		var 	opd1=0,
				opd2=0
				
		update_graph();
		
		function update_graph(){
			//values = document.select_date.values.value;
			Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi19", "", "funz_risp" );  
			setTimeout("update_graph()",5000);
		}
			
		function funz_risp(d){
			arr=JSON.parse(d);
			
			pd1=arr[0];
			pd2=arr[1];
			
			if(!(pd1==opd1 && pd2==opd2 )){
			  (function basic_pie(container) {
				  var   
					container = document.getElementById('container'),			
					d1  = [[0,pd1 ]],
					d2  = [[0,pd2 ]],
					graph,
					options;

				graph = Flotr.draw(container, [
						{ data : d1,  label : 'Taken' , color	: '#CCFF99'		},
						{ data : d2,  label : 'Not Taken' , color	: '#FF9966'  	}
						
					  ],{
						HtmlText : false,
						grid : {
						  verticalLines : false,
						  horizontalLines : false,
						  outlineWidth:0
						},
						xaxis : { showLabels : 0 },
						yaxis : { showLabels : 0 },
						pie : {
							explode: 10,
							show : true
						},
						mouse:{
								track: true,
								lineColor: 'red',
								//relative: true,
								//position: 'ne',
								sensibility: 1, // => The smaller this value, the more precise you've to point
								trackDecimals: 2,
								trackFormatter: function(obj){ return Math.floor(obj.y); }
						},
						//mouse : { track : true, lineColor:'black'},
						legend : {
						  position : 'no',
						  backgroundColor : '#D2E8FF'
						}
					  });
					
				opd1=pd1;
				opd2=pd2;
				})(document.getElementById('editor-render-0'));
			}


				
				
		}
		</script>	
	</body>
</html>