<?php
$options = array( "Today", "Yesterday", "This Week", "Last Week", "This Month", "Last Month", "This Year", "Last Year" );
?>
<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 88%;
				height: 88%;
				left:4%;
				top:6%;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:6px;
				top:6px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div class="tit">Periodo:  
		<form name="select_date" style="display:inline;"onchange="update_graph()">
			<select name="values" class='cl_font' style="width:60px;">
				<option value="1" >oggi</option>
				<option value="2">ieri</option>
				<option value="3" selected="selected">settimana corrente</option>
				<option value="4">settimana precedente</option>
				<option value="5">mese corrente</option>
				<option value="6">mese precedente</option>
				<option value="7">anno corrente</option>
				<option value="8">anno precedente</option>
			</select> e Fase
			<select name="phase" class='cl_font' style="width:60px;" onchange="update_graph()">
			<option value="0" selected="selected">Tutte</option>
				<option value="1" >Emissione OdL</option>
				<option value="2">Presa in carico</option>
				<option value="3">Richiesta preventiva</option>
				<option value="4">Autorizzazione Emiss. RDA</option>
				<option value="5">Emissione RDA</option>
				<option value="6">Emissione Ordine</option>
				<option value="7">Fornitura materiale/prestazione</option>
				<option value="8">Collaudo fornitura</option>
				<option value="9">Emissione report</option>
				<option value="10">Chiusura OdL</option>
				<option value="11">Cancellazione</option>
			</select>
		</form>
		</div>
		<div id="container" >
			<script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>				
		update_graph();
		
		function update_graph(){
			values = document.select_date.values.value;
			phase = document.select_date.phase.value;
			form = {val: values, phase: phase};
			form2=JSON.stringify(form);
			Ajax.sendAjaxPost("<?php echo BASEURL; ?>/start-center/get-kpi10","form2="+form2, "funz_risp" );   
			//setTimeout("update_graph()",10*1000);
		}
			
		function funz_risp(d){

                    
			var ar=JSON.parse(d);
			var arr=ar[0];
			
			//arr=[15,34,5,19,1,54,30];
			
			
			
			var max=Math.max(arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],arr[6]);
			/*pd1=arr[0];
			pd2a=arr[1];
			pd2b=arr[2];
			pd3=arr[3];
			pd4=arr[4];*/
			//if(!(pd1==opd1 && pd2a==opd2a && pd2b==opd2b && pd3==opd3 && pd4==opd4 )){
			  (function basic_radar(container) {
			var tipology=[
				{color:"#F00", name:"Avarie"},
				{color:"#00F", name:"Consumabili"},
				{color:"#FF0", name:"Miglioramento prodotto"},
				{color:"#8F8", name:"Pulizie pitturazioni e vernici"},
				{color:"#0FF", name:"Comfort e arredi"},
				{color:"#AAA", name:"Scadenze di legge"},
				{color:"#F0F", name:"Acquisti vari"}
			];
				  // Fill series s1 and s2.
				  var container = document.getElementById('container'),	
					s1 = { label : 'RIT', data : [[0, arr[0]], [1, arr[1]], [2, arr[2]], [3, arr[3]], [4, arr[4]], [5, arr[5]], [6, arr[6]] ]};
					
					var graph, ticks;

			// Radar Labels
			ticks = [
				[0, tipology[0].name],
				[1, tipology[1].name],
				[2, tipology[2].name],
				[3, tipology[3].name],
				[4, tipology[4].name],
				[5, tipology[5].name],
				[6, tipology[6].name]
			];
			
			// Draw the graph.
			graph = Flotr.draw(container, [ s1 ], {
			radar : { show : true}, 
			grid  : { circular : true, minorHorizontalLines : true, outlineWidth: 0 }, 
			yaxis : { min : 0, max : (parseInt(max+1)), minorTickFreq : 2}, 
			xaxis : { ticks : ticks},
			legend : {
						  position : 'ne',
						  backgroundColor : '#D2E8FF'
						}
						});
			})(document.getElementById("editor-render-0"));		
		}
		</script>	
	</body>
</html>