<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 97%;
				height: 95%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:32px;
				top:12px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		
		<div id="container" >
			<script type="text/javascript" src="<?php echo JS_PATH; ?>library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
		<script>
		update_graph();

function update_graph(){
	Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi17", "", "funz_risp" );  
	setTimeout("update_graph()",5000);
	funz_risp();
	}
	
function funz_risp(d){
//alert(d);
	arr=JSON.parse(d);
	
(function mouse_drag(container) {

  var
    d1 = [],
    container = document.getElementById('container'),
    options,
    graph,
    start,
    i,
	max;
	
	max=0;

	
  for (i = 0; i < 24; i++) {
    d1.push([i, arr[i]]);
		if(arr[i]>max) max=arr[i];
	
  }
      
  options = {
    xaxis: {min: 0, max: 23, noTicks: 24, tickDecimals: 0
	},
	yaxis: {min:0, max:max+1, noTicks: 9,tickDecimals: 0	}
	
	  
      
  };
/*legend : {
					position : 'ne',
				  backgroundColor : '#D2E8FF' // Light blue 
				}
  */// Draw graph with default options, overwriting with passed options
  function drawGraph (opts) {

    // Clone the options, so the 'options' variable always keeps intact.
    var o = Flotr._.extend(Flotr._.clone(options), opts || {});

    // Return a new graph.
    return Flotr.draw(
      container,
      [ d1 ],
      o
    );
  }

  graph = drawGraph();      

  function initializeDrag (e) {
   // start = graph.getEventPosition(e);
   // Flotr.EventAdapter.observe(document, 'mousemove', move);
   // Flotr.EventAdapter.observe(document, 'mouseup', stopDrag);
  }

  function move (e) {
    var
      end     = graph.getEventPosition(e),
      xaxis   = graph.axes.x,
      offset  = start.x - end.x;

    graph = drawGraph({
      xaxis : {
        min : xaxis.min + offset,
        max : xaxis.max + offset,
		noTicks: 24, 
		tickDecimals: 0
      }
    });
    // @todo: refector initEvents in order not to remove other observed events
    Flotr.EventAdapter.observe(graph.overlay, 'mousedown', initializeDrag);
  }

  function stopDrag () {
    Flotr.EventAdapter.stopObserving(document, 'mousemove', move);
  }

  Flotr.EventAdapter.observe(graph.overlay, 'mousedown', initializeDrag);

})(document.getElementById("editor-render-0"));
		}
	
			</script>
		</body>
	</html>