<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 100%;
				height: 100%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div id="container" >
                    <script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
		
		update_graph();
		var 	opd1=0,
				opd2=0,
				opd3=0;
		update_graph();
		
		function update_graph(){
			Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi13", "", "funz_risp" );  
			setTimeout("update_graph()",60000);
		}
		function funz_risp(d){
			var arr=JSON.parse(d);	
			pd1=arr[0];
			pd2=arr[1];
			pd3=arr[2];
			
			if(pd1==0 && pd2==0 && pd3==0){ mf$("container").innerHTML=moGlb.langTranslate("No data found"); return; }
			if(!(pd1==opd1 && pd2==opd2 && pd3==opd3)){
			  (function basic_pie(container) {
				  var   
					container = mf$d('container'),			
					d1  = [[0,pd1 ]],
					d2  = [[0,pd3 ]],
					d3  = [[0,pd2 ]],

					graph,
					options;

				graph = Flotr.draw(container, [
						{ data : d1,  label : 'Chiuse in tempo' , color	: '#eeecb6'	,pie: {explode:20}	},
						{ data : d2,  label : 'Chiuse in ritardo' , color	: '#9686f0'  ,pie: {explode:30}	},
						{ data : d3,  label : 'In ritardo' , color	: '#c8eedf' ,pie: {explode:30}
						}
					  ],{
						HtmlText : false,
						grid : {
						  verticalLines : false,
						  horizontalLines : false,
                                                    outlineWidth: 0
						},
						xaxis : { showLabels : 0 },
						yaxis : { showLabels : 0 },
						pie : {
							explode: 10,
							show : true
						},
						mouse:{
								track: true,
								lineColor: 'black',
								//relative: true,
								//position: 'ne',
								sensibility: 1, // => The smaller this value, the more precise you've to point
								trackDecimals: 2,
								//trackFormatter: function(obj){ return obj.y; }
						},
						//mouse : { track : true, lineColor:'black'},
						legend : {
						  position : 'so',
						  backgroundColor : '#D2E8FF'
						}
					  });
					
				opd1=pd1;
				opd2=pd2;
				opd3=pd3;
				
				})(mf$('editor-render-0'));
			}


				
				
		}

		</script>	
	</body>
</html>