<?php
$options = array( "Today", "Yesterday", "This Week", "Last Week", "This Month", "Last Month", "This Year", "Last Year" );
?>
<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 98%;
				height: 98%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body onload = 'set_select_date();'>
		
		<div id="container" >
                    <script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
                <div id = "div_tit" class="tit">
			
		</div>
		
		<script>
		
                
                function set_select_date(){
                    document.getElementById('div_tit').innerHTML += parent.moGlb.langTranslate('Period') + ": " +'<form name="select_date" style="display:inline;"><select name="values" class="cl_font" onchange="update_graph()"><option value="1" >'+parent.moGlb.langTranslate('Today')+'</option><option value="2">'+parent.moGlb.langTranslate('Yesterday')+'</option><option value="3" selected>'+parent.moGlb.langTranslate('Current week')+'</option><option value="4">'+parent.moGlb.langTranslate('Last week')+'</option><option value="5">'+parent.moGlb.langTranslate('Current month')+'</option><option value="6">'+parent.moGlb.langTranslate('Last month')+'</option><option value="7">'+parent.moGlb.langTranslate('Current year')+'</option><option value="8">'+parent.moGlb.langTranslate('Last year')+'</option></select></form>';
                    update_graph();
                }
		
		function update_graph(){
			values = document.select_date.values.value;
			Ajax.sendAjaxPost("<?php echo BASEURL; ?>/start-center/get-kpi1", "val="+values, "funz_risp" );  
		}
			
		function funz_risp(d){
                    
			arr=JSON.parse(d);
			
			pd1=arr[0];
			pd4=arr[1];
			pd5=arr[2];
			pd6=arr[3];
			pd7=arr[4];
			pd10=arr[5];
			pd12=arr[6];
                        
                        var corrective = parent.moGlb.langTranslate('Corrective');
                        var periodic = parent.moGlb.langTranslate('Periodic');
                        var inspection = parent.moGlb.langTranslate('Inspection');
                        var oncondition = parent.moGlb.langTranslate('OnCondition');
                        var reservation = parent.moGlb.langTranslate('Reservation');
                        var workrequest = parent.moGlb.langTranslate('WorkRequest');
                        var task = parent.moGlb.langTranslate('Task');
	
			  (function basic_pie(container) {
				  var   
					container = document.getElementById('container'),			
					d1  = [[0,pd1 ]],
					d4  = [[0,pd4 ]],
					d5  = [[0,pd5 ]],
					d6  = [[0,pd6 ]],
					d7  = [[0,pd7 ]],
					d10 = [[0,pd10 ]],
					d12 = [[0,pd12 ]],
					graph,
					options;
                                        
                                        
				graph = Flotr.draw(container, [
						{ data : d1,  label : corrective , color	: 'red'		},
						{ data : d4,  label : periodic , color	: 'green'  	},
						{ data : d5,  label : inspection , color	: 'blue' 	},
						{ data : d6,  label : oncondition, color	: 'yellow', 
														pie	: {
																explode : 25
															}			},
						{ data : d7,  label : reservation , color	: 'darkgrey'},
						{ data : d12, label : workrequest, color	: 'purple'	},
						{ data : d10, label : task, color	: 'white'	}
					  ],{
						HtmlText : false,
						grid : {
						  verticalLines : false,
						  horizontalLines : false,
                                                    outlineWidth: 0
						},
						xaxis : { showLabels : 0 },
						yaxis : { showLabels : 0 },
						pie : {
							explode: 10,
							show : true
						},
						mouse:{
								track: true,
								lineColor: 'purple',
								//relative: true,
								//position: 'ne',
								sensibility: 1, // => The smaller this value, the more precise you've to point
								trackDecimals: 2,
								//trackFormatter: function(obj){ return obj.y; }
						},
						//mouse : { track : true, lineColor:'black'},
						legend : {
						  position : 'so',
						  backgroundColor : '#D2E8FF'
						}
					  });
					
			
				})();
			


				
				
		}
		</script>	
	</body>
</html>