<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 90%;
				height: 90%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:32px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div id="container" >
                    <script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
	update_graph();
		
		function update_graph(){
			Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi14", "", "funz_risp" );   
			//funz_risp();
		}
		
		function funz_risp(d){
			var arr=JSON.parse(d);
				if(arr[1]==null) {mf$("container").innerHTML=moGlb.langTranslate("No data found"); return;}
			(function bars_stacked(container,horizontal) {

			var tipology=[
				{color:"#0F0", name:"Interventi"}
			];
			  container = mf$('container'),
				d1 = [];
				var graph, i;
				
				val=arr[1];
				
					for (i =-3 ; i <= arr[0] ; i++) { //arr[0] : n gruppi delle richieste con gli stessi giorni di ritardo
						if(val[i] == undefined) val[i]=0;
						d1.push([i-3 , parseInt(val[i])]); //grandezza di ogni gruppo
			
			  }

			  graph = Flotr.draw(container,[
				{ data : d1, color : tipology[0].color , label :tipology[0].name}
			  ], {
				legend : {
					position : 'ne',
				  backgroundColor : '#D2E8FF' // Light blue 
				},
				xaxis : {
					noTicks: arr[0]/2,
					tickDecimals: 0,
					
				},
				bars : {
				  show : true,
				  stacked : true,
				  horizontal : horizontal,
				  barWidth : 0.6,
				  lineWidth : 1,
				  shadowSize : 8
				},
				grid : {
				  verticalLines : horizontal,
				  horizontalLines : !horizontal,
                                  outlineWidth: 0
				}
			  });
			})(mf$("editor-render-0"));
		}
		
		</script>	
	</body>
</html>