

<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 95%;
				height: 95%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div id="container" >
			<script type="text/javascript" src="<?php echo JS_PATH; ?>library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>				
		update_graph();
		
		function update_graph(){
			//values = document.select_date.values.value;
			//phase = document.select_date.phase.value;
			//form = {val: values, phase: phase};
			//form2=JSON.stringify(form);
			Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi21","", "funz_risp" );   
			setTimeout("update_graph()",5000);
		}
			
		function funz_risp(d){
			var ar=JSON.parse(d);
			var arr=ar[0];
			
			//arr=[15,34,5,19,1,54,30];
			
			
			
			var max=Math.max(arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],arr[6],arr[7],arr[8],arr[9],arr[10]);
			  (function basic_radar(container) {
			var tipology=[
				{color:"#F00", name:"Hotel Castello"},
				{color:"#00F", name:"Hotel Borgo"},
				{color:"#FF0", name:"Hotel Dune"},
				{color:"#8F8", name:"Hotel Le Palme"},
				{color:"#0FF", name:"Hotel Pineta"},
				{color:"#AAA", name:"Villa del Parco"},
				{color:"#F0F", name:"Hotel Villaggio"},
				{color:"#F0F", name:"Beach Comber"},
				{color:"#F0F", name:"Boat House"},
				{color:"#F0F", name:"Cala del Forte"},
				{color:"#F0F", name:"Asset generico"}
			];
				  // Fill series s1 and s2.
				  var container = document.getElementById('container'),	
					s1 = { label : 'Ticket', data : [[0, arr[0]], [1, arr[1]], [2, arr[2]], [3, arr[3]], [4, arr[4]], [5, arr[5]], [6, arr[6]], [7, arr[7]], [8, arr[8]], [9, arr[9]],[9, arr[10]] ]};
					
					var graph, ticks;

			// Radar Labels
			ticks = [
				[0, tipology[0].name],
				[1, tipology[1].name],
				[2, tipology[2].name],
				[3, tipology[3].name],
				[4, tipology[4].name],
				[5, tipology[5].name],
				[6, tipology[6].name],
				[7, tipology[7].name],
				[8, tipology[8].name],
				[9, tipology[9].name],
				[10, tipology[10].name]
			];
			
			// Draw the graph.
			graph = Flotr.draw(container, [ s1 ], {
			radar : { show : true, radiusRatio: 0.6}, 
			grid  : { circular : true, minorHorizontalLines : true}, 
			yaxis : { min : 0, max : (parseInt(max)+1), minorTickFreq : 1, tickDecimals: 0}, 
			xaxis : { ticks : ticks},
			legend : {		
						  HtmlText: false,
						  position : 'ne',
						  backgroundColor : '#D2E8FF'
						}
						});
			})(document.getElementById("editor-render-0"));		
		}
		</script>	
	</body>
</html>