<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 100%;
				height: 100%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:32px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div id="container" >
			<script type="text/javascript" src="<?php echo JS_PATH; ?>library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
	update_graph();
		
		
		function update_graph(){
			//values = document.select_date.values.value;
			//form = {val: values};
			//form2=JSON.stringify(form);
			Ajax.sendAjaxPost( "<?php echo BASEURL; ?>/start-center/get-kpi22","", "funz_risp" );   
			//funz_risp();
			setTimeout("update_graph()",5000);
		}
		
	
		function funz_risp(d){
			arr=JSON.parse(d);
			//console.log(arr);
				
			(function bars_stacked(container,horizontal) {

			var tipology=[
				{color:"#f6d9d9", name:"Bianca"},
				{color:"#ffc726", name:"Gialla"},
				{color:"#ff7300", name:"Arancione"},
				{color:"#F00", name:"Rossa"}
				
			];
			
			 
			 
			  container = document.getElementById('container'),
				d1 = [],
				d2 = [],
				d3 = [],
				d4 = [];
				
				var graph, i;

			 for(i=0;i<11;i++){
				
				  d1.push([i+1 ,parseInt(arr[0][i])]);
				  d2.push([i+1 ,parseInt(arr[1][i])]);
				  d3.push([i+1 ,parseInt(arr[2][i])]);
				  d4.push([i+1 ,parseInt(arr[3][i])]);
			
				graph = Flotr.draw(container,[
					{ data : d1, color : tipology[0].color , label :tipology[0].name},
					{ data : d2, color : tipology[1].color , label :tipology[1].name},
					{ data : d3, color : tipology[2].color , label :tipology[2].name},
					{ data : d4, color : tipology[3].color , label :tipology[3].name}
				], {
					legend : {
						position : 'ne',
						backgroundColor : '#D2E8FF' // Light blue 
					},
					xaxis : {
						noTicks: 7,
						ticks: [[1,"Cois Robertino"],[2,"Mascia"],[3,"Turtas Cristian"],[4,"Tonnellato Lazzaro"],[5,"Boi Guido"],[6,"Garau Davide"],[7,"Piredda Ignazio"],[8,"Lai Antonio"],[9,"Onorato Marcello"],[10,"Fanunza Emanuele"],[11,"Pischedda Antonio"]],
						
					},
				
					bars : {
						show : true,
						stacked : true,
						horizontal : horizontal,
						barWidth : 0.6,
						lineWidth : 1,
						shadowSize : 0
					},
					grid : {
						verticalLines : horizontal,
						horizontalLines : !horizontal
					}
				});
				}
			})(document.getElementById("editor-render-0"));
		}
		</script>	
	</body>
</html>