<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 100%;
				height: 98%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:32px;
				top:12px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div class="tit">Periodo:
		<form name="select_date" style="display:inline;">
		<select id="idanno" class='cl_font' onchange="update_graph()">
			<option value="2012" selected="selected">2012</option>
			<option value="2011">2011</option>
			<option value="2010">2010</option>
			<option value="2009">2009</option>
			<option value="2008">2008</option>
		</select>
		<select id="idmese" class='cl_font' onchange="update_graph()">
			<option value="1" selected="selected">Gennaio</option>
			<option value="2" selected="selected">Febbraio</option>
			<option value="3" selected="selected">Marzo</option>
			<option value="4" selected="selected">Aprile</option>
			<option value="5" selected="selected">Maggio</option>
			<option value="6" selected="selected">Giugno</option>
			<option value="7" selected="selected">Luglio</option>
			<option value="8" selected="selected">Agosto</option>
			<option value="9" selected="selected">Settembre</option>
			<option value="10" selected="selected">Ottobre</option>
			<option value="11" selected="selected">Novembre</option>
			<option value="12" selected="selected">Dicembre</option>
		</select>
	</form>
	</div>
		<div id="container" >
			<script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
		<script>
		update_graph();

function update_graph(){
	anno = document.getElementById("idanno").value;
	mese = document.getElementById("idmese").value;
	form = {yr: anno, mnt: mese};
	form2=JSON.stringify(form);
	Ajax.sendAjaxPost("<?php echo BASEURL; ?>/start-center/get-kpi3", "form2="+form2, "funz_risp" );  

	//funz_risp();
	}
	
function funz_risp(d){

	var ar=JSON.parse(d);
	
 
(function mouse_drag(container) {

  var d1 = [],
	d2 = [],
    container = document.getElementById('container'),
    options,
    graph,
    start,
    i;
	
	
	var o,ng=0, arr=[];
        for(o in ar) arr.push( ar[o] );
        ng=arr.length;

	
  for (i = 1; i <= ng; i++) { 
    d1.push([i, 100 - (parseInt(55*Math.random() ) ) ]);    // arr[i-1]
	d2.push([i,67]);
  }
      
  options = {
    xaxis: {min: 1, max: 15, noTicks: ng, tickDecimals: 0
	},
	yaxis: {min:0, max:110, noTicks: 9,tickDecimals: 0	}
	
	  
      
  };

  // Draw graph with default options, overwriting with passed options
  function drawGraph (opts) {

    // Clone the options, so the 'options' variable always keeps intact.
    var o = Flotr._.extend(Flotr._.clone(options), opts || {});

    // Return a new graph.
    return Flotr.draw(
      container,
      [ d1 , d2],
      o
    );
  }

  graph = drawGraph();      

  function initializeDrag (e) {
    start = graph.getEventPosition(e);
    Flotr.EventAdapter.observe(document, 'mousemove', move);
    Flotr.EventAdapter.observe(document, 'mouseup', stopDrag);
  }

  function move (e) {
    var
      end     = graph.getEventPosition(e),
      xaxis   = graph.axes.x,
      offset  = start.x - end.x;

    graph = drawGraph({
      xaxis : {
        min : xaxis.min + offset,
        max : xaxis.max + offset,
		noTicks: ng, 
		tickDecimals: 0
      }
    });
    // @todo: refector initEvents in order not to remove other observed events
    Flotr.EventAdapter.observe(graph.overlay, 'mousedown', initializeDrag);
  }

  function stopDrag () {
    Flotr.EventAdapter.stopObserving(document, 'mousemove', move);
  }

  Flotr.EventAdapter.observe(graph.overlay, 'mousedown', initializeDrag);

})(document.getElementById("editor-render-0"));
		}
	
			</script>
		</body>
	</html>