<?php



?>
<!DOCTYPE>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>kpi4</title>

<link rel="stylesheet" href="<?php echo BASEURL; ?>/public/msim_css/kpi.css" />
 
<script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
<script type="text/javascript" src="<?php echo JS_PATH; ?>kpi.js"></script>
<script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
<script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>



<script>





//--------------------------------------------------------------------------------

kpi4={ 

/*
  Fincantieri: (1) Garanzia
  - tipo: spezzata
  - situazione mensile (per le passate calcolare tramite history...)
  - possibilità di selezionare la nave (asset figli di root) 
    a seconda della visibilità utente (cross selector  utente-nave)
  - nelle ordinate valore di GFR risultante da: 
    nel Workflow:2
    V0 = open in fase recorded (ph:1,2,3,4,5)
    V1 = rejacted (ph:8)
    V2 = N. gfr altre fasi non chiuse o cancellate (ph:1-2-3-4-5-6-7-8-9)
    
    y=(V0 + V1) / V2

*/

  graphType:"Line",
  
  Zoom:true,
  Drag:true,
  Rotate:false,
  
  //QueryCall:"01_query_kpi.php",
  
  QueryCall:"<?php echo BASEURL; ?>/kpi/data4",
  QueryUIstart:"<?php echo BASEURL; ?>/kpi/ui4",
  
  PATH:"../public/msim_images/default/treegrid/",
  
  
  labelGraph:["Aperte","Attesa","Chiuse"],
  ticksGraph:[],
  
  downloadDispl:1,
  
  optview:{ 
    lines: { fill:false },
    xaxis: { mode:'time' }
      
  },
  
  optmousetrackF:function(o) { return o.y; }, 
  
  // header
  headDispl:1,
  selbtnH:[
    { type:"select", label:"WO type: ", specvar:"f_type_id", opt:[] 
    },
    { type:"select", label:"Discipline: ", specvar:"discipline", opt:[] 
    },
    { type:"select", label:"Year: ", specvar:"year_nofilter", opt:[] 
    },
    { type:"button", label:"Update", act:"" }  
  ],
  
  // menu
  menuDipl:0,
  menuWidth:0,
  selbtnM:[],
  updateQuery:0,
  
  // run at start and build select
  startFNC:{
    
    f_call_build_select:function(){  
             
          Ajax.sendAjaxPost(kpi4.QueryUIstart,"params=4", "KPI.startFNC.f_ret_build_select" ); 
    },
    
    f_ret_build_select:function(a){  if(!a) return;  // don't run at start
      with(KPI){
        var r,s;
        try { s=JSON.parse(a); } catch(e) { alert(a); return; }
        
        for(r in s["opt0"]) selbtnH[0].opt.push( { label:r, value:s["opt0"][r] } );
        
        for(r in s["opt1"]) selbtnH[1].opt.push( { label:r, value:s["opt1"][r] } );
        
        for(r in s["opt2"]) selbtnH[2].opt.push( { label:r, value:s["opt2"][r] } );
        
        
        f_buildHeader();
    }}
  
  },
  
  
  // prepare params for call ajax
  paramFNC:[
    function(){ 
          var r,g=0,h=0,y=0,i;
          with(KPI){   
             // select type wo
             if(!VAL["f_type_id"]) VAL["f_type_id"]=0;
             g=VAL["f_type_id"];
             
             // select discipline
             if(!VAL["discipline"]) VAL["discipline"]=0;
             h=VAL["discipline"];
             
              // select year
             if(!VAL["year_nofilter"]) VAL["year_nofilter"]=0;
             y=VAL["year_nofilter"];
             
          }
          KPI.Params={ "f_type_id":g, "discipline":h, "year_nofilter":y };    // Params to send to php
          
        }
  ],
  
  retqueryFNC:[
    function(){ 
      with(KPI){
      
      // optimize vertical scale
      var i,r, mi=null,ma=null, dm=0;
      
      for(i=0;i<3;i++){
        for(r=0;r<PAR[i].length;r++) {
          v=PAR[i][r][1];
          if(!r && !i) { mi=v, ma=v; continue; }
          if(v<mi) mi=v;
          if(v>ma) ma=v; 
      }}
      
      
      // add 10% of vertical scale
      if(mi!=null) { dm=(ma-mi)/10; mi-=dm; if(mi<0) mi=0; ma+=dm; }
      
      optview.yaxis.min=mi;
      optview.yaxis.max=ma; 
   
    }}
  ]


   
};


//--------------------------------------------------------------------------------


 


function init(){

  KPI.Start( kpi4 );

}


</script>
  </head>
  <body onload='init()'>

<div id='idboxkpi'>
  <div id="idmenukpi"></div>
  <div id="idheadkpi"></div>  
  <div id='idpcntkpi'><div id="idcntkpi"></div></div>  
</div>

<div id='debug' style='position:absolute;left:10px;bottom:10px;font:12px Arial;'></div>

  </body>
</html>
