<?php
$options = array( "Today", "Yesterday", "This Week", "Last Week", "This Month", "Last Month", "This Year", "Last Year" );
?>
<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 100%;
				height: 100%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:36px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body>
		<div class="tit">Periodo:  
		<form name="select_date" style="display:inline;" >
			<select name="values" class='cl_font' onchange="update_graph()">
				<option value="1" selected="selected">oggi</option>
				<option value="2">ieri</option>
				<option value="3">settimana corrente</option>
				<option value="4">settimana precedente</option>
				<option value="5">mese corrente</option>
				<option value="6">mese precedente</option>
				<option value="7">anno corrente</option>
				<option value="8">anno precedente</option>
			</select>
		</form>
		</div>
		<div id="container" >
		    <script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
	update_graph();
		
		
		function update_graph(){
			values = document.select_date.values.value;
			form = {val: values};
			form2=JSON.stringify(form);
			Ajax.sendAjaxPost("<?php echo BASEURL; ?>/start-center/get-kpi5","form2="+form2, "funz_risp" );   
			//funz_risp();
		}
		
		
		function funz_risp(d){
		
			arr=JSON.parse(d);
			
			
			
                        /* arr={};
			for(r=1;r<=16;r++){
				arr[r+"T"]=[];
				for(n=0;n<7;n++) arr[r+"T"][n]=parseInt( 100*Math.random() );
			}
                        */
			
			
                        (function bars_stacked(container,horizontal) {
                       

			var tipology=[
				{color:"#F00", name:"Avarie"},
				{color:"#00F", name:"Consumabili"},
				{color:"#FF0", name:"Miglioramento prodotto"},
				{color:"#8F8", name:"Pulizie pitturazioni e vernici"},
				{color:"#0FF", name:"Comfort e arredi"},
				{color:"#AAA", name:"Scadenze di legge"},
				{color:"#F0F", name:"Acquisti vari"}
			];
			  container = document.getElementById('container'),
				d1 = [],
				d2 = [],
				d3 = [],
				d4 = [],
				d5 = [],
				d6 = [],
				d7 = [];
				
				var graph, i;




			  for (i=1; i <= 16; i++) {
			
                                  //if(typeof(arr[i+"T"][0])=="undefined") continue;
                            
				  d1.push([i ,parseInt(arr[i+"T"]["0"])]);
				  d2.push([i ,parseInt(arr[i+"T"]["1"])]);
				  d3.push([i ,parseInt(arr[i+"T"]["2"])]);
				  d4.push([i ,parseInt(arr[i+"T"]["3"])]);
				  d5.push([i ,parseInt(arr[i+"T"]["4"])]);
				  d6.push([i ,parseInt(arr[i+"T"]["5"])]);
				  d7.push([i ,parseInt(arr[i+"T"]["6"])]);
				
			  }

			  graph = Flotr.draw(container,[
				{ data : d1, color : tipology[0].color , label :tipology[0].name},
				{ data : d2, color : tipology[1].color , label :tipology[1].name},
				{ data : d3, color : tipology[2].color , label :tipology[2].name},
				{ data : d4, color : tipology[3].color , label :tipology[3].name},
				{ data : d5, color : tipology[4].color , label :tipology[4].name},
				{ data : d6, color : tipology[5].color , label :tipology[5].name},
				{ data : d7, color : tipology[6].color , label: tipology[6].name}
			  ], {
				legend : {
					position : 'ne',
				  backgroundColor : '#D2E8FF' // Light blue 
				},
				xaxis : {
					noTicks: 16,
					tickDecimals: 0,
					
				},
				bars : {
				  show : true,
				  stacked : true,
				  horizontal : horizontal,
				  barWidth : 0.6,
				  lineWidth : 1,
				  shadowSize : 0
				},
				grid : {
				  verticalLines : horizontal,
				  horizontalLines : !horizontal,
                                  outlineWidth: 0
				}
			  });
			})(document.getElementById("editor-render-0"));
		}
		</script>	
	</body>
</html>