<?php
$options = array( "Today", "Yesterday", "This Week", "Last Week", "This Month", "Last Month", "This Year", "Last Year" );
?>
<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
                                background-color: #ffffff;
			}
			#container{
				position: absolute;
				width : 98%;
				height: 98%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position: absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
		</style>  
	</head>
	<body> 
		<div class="tit">Periodo:  
		<form name="select_date" style="display:inline;">
			<select name="values" class='cl_font' style="width:60px;" onchange="update_graph()">
				<option value="1">oggi</option>
				<option value="2">ieri</option>
				<option value="3" selected>settimana corrente</option>
				<option value="4">settimana precedente</option>
				<option value="5">mese corrente</option>
				<option value="6">mese precedente</option>
				<option value="7">anno corrente</option>
				<option value="8">anno precedente</option>
			</select> e Fase
			<select name="phase" class='cl_font' style="width:60px;" onchange="update_graph()">
			<option value="0" selected="selected">Tutte</option>
				<option value="1" >Emissione OdL</option>
				<option value="2">Presa in carico</option>
				<option value="3">Richiesta preventiva</option>
				<option value="4">Autorizzazione Emiss. RDA</option>
				<option value="5">Emissione RDA</option>
				<option value="6">Emissione Ordine</option>
				<option value="7">Fornitura materiale/prestazione</option>
				<option value="8">Collaudo fornitura</option>
				<option value="9">Emissione report</option>
				<option value="10">Chiusura OdL</option>
				<option value="11">Cancellazione</option>
			</select>
		</form>
		</div>
		<div id="container" >
			<script type="text/javascript" src="<?php echo BASEURL; ?>/library/Flotr2/flotr2.min.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
                    <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>
		</div>
	
		
		<script>
		var 	opd1=0,
				opd2a=0,
				opd2b=0,
				opd3=0,
				opd4=0;
				
		update_graph();
		
		function update_graph(){
			values = document.select_date.values.value;
			phase = document.select_date.phase.value;
			form = {val: values, phase: phase};
			form2=JSON.stringify(form);
			Ajax.sendAjaxPost("<?php echo BASEURL; ?>/start-center/get-kpi9","form2="+form2, "funz_risp" );   
			setTimeout("update_graph()",60000);
		}
			
		function funz_risp(d){
			arr=JSON.parse(d);
			
			pd1=arr[0];
			pd2a=arr[1];
			pd2b=arr[2];
			pd3=arr[3];
			pd4=arr[4];
			if(!(pd1==opd1 && pd2a==opd2a && pd2b==opd2b && pd3==opd3 && pd4==opd4 )){
			  (function basic_pie(container) {
				  var   
					container = document.getElementById('container'),			
					d1  = [[0,pd1 ]],
					d2a  = [[0,pd2a ]],
					d2b  = [[0,pd2b ]],
					d3  = [[0,pd3 ]],
					d4  = [[0,pd4 ]],
					
					graph,
					options;

				graph = Flotr.draw(container, [
						{ data : d1,  label : '1' , color	: 'red'		},
						{ data : d2a,  label : '2A' , color	: 'green'  	},
						{ data : d2b,  label : '2B' , color	: 'blue' 	},
						{ data : d3,  label : '3', color	: 'yellow', 
														pie	: {
																explode : 25
															}			},
						{ data : d4,  label : '4' , color	: 'darkgrey'}
					  ],{
						HtmlText : false,
						grid : {
						  verticalLines : false,
						  horizontalLines : false,
                                                    outlineWidth: 0
						},
						xaxis : { showLabels : 0 },
						yaxis : { showLabels : 0 },
						pie : {
							explode: 10,
							show : true
						},
						mouse:{
								track: true,
								lineColor: 'purple',
								//relative: true,
								//position: 'ne',
								sensibility: 1, // => The smaller this value, the more precise you've to point
								trackDecimals: 2,
								//trackFormatter: function(obj){ return obj.y; }
						},
						//mouse : { track : true, lineColor:'black'},
						legend : {
						  position : 'so',
						  backgroundColor : '#D2E8FF'
						}
					  });
					
				opd1=pd1;
				opd2a=pd2a;
				opd2b=pd2b;
				opd3=pd3;
				opd4=pd4;
				
				})(document.getElementById('editor-render-0'));
			}


				
				
		}
		</script>	
	</body>
</html>