<?php

  $kpiscript="";       // t_script     backend script ajax call 
  $kpiscriptjs="";     // t_script     _js   frontend module html & js code
  
  
  if(isset( $_GET["script"] ) ) $kpiscript=$_GET["script"];

  if($kpiscript) {
  
      $scjs = $kpiscript . "_js";
      
      $db = Zend_Db::factory(Zend_Registry::get('db'));
      $sel = new Zend_Db_Select($db);
  
      $sel->from('t_scripts', array('f_script'))
        	->where('f_name = ?',  $scjs);
  
      $res = $sel->query()->fetchAll();
      if(count($res)){
        $kpiscriptjs=$res[0]["f_script"];
      }

  }
 
?>
<html>
	<head>
		<style type="text/css">
    
@font-face {
  font-family: 'FlaticonsStroke';
  src: url('../public/msim_css/font/flaticons-stroke.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
    
    
			body{ 
				font: 	11px Arial;
				color:	#000;
         background-color: #ffffff;
			}  
			#container{
				position: absolute;
				width : 98%;
				height: 98%;
				left:0;
				top:0;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				position:absolute;
				left:16px;
				top:16px;
				font-weight:bold;
				z-index:10000;
			}
      
      select{
        width:100%;
        font:11px Arial;
        padding:4px;
        cursor:pointer;
      }
      
      input{
        position: absolute;
        top:12px;
        width:100%;
        font:11px Arial;
        padding:4px;
        margin-top:2px;
        cursor:pointer;
      
      }
      
 
      
 
		</style>
    
 
 <link rel="stylesheet" href="/mainsim3/public/msim_css/kpi.css" />
 
<script type='text/javascript'>    
    
    
    KPISCRIPT="<?php echo $kpiscript; ?>";         // kpiscript1 => nome in t_script
    KPIURL="<?php echo BASEURL; ?>/start-center/get-kpiscript?script="+KPISCRIPT;
    
 
       
    //console.log("KPISCRIPT: "+KPISCRIPT);
    
    
     /* 
      Ajax.sendAjaxPost(KPIURL, "val="+JSON.stringify(val), "funz_risp" );    
    */
</script>    
    
	</head>
	<body>
 
  <?php echo $kpiscriptjs; ?>
 
	</body>
</html>