<html>
	<head>
            <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
            <style type="text/css">
            body { 
                font: 11px Arial;
                color: #000;
                background-color: #ffffff;
            }
            #idcontainer {
                position: absolute;
                width : 98%;
                height: 98%;
                left:0;
                top:0;
                overflow:hidden;
            }

            .cl_font { 
                font: 11px Arial;
                color: #000;			
            } 

            .tit {
                position: absolute;
                left: 16px;
                top: 16px;
                font-weight: bold;
                z-index: 10000;
            }
        </style>
		
        <script type="text/javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        <script type="text/javascript" src="<?php echo JS_PATH; ?>ajax.js"></script>		
<script>




//----------------------------------------------------------------------------------------
kpiTrend={ Cj:null, ATM:[],
           Wc:0, Hc:0,
           ww:120, hh:208, dw:20, R:5, N:0,
           fnt0:"14px opensansR",
           fbig:52,
           fmedium:42,
           fsmall:34,
           fnt2:"68px FlaticonsStroke",

jsn:[

{ icon:58391,
  title:parent.moGlb.langTranslate("Open WO"),
  color:"#C1A84C",
  value:"0",
  php:"open-wo",
  update:65
},

{ icon:58413,
  title:parent.moGlb.langTranslate("Work request"),
  color:"#A1C24D",
  value:"0",
  php:"work-request",
  update:140
},

{ icon:58609,
  title:parent.moGlb.langTranslate("Planned activities"),
  color:"#4E97C2",
  value:"0",
  php:"periodic",
  update:182
},

{ icon:58540,
  title:parent.moGlb.langTranslate("Emergency"),
  color:"#C61201",
  value:"0",
  php:"emergency",
  update:83
},

{ icon:58583,
  title:parent.moGlb.langTranslate("Highest priority"),    
  color:"#A300A9",
  value:"0",
  php:"priority",
  update:24
}
],


Start:function(cnt){
with(kpiTrend){

  Cj=(typeof(cnt)=="string")?mf$(cnt):cnt;
  Resize();
  window.onresize=function(){ kpiTrend.Resize();  }
}},


Resize:function(){
with(kpiTrend){
  Wc=Cj.offsetWidth, Hc=Cj.offsetHeight;
  var hc=Hc-20; 
  /*
  hh=hc;
  if(hc<=190) hh=190;
  if(hc>240) hh=240;  
  */
  
  // disable interval update
  clearUpdate();
  Draw();
}},


clearUpdate:function(){
with(kpiTrend){
  for(var k=0;k<ATM.length;k++) clearInterval(ATM[k]);
  ATM=[];
}},

Draw:function(){
with(kpiTrend){
  
  var r,n,j,ik,t,p, x=10,y=10, s="";
  N=jsn.length;
  y=parseInt((Hc-hh)/2); if(y<0) y=10;

  // N=number of kpi
  for(r=0;r<N;r++){
    j=jsn[r];
    ik=f_ink(j.color);   
    s+="<div style='position:absolute;left:"+x+"px;top:"+y+"px;width:"+ww+"px;height:"+hh+"px;background-color:"+j.color+";border-radius:"+R+"px;cursor:pointer;' "+
       "onclick='kpiTrend.f_update("+r+"); return false;'>"+
       "<div style='position:absolute;left:0px;top:7px;width:100%;text-align:center;font:"+fnt2+";color:"+ik+";'>"+String.fromCharCode(j.icon)+"</div>"+
       "<div style='position:absolute;left:10px;width:"+(ww-20)+"px;height:32px;bottom:14px;font:"+fnt0+";text-align:center;color:"+ik+";'>"+j.title+"</div>"+
       "<div id='idkpitrendval"+r+"' style='position:absolute;left:10px;width:"+(ww-20)+
       "px;bottom:46px;overflow:hidden;font:44px opensansR;text-align:center;white-space:nowrap;color:"+ik+";'>"+j.value+"</div>"+
       "</div>";  
    x+=ww+dw;
   // if(x>Wc) { N=r+1; break; }
  }

  Cj.innerHTML=s;
  ATM=[];
  for(r=0;r<N;r++){
    p=parseInt(jsn[r].update);
    if(!p) continue;
    t=p*1000;
    k=setInterval("kpiTrend.f_update("+r+")", t);
    ATM.push(k);
    f_update(r);
  }
}},


f_update:function(i){  // i = jsn[i]
with(kpiTrend){
 
 var vv=jsn[i].value
 var par=JSON.stringify({ value:vv, index:i} );
 
 // call ajax to:  jsn[i].php
 
 Ajax.sendAjaxPost( jsn[i].php, "params="+par, "kpiTrend.f_ret_update" );
 
 f_ret_update(a);
}},

f_ret_update:function(a){
with(kpiTrend){

  try{ var ja=JSON.parse(a);  }catch(e){ /* alert(a); */ return; }
  
  var ff, i=ja.index, j=jsn[i], ol=j.value, nw;
  nw=ja.value+"";
  j.value=nw;
  ff=22;
  if(nw.length==5) ff=fsmall;
  if(nw.length==4) ff=fmedium;
  if(nw.length<4) ff=fbig;
  
  Ticker.Change(ol, nw, "idkpitrendval"+i,ff);
}},

f_ink:function(c){
with(kpiTrend){ 
  var s=0,v,bn="#FFF";
  
  v=colorTodec(c);
  s=(v[0]+v[1]+v[2])/3*0.85;   // changed 0.9 => 0.85
  
  if(s>128) bn="#000";
  return bn; 
}},

// da #000 o #000000  to  rgb o rgba
colorTodec:function(c){   
  var n=c.length; d=(n>4)?2:1, dd=0, v="", a=[];
  for(var r=1;r<n;r++) { v+=c.charAt(r); 
      dd++; if(dd==d) { a.push( parseInt((d>1)?v:v+v,16) );  v=""; dd=0; } }
  return a;
}

} // end kpiTrend






//---------------------------------------------------------------------------
Ticker={ speed:40,
         chrs:'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/# ',    
         LST:{},                                            //  LST[c] = { fnt:48, cnt:'', ol:ol, nw:nw }
 
Change:function(ol,nw,c,f){
with(Ticker){
  if(typeof(LST[c])!="undefined") { LST[c].NW=nw; return; }
  ol+="", nw+="";  ol=ol.toUpperCase();
  nw=nw.toUpperCase(); nw=(nw!="")?nw:"";  
  LST[c]={ cnt:c, fnt:f, ol:ol, nw:nw, NW:""  };
  if(ol.length!=nw.length) f_clear(c); else f_new(c);  // ol
}},

f_clear:function(c){
with(Ticker){ 
    var ol=LST[c].ol;
    var j,r,i,ch,n=chrs.length,no=ol.length,nol="",k=0;
    for(r=0;r<no;r++){
      ch=ol.charAt(r); 
      if(ch!=" ") {    
        i=chrs.indexOf(ch);
        i++;
        nol+=chrs.charAt(i);
      } else {
        nol+=" ";
        k++;
    }}   
    
    j=mf$(LST[c].cnt);
    j.style.fontSize=LST[c].fnt+"px";
    j.innerHTML=nol;
    
    if(k==no) { 
      nol="";
      for(r=0;r<LST[c].nw.length;r++) {  
        nol+=chrs.charAt( parseInt(Math.random()*n) ); 
      } 
      LST[c].ol=nol;
      f_new(c);
      return;
    }
    LST[c].ol=nol;     
  setTimeout("Ticker.f_clear('"+c+"')",speed);
}},
 
f_new:function(c,v){
with(Ticker){
 if(!v) v=0; v++;
 var ol=LST[c].ol;
   var j,r,i,ch,dh,n,no,nol="",k=0;
   n=chrs.length; no=ol.length;    
    for(r=0;r<no;r++){
      ch=ol.charAt(r);
      dh=LST[c].nw.charAt(r);     
      if(ch!=dh) {    
        i=chrs.indexOf(ch);
        i++; if(i>=chrs.length) i=0;
        nol+=chrs.charAt(i);
      } else {
        if(v<5) nol+=chrs.charAt( parseInt( n/2 + Math.random() * (n/2) ) ); 
        else { nol+=dh; k++; }
      }} 
      
    j=mf$(LST[c].cnt);
    j.style.fontSize=LST[c].fnt+"px";
    j.innerHTML=nol;

    if(k==no) {
      if(LST[c].NW!="") j.innerHTML=LST[c].NW; 
      delete LST[c];
      return;
    }
  LST[c].ol=nol;
setTimeout("Ticker.f_new('"+c+"',"+v+")",speed);
}}

} //---------------------------------------------------------------------------



function init(){
  kpiTrend.Start("idcontainer");
}

//function mf$(l) {return document.getElementById(l);}


</script>

</head>
<body onload='init()'>
		
<div id="idcontainer" ></div>
	
	
</body>
</html>