<iframe width="1200" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="../open_street_maps/index.php?controller=map&action=show" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>