<?php
$lang=1;
$language= array(
			array(
			"today" 	=> 	"Today",
			"yesterday" =>	"Yesterday",
			"th_week"	=>	"This Week",
			"la_week"	=>	"Last Week",
			"th_month"	=>	"This Month",
			"la_month"	=>	"Last Month",
			"th_year"	=>	"This Year",
			"la_year"	=>	"Last Year"
			),
			array(
			"today" 	=> "Oggi",
			"yesterday" => "Ieri",
			"th_week"	=>	"Settimana Corrente",
			"la_week"	=>	"Settimana Precedente",
			"th_month"	=>	"Mese Corrente",
			"la_month"	=>	"Mese Precedente",
			"th_year"	=>	"Anno Corrente",
			"la_year"	=>	"Anno Precedente"
			)
	);
?>

<html>
	<head>
		<style type="text/css">
			body{ 
				font: 	11px Arial;
				color:	#000;
			}
			#container{
				width : 80%;
				height: 80%;
				position: absolute;
				margin-top: 60px;
				margin-bottom: 10px;
				margin-right: 10px;
				margin-left: 10px;
				
			}
			.cl_font{ 
				font: 	11px Arial;
				color: 	#000;
				
			} 
			.tit{
				margin-top: 10px;
				margin-bottom: 10px;
				margin-right: 10px;
				margin-left: 10px;
				font-weight:bold;
			}
		</style>  
	</head>
	<body>
		<div class="tit">WorkOrder By Type:
		<form name="select_date" style="display:inline;">
			<select name="values" class='cl_font'>
				<option value="1" selected="selected"><?php  echo $language[$lang]['today'];	?></option>
				<option value="2"><?php  echo $language[$lang]['yesterday'];?></option>
				<option value="3"><?php  echo $language[$lang]['th_week'];	?></option>
				<option value="4"><?php  echo $language[$lang]['la_week'];	?></option>
				<option value="5"><?php  echo $language[$lang]['th_month'];	?></option>
				<option value="6"><?php  echo $language[$lang]['la_month'];	?></option>
				<option value="7"><?php  echo $language[$lang]['th_year'];	?></option>
				<option value="8"><?php  echo $language[$lang]['la_year'];	?></option>
			</select>
		</form>
		</div>
		<div id="container" >
			<script type="text/javascript" src="Flotr2/flotr2.min.js"></script>
			<script type="text/javascript" src="ajax.js"></script>
		</div>
	
		
		<script>
		var 	opd1=0,
				opd4=0,
				opd5=0,
				opd6=0,
				opd7=0,
				opd10=0;
		update_graph();
		
		function update_graph(){
			values = document.select_date.values.value;
			Ajax.sendAjaxPost( "wo_by_type.php", "val="+values, "funz_risp" );  
			setTimeout("update_graph()",100);
		}
			
		function funz_risp(d){
			arr=JSON.parse(d);
			pd1=arr[0];
			pd4=arr[1];
			pd5=arr[2];
			pd6=arr[3];
			pd7=arr[4];
			pd10=arr[5];
			if(!(pd1==opd1 && pd4==opd4 && pd5==opd5 && pd6==opd6 && pd7==opd7 && pd10==opd10)){
			  (function basic_pie(container) {
				  var   
					container = document.getElementById('container'),			
					d1  = [[0, pd1 ]],
					d4  = [[0, pd4 ]],
					d5  = [[0, pd5 ]],
					d6  = [[0, pd6 ]],
					d7  = [[0, pd7 ]],
					d10 = [[0, pd10 ]],
					graph,
					options;

				graph = Flotr.draw(container, [
						{ data : d1,  label : 'C' , color	: 'red'		},
						{ data : d4,  label : 'P' , color	: 'green'  	},
						{ data : d5,  label : 'I' , color	: 'blue' 	},
						{ data : d6,  label : 'OC', color	: 'yellow', 
														pie	: {
																explode : 25
															}			},
						{ data : d7,  label : 'R' , color	: 'darkgrey'},
						{ data : d10, label : 'CT', color	: 'purple'	}
					  ],{
						HtmlText : false,
						grid : {
						  verticalLines : false,
						  horizontalLines : false
						},
						xaxis : { showLabels : 0 },
						yaxis : { showLabels : 0 },
						pie : {
							explode: 10,
							show : true
						},
						mouse:{
								track: true,
								lineColor: 'purple',
								//relative: true,
								//position: 'ne',
								sensibility: 1, // => The smaller this value, the more precise you've to point
								trackDecimals: 2,
								//trackFormatter: function(obj){ return obj.y; }
						},
						//mouse : { track : true, lineColor:'black'},
						legend : {
						  position : 'so',
						  backgroundColor : '#D2E8FF'
						}
					  });
				opd1=pd1;
				opd4=pd4;
				opd5=pd5;
				opd6=pd6;
				opd7=pd7;
				opd10=pd10;
				})(document.getElementById('editor-render-0'));
			}


				
				
		}
		</script>	
	</body>
</html>