<?php
//$nomefile="MLEG-0C1-DC-C-57OO01-1-Model.svg";
//if(isset($_GET["svgfile"])) $nomefile = $_GET["svgfile"];
//$plan = "";
//if($nomefile && file_exists($nomefile)) $plan = file_get_contents($nomefile);
$nomefile = 'attachments\doc\16709\1392202329_3_doc.svg';
$plan = file_get_contents($nomefile);
?>
<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>Svg plan</title>
        <style>
        body { margin:8px; width:100%; height:100%; overflow:hidden; }
        button { width:90px; height:32px; margin-top:12px; }
        a { font:15px Arial; color:#46a;  }
        .rowtree { font:12px Arial; color:#000; height:20px; line-height:18px; cursor:pointer;  }
        .riqua { -moz-border-radius: 10px; border-radius: 10px; }
        </style>
        <script src='<?php echo JS_PATH; ?>svg/base.js' type='text/javascript'></script>
        <script src='<?php echo JS_PATH; ?>svg/plan.js' type='text/javascript'></script>
        <script>
        // http://svg-edit.googlecode.com/svn/trunk/editor/svg-editor.html
        function init() {
            var ww=jsW(), hh=jsH(), j=js$("container"),
            mg=10, l=10, t=10, w=ww-l-mg, h=hh-t-mg;
            if(w<100) w=100; if(h<100) h=100;
            with(j.style) left=l+"px", top=t+"px", width=w+"px", height=h+"px";
            jsBrowser(); Global.Start();
            Plan.Start("container");
        }
        window.onresize = function(e) { init(); }
        function chgplan(tj) {
            var tx=tj.options[tj.selectedIndex].text;
            location.href="index.php?svgfile="+tx;
        }
        </script>
    </head>
    <body onload="init()">
        <div id='container' class='riqua' style='position:absolute;left:10px;top:10px;width:800px;height:600px;overflow:hidden;border:1px solid #aaa;'>
            <?php echo $plan; ?>
        </div>
        <div id='idscale' style='position:absolute;left:10px;top:110px;z-index:10;font: 12px Arial;'></div>
        <div id='debug' style='position:absolute;left:10px;top:110px;width:270px;text-align:right;z-index:10;font: 11px Arial;'></div>
        <div id='idquote' style='position:absolute;left:300px;top:2px;font: 11px Arial;'></div>
    </body>
</html>