<html>
    <head>
        <title>Type exporter</title>
        <script type="text/JavaScript">
        var displayCategory = function (e) {
            var tb = document.getElementById('table'), value = tb.options[tb.selectedIndex].value;
            document.getElementById('t_workorders').style.display = (value == 't_workorders' ? 'block' : 'none');
            document.getElementById('t_wares').style.display = (value == 't_wares' ? 'block' : 'none');
            document.getElementById('t_selectors').style.display = (value == 't_selectors' ? 'block' : 'none');
            document.getElementById('t_systems').style.display = (value == 't_systems' ? 'block' : 'none');
        };
        window.onload = function (e) {
            document.getElementById('table').onchange = displayCategory;
            displayCategory();
        };        
        </script>
    </head>
    <body>
        <form method="post" enctype="">
            <select id="table" name="table" onload="alert(2);">
                <option value="" selected>Select...</option>
                <?php
                    foreach($this->categories as $k => $v) {
                        echo "<option value='$k'>{$v["label"]}</option>";
                    }
                ?>
            </select>
            <select id="t_workorders" name="t_workorders">
                <option value="" selected>Select...</option>
                <?php
                    foreach($this->categories["t_workorders"]["categories"] as $category) {
                        echo "<option value='{$category["value"]}'>{$category["label"]}</option>";
                    }
                ?>
            </select>
            <select id="t_wares" name="t_wares">
                <option value="" selected>Select...</option>
                <?php
                    foreach($this->categories["t_wares"]["categories"] as $category) {
                        echo "<option value='{$category["value"]}'>{$category["label"]}</option>";
                    }
                ?>
            </select>
            <select id="t_selectors" name="t_selectors">
                <option value="" selected>Select...</option>
                <?php
                    foreach($this->categories["t_selectors"]["categories"] as $category) {
                        echo "<option value='{$category["value"]}'>{$category["label"]}</option>";
                    }
                ?>
            </select>
            <select id="t_systems" name="t_systems">
                <option value="" selected>Select...</option>
                <?php
                    foreach($this->categories["t_systems"]["categories"] as $category) {
                        echo "<option value='{$category["value"]}'>{$category["label"]}</option>";
                    }
                ?>
            </select>
            <input type="submit" value="Export" />
            
        </form>
    </body>
</html>