<script type="text/JavaScript">
window.onload = function () {
    moInit.start(<?php echo time()*1000; ?>, <?php echo $this->LANG; ?>, true);
    moGlb.updateTimeUrl = "<?php echo $this->url(array("action" => "update-time", "controller" => "login", "module" => "default"), null, true); ?>";
};
window.onbeforeunload = function () { return moGlb.langTranslate("Leaving mainsim"); };
</script>

<div id="mainsim_bd">&nbsp;</div>



<!-- left menu -->
<div id="tabcontainer"></div> 

<div id="mainsim_hd">
    <div id="bglogo">
        <div id="logo">
            <div class="logobg">&nbsp;</div>
          <!--  <a href="http://www.mainsim.com" target="_blank">by <b>main</b>sim&#8482;</a>  -->
        </div>
    </div>
    <div id="bulletin">
        <?php if($this->bulletin) { ?><a href="#" title="<?php echo $this->translate->_("See bulletins"); ?>"><b><?php echo $this->translate->_("Bulletins"); ?> <span id="bulletins"></span></b></a> | <?php } ?>
        <?php if($this->users_connected) { echo $this->translate->_("Users Connected"); ?>: <span id="online"></span><?php } ?>
        <br>
        <?php echo $this->translate->_("Welcome");?> <b id="userFullname"></b> |
        <?php $info = Zend_Auth::getInstance()->getIdentity(); if($info->f_level == -1):?>
        <a href="<?php echo $this->url(array('module'=>'default', 'controller'=>'mainpage', 'action'=>'index'), null, true)?>" title="<?php echo $this->translate->_("Home"); ?>"><?php echo $this->translate->_("Home"); ?></a> |
        <?php endif;?>
        <a href="<?php echo $this->url(array('controller'=>'login', 'action'=>'logout'), null, true)?>" title="<?php echo $this->translate->_("Logout"); ?>" onclick="window.onbeforeunload = function () {};"><?php echo $this->translate->_("Logout"); ?></a>
    </div>    
      
    <div id="credits">
        <div class="hd"></div>
        <div class="bd">
            <!--<b>main</b>sim™ - Enterprise Asset Management - V. 3.0.0.0 Alpha<br/>-->
            <?php echo $this->signature.' - V. '.$this->version ?>
            <div class="lighter">Copyright &#169; 2007 - <?php echo date("Y"); ?> <a href="http://www.mainsim.com" target="_blank"><b>main</b>sim</a>. <?php echo $this->translate->_("All rights reserved");?>.</div>
        </div>
    </div>
</div>
<div id="idCntImport"></div>

<iframe name='ifrm' src='' style='display:none;'></iframe>
<input id='iddblclickfocus' type='text' style='position:absolute;left:280px;top:-100px;z-index:12000;' />