body { font: 14px Arial; color: #000000; }
a:link, a:visited { text-decoration: none; color: #065C38; }
a:hover { text-decoration: underline; color: #0A476E; }
#credits {
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 0px; right: 0px; bottom: 5px; height: 20px;
}
#logo {
    position: absolute;
    left: 0px; right: 0px; bottom: 35px; height: 150px;
    background: url('images/logo_mainsim.jpg') no-repeat center center;
    z-index: -1;
}
div#menu { position: absolute; top: 200px; left: 100px; }
div#menu .item { background: url('images/bullet_green.png') no-repeat left center; padding: 10px 0px 10px 20px; }
div a { font-size: 14px; }
input[type=text], select {
    border: 1px solid #0A476E;
    font: 14px Arial;
    height: 22px;
    width: 200px;
}
td { width: 250px; padding: 5px; }
