<!DOCTYPE>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
  <title>mainsim video</title>
<style>

body {
  overflow:hidden;
  margin:0;
  background-color:#4A6671;
}

</style>
<script>

function init(){
  var lnk, url="";                     //player.vimeo.com/video/113592009
  lnk=location.href.split("=");
  if(lnk.length>1) url=lnk.pop(); 
  
  document.getElementById("id_video").src=url;
}



</script>
  </head>
  <body onload='init()'>
 
<img src='../public/msim_images/default/_login/mainsim_login_logo.png' style='position:absolute;left:50%;top:-22px;margin-left:-104px;' /> 
<div style='position:absolute;left:0;width:100%;bottom:10px;font:11px Arial;color:#FFF;text-align:center;'>mainsim™ - what maintenance can be</div>

  
<iframe id='id_video' src="" 
  style='position:absolute;left:50%;top:50%;width:500px;height:313px;margin:-156px 0 0 -250px;' frameborder="0" 
  webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>

  </body>
</html>
