<!DOCTYPE>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <title>tool update db</title>
<style>

body {
  overflow:hidden;
  margin:0;
}
 
input,textarea,select {
  width:100%; 
  border:1px solid #4A6671;
  box-sizing:border-box; 
  border-radius:2px;
  font:13px opensansR;
  padding:4px;
  outline: none; 
  margin-bottom:8px;
}
 
@font-face {
    font-family: 'opensansL';
    src: url('../public/msim_css/font/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'opensansR';
    src: url('../public/msim_css/font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'FlaticonsStroke';
  src: url('../public/msim_css/font/flaticons-stroke.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
  

.cl_btn {
  position:absolute;
  height:28px;
  border-radius: 2px;
  border:0px;
  background-color:#A1C24D;
  font:13px opensansR; 
  color:#FFF;
  cursor:pointer; 
}

.cl_btn_disable {
  position:absolute;
  height:28px;
  border-radius: 2px;
  border:0px;
  background-color:#CCC;
  font:13px opensansR; 
  color:#FFF;
}


.cl_btn:hover {
    background-color:#D0D0D0;
    color:#888;
} 

.cl_btn:active {
    background-color:#4A6671;
    color:#FFF;
} 



  
 

.cl_icoR {
   font:16px FlaticonsStroke;
   color:#4A6671;
   position:absolute;
   right:5px;
   top:5px;
}  

.cl_inp {
  position:absolute;
  left:0;top:0;
  border:0px; 
  font:13px opensansR;
  color:#000;
  background-color:inherit;
  padding:4px;
}
   




td  { white-space:nowrap; 
      font:12px opensansR;     
      border: 0px;
      height:34px;
      padding:4px;
      cursor:pointer; 
} 
      
th  { background-color:#BBB;
      font:bold 12px opensansR;     
      color:#444;
      height:24px;
      white-space:nowrap;  
} 
  
.cl_resTab {
  width:100%;
}
        
.cl_disp { background-color: #E8E8E8;  }           
.cl_par { background-color: #f8f8f8;    } 
                
.cl_resTab tr:hover, .cl_resTab tr.secondcolor { 
	background-color: #A9BCC2;
	font-weight:bold; 
}



#id_main_tab{
  position:absolute;
  left:10px;top:48px;bottom:40px;right:10px;  
  border:1px solid #4A6671;
  box-sizing:border-box; 
  border-radius:2px;  
  font:13px opensansR;
  color:#000;
  overflow:auto;
}


#id_err_page{
  position:absolute;
  left:10px;top:10px;bottom:8px;right:10px;  
  border:1px solid #4A6671;
  box-sizing:border-box; 
  border-radius:2px;
  background-color: #FFF;  
  font:13px opensansR;
  color:#000;
  display:none;
}

.cl_message{
  position:absolute;
  left:10px;bottom:4px;height:32px;right:10px;  
  background-color: #FFF;
}

#id_config_page{
  position:absolute;
  left:10px;top:10px;bottom:10px;right:10px;
  overflow:hidden;
  border:1px solid #4A6671;
  box-sizing:border-box; 
  border-radius:2px; 
  background-color:#FFF;
  font:13px opensansR;
  color:#000;
  display:none;
}


.cl_popup{
position:absolute;
  left:50%;top:50%;
  overflow:hidden;
  border:1px solid #4A6671;
  box-sizing:border-box; 
  border-radius:2px; 
  background-color:#FFF;
  font:13px opensansR;
  color:#000;
  display:none;
}


.cl_menu {
  position:absolute;
  left:8px;top:8px;height:28px;right:8px;
  border-radius:2px;
  background-color:#4A6671;
  overflow:hidden;
}

.cl_menu_close{
  position:absolute;
  right:8px;top:0;height:28px;
  font:16px FlaticonsStroke;
  line-height:28px;
  color:#FFF;
  cursor:pointer;
}


.cl_menu_label{
  position:absolute;
  left:8px;top:0;height:28px;
  font:bold 13px opensansR;
  line-height:28px;
  color:#FFF;
  

}

</style>

<script src="../public/msim_jslib/db-updater/base.js" type='text/javascript'></script>
<script src="../public/msim_jslib/ajax.js" type='text/javascript'></script>
<script src="../public/msim_jslib/db-updater/tool_db.js" type='text/javascript'></script>

<script src="../public/msim_jslib/dbl.js" type='text/javascript'></script>
<script src="../public/msim_jslib/debug.js" type='text/javascript'></script>

<script>

// http://localhost/mainsim3/update_database/tool_db.html

function init(){

  ToolDB.Start();
}

 


</script>
  </head>
  <body onload='init()'>

<!-- page main -->

<button id='id_btn_update' class='cl_btn' style='left:10px;top:10px;width:100px;' onclick='ToolDB.f_Update()'>Update</button>
<button id='id_btn_stop' class='cl_btn_disable' style='left:114px;top:10px;width:80px;' onclick='ToolDB.f_Stop()'>Stop</button>
<button id='id_btn_resume' class='cl_btn_disable' style='left:198px;top:10px;width:90px;' onclick='ToolDB.f_Resume()'>Resume</button>
<button id='id_btn_reset' class='cl_btn' style='left:292px;top:10px;width:70px;' onclick='ToolDB.f_Reset()'>Reset</button>

<button class='cl_btn' style='right:10px;top:10px;width:80px;' onclick='ToolDB.f_Config()'>Config</button>

<div id='id_main_tab'></div>

<div class='cl_message'>
  <div id='id_message' style='position:absolute;left:10px;top:5px;right:10px;font:16px opensansR;text-align:center;color:#000;'>Status bar</div>
</div>



<!-- popup error -->
<div id='id_err_page'>
  <div class='cl_menu'>
    <div class='cl_menu_close' onclick='ToolDB.f_closeErr()'></div>
    <div class='cl_menu_label'>Replace management</div>
  </div>
  <div id='id_err_cont' style='position:absolute;left:8px;top:44px;right:8px;bottom:8px;overflow:auto;'>
  </div>

</div>



<!-- popup config -->
<div id='id_config_page'>
  <div class='cl_menu'>
    <div class='cl_menu_close' onclick='ToolDB.f_Config_close()'></div>
    <div class='cl_menu_label'>Configuration</div>
  </div>

  <div style='position:absolute;left:8px;top:44px;right:8px;bottom:8px;'>
    
    <!-- database -->
    <div style='position:absolute;left:0;top:0;width:30%;height:100%;'>
      <div style='font:bold 14px opensansR;color:#000;'>Databases</div>
     
      <button class='cl_btn' style='left:0px;top:28px;width:60px;' onclick='ToolDB.f_edit_db(-1)'>Add</button>
      
      <button class='cl_btn' style='right:10px;top:28px;width:40px;' onclick='ToolDB.f_ADD_dbs(0)'>FREE</button>
      <button class='cl_btn' style='right:54px;top:28px;width:40px;' onclick='ToolDB.f_ADD_dbs(1)'>PRO</button>
      <button class='cl_btn' style='right:98px;top:28px;width:80px;' onclick='ToolDB.f_ADD_dbs(2)'>Enterprise</button>
      
      
       <div id='id_body_database' style='position:absolute;left:0;top:64px;right:8px;bottom:0;border:1px solid #AAA;box-sizing:border-box;border-radius:2px;overflow:auto;'></div>
    </div>
    
    <!-- actions -->
    <div style='position:absolute;left:30%;top:0;width:70%;height:100%;'>
      <div style='font:bold 14px opensansR;color:#000;'>Actions</div>
      <button class='cl_btn' style='left:0px;top:28px;width:60px;' onclick='ToolDB.f_edit_act(-1)'>Add</button>
       <div id='id_body_actions' style='position:absolute;left:0;top:64px;right:0px;bottom:0;border:1px solid #AAA;box-sizing:border-box;border-radius:2px;overflow:auto;'></div>
    </div>
  
    <!-- select ini.jsn -->
    <div style='position:absolute;right:8px;top:8px;width:270px;'>
       
      <button class='cl_btn' style='right:0px;top:1px;width:50px;' onclick='ToolDB.f_addIni(0)'>Add</button>
      <button class='cl_btn' style='right:54px;top:1px;width:60px;' onclick='ToolDB.f_delIni()'>Delete</button>
      <button class='cl_btn' style='right:118px;top:1px;width:50px;' onclick='ToolDB.f_addIni(1)'>Clone</button>
      <select id='id_selini' style='right:172px;top:0px;width:96px;' onchange='ToolDB.f_iniChange()'>
        <option value='0'>ini</option>
      </select>  
        
    </div>  
  
  
  
  </div>
</div>


<!-- mask -->
<div id='id_popup_mask' style='position:absolute;width:100%;height:100%;background-color:#000;opacity:0.4;display:none;'></div>



<!-- popup database -->
<div id='id_popup_database' class='cl_popup' style='width:320px;height:280px;margin:-140px 0 0 -160px;'>
  <div class='cl_menu'>
    <div class='cl_menu_close' onclick='ToolDB.f_edit_db_close()'></div>
    <div class='cl_menu_label'>Databases</div>
  </div>

  <div style='position:absolute;left:10px;right:10px;top:44px;bottom:44px;'>
 <!--   db host:<br>  -->
    <input id='id_db0' type='hidden' value='' />
 <!--   <br>  -->
    db name:<br>
    <input id='id_db1' type='text' />
 <!--   <br>  -->
 <!--   db user:<br> -->
    <input id='id_db2' type='hidden' value='' />
    <br>
 <!--   db password:<br>  -->
    <input id='id_db3' type='hidden' value='' />
 <!--   <br>  -->
    mainsim type:<br>
    <select id='id_db4' type='text'>
      <option value='enterprise'>enterprise</option>
      <option value='free'>free</option>
      <option value='professional'>professional</option>
      <option value='other'>other</option>
    </select>
    <br>
    enable/disable:<br>
    <select id='id_db5' type='text'>
      <option value='0'>enabled</option>
      <option value='1'>disabled</option>
    </select>  
  </div>
  
  <button class='cl_btn' style='left:8px;bottom:8px;width:70px;' onclick='ToolDB.f_edit_db_close(0)'>Cancel</button>
  <button class='cl_btn' style='left:82px;bottom:8px;width:60px;' onclick='ToolDB.f_edit_db_delete(0)'>Delete</button>
  <button class='cl_btn' style='right:8px;bottom:8px;width:60px;' onclick='ToolDB.f_edit_db_save(0)'>Save</button>
</div>





 

<!-- popup actions -->
<div id='id_popup_actions' class='cl_popup' style='width:480px;height:528px;margin:-264px 0 0 -240px;'>
  <div class='cl_menu'>
    <div class='cl_menu_close' onclick='ToolDB.f_edit_act_close()'></div>
    <div class='cl_menu_label'>Actions</div>
  </div>

  <div style='position:absolute;left:10px;right:10px;top:44px;bottom:44px;'>
    Table:<br>
    <input id='id_act0' type='text' />
    <br>
    Action name:<br>
    <select id='id_act1' type='text' />
      <option value='run_query'>Run query</option>
      <option value='update_language'>Update languages</option>
      <option value='update_settings'>Update settings</option>
      <option value='update_ui'>Update UI</option>
      <option value='update_bkm'>Update bookmarks</option>
    </select>
    <br>
    Action description:<br>
    <input id='id_act2' type='text' />
    <br>
    Option:<br>
    <textarea id='id_act3' type='text' style='height:120px'></textarea>
    <br>
    Read db master:<br>
    <select id='id_act4' type='text'>
      <option value='0'>yes</option>
      <option value='1'>no</option>
    </select>
    <br>
    enable/disable:<br>
    <select id='id_act5' type='text'>
      <option value='0'>enabled</option>
      <option value='1'>disabled</option>
    </select>  
  </div>
  
  <button class='cl_btn' style='left:8px;bottom:8px;width:70px;' onclick='ToolDB.f_edit_act_close(0)'>Cancel</button>
  <button class='cl_btn' style='left:82px;bottom:8px;width:60px;' onclick='ToolDB.f_edit_act_delete(0)'>Delete</button>
  <button class='cl_btn' style='right:8px;bottom:8px;width:60px;' onclick='ToolDB.f_edit_act_save(0)'>Save</button>
</div>



<!-- mask & waiting -->
<div id='id_wait_mask' style='position:absolute;width:100%;height:100%;background-color:#000;opacity:0.4;display:none;z-index:12000;'></div>

<div id='id_loader' style='position:absolute;left:50%;top:50%;display:none;margin-left:-100px;margin-top:-60px;width:200px;height:120px;
                          border:1px solid #AAA;border-radius:6px;background-color:#FFF;opacity:0.8;z-index:12010;'>
  <img src='../public/msim_images/default/popup/loader.gif' style='position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-34px;' />
  <div style='position:absolute;left:0;width:100%;top:50%;margin-top:28px;text-align:center;font:12px opensansL; color:#000;'>Please wait</div>
</div>








<div style='position:absolute;right:112px;top:24px;font:12px Arial;text-decoration:underline;cursor:pointer;' onclick='Debug.Open();'>debug</div>

<div id='debug' style='position:absolute;right:30px;bottom:20px;font:12px opensansL;color:#000;z-index:15000;'></div>

  </body>
</html>
