.marker-cluster-small {
    background-color: rgba(96, 130, 141, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(96, 130, 141, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(96, 130, 141, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(96, 130, 141, 0.6);
}

 /* large */
.marker-cluster-large {
    background-color: rgba(96, 130, 141, 0.6);
}
.marker-cluster-large-green {
    background-color: rgba(114, 182, 55, 0.6);
}
.marker-cluster-large-red {
    background-color: rgba(221, 45, 49, 0.6);
}
.marker-cluster-large-orange {
    background-color: rgba(205, 149, 62, 0.6);
}
.marker-cluster-large-grey {
    background-color: rgba(133, 133, 133, 0.6);
}
/* large div */
.marker-cluster-large div {
    background-color: rgba(96, 130, 141, 0.6);
}
.marker-cluster-large-green div {
    background-color: rgba(114, 182, 55, 0.8);
}
.marker-cluster-large-red div {
    background-color: rgba(221, 45, 49, 0.8);
}
.marker-cluster-large-orange div {
    background-color: rgba(205, 149, 62, 0.8);
}
.marker-cluster-large-grey div {
    background-color: rgba(133, 133, 133, 0.8);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
        color : rgba(255, 255, 255, 1.0);
	}