<html>
    <head>
        <!-- application constants -->
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ajax.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
         <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
         <script src="<?php echo JS_PATH; ?>kpi_js/Classkpi.js"></script>  
        <script src="<?php echo JS_PATH; ?>kpi_js/kpi.js"></script>
        <script src="<?php echo JS_PATH; ?>chart.js"></script>
        <style>
            body{
                background-color: #fff;
            }
            #container{
              position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            overflow: auto;
            bottom: 10px;
                
            }
            
            #second_container{
                
            }
            
            
            #sel_cont{
                position: relative;
                float: left;
            }
            
            #canv_cont{
                 position: absolute;
                /* float: left; */
                left: 50%;
                top: 50px;
                margin-left: -200px;
              }
            
            #tit_cont{
                position: relative;
                float: right;
                font-size: 18px;
            }
            
            #legend{
                position: absolute;
                /* float: left; */
                top: 420px;
            }
            
            .square{
                width: 10px;
                height:10px;
                margin-right: 5px;
                position: relative;
                float: left;
            }
            
            .txt{
                position: relative;
                float: left;
            }
            
            .leg_cont{
                width: 30px;
            }
            
            td{
                text-align: left;
            }
            
            table{
                border: 1px solid #A7CFC3;
            }
        </style>
         
    </head>
    <body onload = 'onload_data();'>
        <div id="container">
           <!-- <div id = "second_container">-->
                <div id="sel_cont">
                </div>


                <div id="canv_cont">
                    <canvas id="myLineChart" width="400" height="400"></canvas>
                </div>
               <!-- <div id="tit_cont">Opened WO</div>-->

                <div id="legend">

                </div>
            <!--</div>-->
        </div>
<script>
    
</script>
</body>
</html>