<!DOCTYPE html>
<html>
    <head>
        <title>mainsim 3.5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no;">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <?php if(THEME != '' && file_exists(realpath($_SERVER["DOCUMENT_ROOT"]."/".IMAGE_PATH."/_theme/favicon.ico"))) { ?>
        <link rel="shortcut icon" href="<?php echo IMAGE_PATH; ?>favicon.ico" />
        <?php } else { ?>
        <link rel="shortcut icon" href="<?php echo IMAGE_DEFAULT_PATH; ?>favicon.ico" />
        <?php } ?>
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">        
    </head>
    <body>
        <?php echo $this->layout()->content; ?>
    </body>
</html>