<!DOCTYPE html>
<html>
    <head>
        <title>mainsim 3.5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    	<meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" href="<?php echo IMAGE_PATH; ?>../default/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <?php if(THEME != "default" && file_exists(realpath($_SERVER["DOCUMENT_ROOT"].CSS_PATH.THEME.".css"))) { ?><link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH.THEME; ?>.css"><?php } ?>

        <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        <script type="text/JavaScript">
            moGlb.imgPath = "<?php echo IMAGE_PATH; ?>";
        </script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>login.js"></script>
    </head>
    <body>
        <?php echo $this->layout()->content?>
    </body>
</html>