<!DOCTYPE html>
<html>
    <head>
        <title>mainsim 3.5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="imagetoolbar" CONTENT="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <?php if(THEME != '' && file_exists(realpath($_SERVER["DOCUMENT_ROOT"]."/".IMAGE_PATH."/_theme/favicon.ico"))) { ?>
        <link rel="shortcut icon" href="<?php echo IMAGE_PATH; ?>favicon.ico" />
        <?php } else { ?>
        <link rel="shortcut icon" href="<?php echo IMAGE_DEFAULT_PATH; ?>favicon.ico" />
        <?php } ?>
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>default.css">
        <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH; ?>kpi.css">
        <link rel="stylesheet" type="text/css" href="<?php echo BASEURL . '/library/jquery/jquery-ui.css' ?>">
        <?php if(THEME != '' && file_exists(realpath($_SERVER["DOCUMENT_ROOT"].CSS_PATH.THEME.".css"))) { ?><link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH.THEME; ?>.css"><?php } ?>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>global.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>base64.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ajax.js"></script>
        <script type="text/Javascript" src="<?php echo JS_PATH; ?>init.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>check.js"></script>        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>library/default.js?random=<?php echo uniqid(); ?>"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>help.js"></script>   
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>importer.js"></script> 
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>calwin.js"></script> 
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>moment.js"></script> 
        <?php if(PROJECT_NAME != '' && file_exists(realpath($_SERVER["DOCUMENT_ROOT"].JS_PATH."library/".PROJECT_NAME.".js"))) { ?><script type="text/JavaScript" src="<?php echo JS_PATH."library/".PROJECT_NAME; ?>.js?random=<?php echo uniqid(); ?>"></script><?php } ?>
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/ui.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/button.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/checkbox.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/image.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/scrollbar.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/select.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/textfield.js"></script>
        <?php if($this->newPicklist){ ?>
            <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/newPicklist.js?random=<?php echo uniqid(); ?>"></script>
        <?php }else{ ?>
            <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/picklist.js?random=<?php echo uniqid(); ?>"></script>
        <?php } ?>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/attach.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/dtmpicker.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/popup.js?random=<?php echo uniqid(); ?>"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/layout.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/menu.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/tabbar.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/selector.js"></script>
                
        <?php if(strpos($_SERVER["REQUEST_URI"], '/admin/') !== FALSE) { ?>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>library/admin.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegrid_light.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>admin/component-design.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>admin/layout-design.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>admin/menu-design.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>admin/tabbar-design.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>admin/wf.js"></script>
        <?php } else { ?>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegrid.js?random=<?php echo uniqid(); ?>"></script>        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegrid_light_check.js"></script>        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegrid_light_check_pair.js"></script>
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegrid_light_pricelist.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/dbl_light.js"></script>
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>ui/treegrid/treegridSearch.js"></script>
        <?php } ?>
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>kpi.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>dateviewer.js"></script>        
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>debug.js"></script>        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>reverseajax.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>eventdispatcher.js"></script>     
        
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModule.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleCommandBar.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleComponent.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleFrame.js"></script>                
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleSelector.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleEdit.js?random=<?php echo uniqid(); ?>"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleTreeGrid.js"></script>
        <script src="../../public/msim_jslib/ui/timeline.js" type="text/javascript"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleSummary.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleCrud.js"></script>
        <script type="text/JavaScript" src="<?php echo JS_PATH; ?>modules/moModuleAdmin.js"></script>
       
        <!--MAPPE-->
        <script src="<?php echo JS_PATH; ?>/map_js/ClassMap.js"></script>  
        <script type="text/javascript" src="<?php echo BASEURL . '/library/jquery/jquery-1.10.2.min.js' ?>"></script> 
        <script type="text/javascript" src="<?php echo BASEURL . '/library/jquery/jquery-ui.js' ?>"></script>
        <script type="text/javascript" src="<?php echo BASEURL . '/library/taggle.js-1.14.0/src/taggle.js?random='.uniqid()?>"></script>
    </head>
    <body class="<?php echo (strpos($_SERVER["REQUEST_URI"], '/admin/') !== FALSE ? 'admin' : ''); ?>">
        <?php echo $this->layout()->content?>
    </body>
</html>
